@let userPolicy = policy();

<div class="flex w-full">
  @if (userPolicy !== null) {
    <div class="flex justify-start flex-col gap-1 w-full py-2 px-4">
      <span>Действующая политика:</span>
      <ul class="pl-4 border border-[var(--md-neutral-300)] rounded-lg p-2">
        <li>
          Приоритет: <span class="font-semibold">{{ userPolicy.priority }}</span>
        </li>
        <li>
          Название: <span class="font-semibold">{{ userPolicy.name }}</span>
        </li>
      </ul>
    </div>
  } @else {
    <span>{{ 'user-properties-password-policy.no-policy' | transloco }}</span>
  }
</div>
