<md-modal #modal>
    <div class="app-modal-header">
        {{ 'entity-type-selector.modal-header' | transloco }}
    </div>

    <div class="flex-row">
        {{ 'entity-type-selector.header' | transloco }}
    </div>
    <div>
        <md-treeview [tree]="tree" [checkboxes]="true">
        </md-treeview>
    </div>

    <div class="app-modal-footer flex-row justify-end flex-gap-10">
        <md-button (click)="close()">{{ 'entity-type-selector.cancel' | transloco }}</md-button>
        <md-button [primary]="true" (click)="finish()">{{ 'entity-type-selector.apply' | transloco }}</md-button>
    </div>
</md-modal>