<div class="flex flex-col search-form">
  <md-form #form>
    <div class="row">
      <label class="textbox-label">{{ 'search-panel.search-label' | transloco }}</label>
    </div>

    <div class="row">
      <div class="col-xs-5 col-xs-5">
        <md-dropdown [options]="searchTypes" [(ngModel)]="searchType"> </md-dropdown>
      </div>
      <div class="flex col-xs-4 col-xs-4">
        <label class="pr-8">{{ 'search-panel.in-label' | transloco }}</label>
        <md-dropdown [options]="searchSources" [(ngModel)]="selectedSearchSource"> </md-dropdown>
      </div>
      <div class="col-xs-3 col-xs-3">
        <md-button (click)="search()" [primary]="true">{{
          'search-panel.search' | transloco
        }}</md-button>
      </div>
    </div>
    @switch (searchType) {
      @case (SearchType.Ldap) {
        <app-search-users (clear)="clear()" #searchUserForm></app-search-users>
      }
    }
  </md-form>
  @if (searchResults.length > 0) {
    <div class="search-result">
      <app-search-result [rows]="searchResults" #searchResultForm></app-search-result>
    </div>
  }
  <md-spinner
    #spinner
    name="searc-spinner"
    spinnerText="{{ 'search-panel.search-spinner-label' | transloco }}"
  ></md-spinner>
</div>
