<md-datagrid
  #grid
  name="table-view"
  [rows]="rows"
  [columns]="columns"
  [externalPaging]="true"
  (contextmenu)="handleRightClick($event)"
  [page]="page"
  (pageChanged)="onPageChanged($event)"
  (doubleclick)="onDoubleClick($event)"
  [pageSizes]="pageSizes"
  pagerTitle="{{ 'grid.pager-title' | transloco }}"
  fromTitle="{{ 'grid.from-title' | transloco }}"
  emptyMessage="{{ 'grid.no-data' | transloco }}"
></md-datagrid>
<ng-template #iconTemplate let-row="row" let-value="value">
  <img class="row-icon" [src]="row.icon" />
  {{ row.name }}
</ng-template>
