:host {
  position: relative !important;
  height: 100% !important;
}

.accountEnabledToggle {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  &.disabled {
    background-color: var(--md-neutral-100);
  }
}

.go-to-parent {
  &:not(:disabled):hover {
    background: var(--md-neutral-100);
  }
}
