<label>
  {{ 'members.members' | transloco }}
</label>
<div class="flex-row w-100" style="min-height: 450px">
  <md-datagrid
    pagerTitle="{{ 'grid.pager-title' | transloco }}"
    fromTitle="{{ 'grid.from-title' | transloco }}"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
    class="w-100"
    [columns]="columns"
    [rows]="members"
    [stretchHeight]="true"
    #groupList
  >
  </md-datagrid>
</div>
<div class="flex-row button-row">
  <md-button (click)="addMember()">{{ 'member-of.add' | transloco }}</md-button>
  <md-button (click)="deleteMember()">{{ 'member-of.delete' | transloco }}</md-button>
</div>
