<div class="flex flex-col gap-2 py-2 px-2">
  @for (connection of connections; track $index) {
    <div class="grid grid-cols-4 grid-rows-2 p-1 border border-solid rounded-xl px-4 py-4">
      <div class="col-1 row-1 max-w-1/10 row-span-2 flex align-center justify-start text-6xl">
        <label>{{ $index }}</label>
      </div>
      <div class="col-2 row-1 flex align-center justify-start">{{ connection.name }}</div>
      <div class="col-2 row-2 flex align-center justify-start">
        {{ connection.host }}:{{ connection.port }}
      </div>
      <div class="col-3 row-1 row-span-2 flex align-center justify-center">
        {{ connection.type }}
      </div>
      <div class="col-4 row-1 row-span-2 flex flex-row align-center justify-center">
        <md-plane-button class="control-button" (click)="onEditClick()">
          <img
            class="control-button-logo"
            width="24"
            height="24"
            src="assets/pencil.svg"
            alt="pencil-icon"
          />
        </md-plane-button>
        <md-plane-button class="control-button" (click)="onDeleteClick($index)">
          <img
            class="control-button-logo"
            width="24"
            height="24"
            src="assets/trash.svg"
            alt="trash-icon"
          />
        </md-plane-button>
      </div>
    </div>
  }
</div>
