<div class="flex-row flex-space-between">
    <label>Admin Login</label>
    <md-textbox required [(ngModel)]="login" mdErrorMessage></md-textbox>
</div>

<div class="flex-row flex-space-between">
    <label>Admin Password</label>
    <md-textbox required [password]="true" [(ngModel)]="password" mdErrorMessage></md-textbox>
</div>

<div class="flex-row flex-space-between">
    <label>Repeat Password</label>
    <md-textbox required [password]="true" [(ngModel)]="password" mdErrorMessage></md-textbox>
</div>        