<div class="app-modal-header">
    <div>{{ 'computer-create.modal-header' | transloco }}</div>
</div>
<div class="flex-row align-center flex-gap-10">
    <div class="avatar"><img src="/assets/empty_avatar.svg" class="avatar-img"/></div>
    <div class="place">{{ 'computer-create.header' | transloco }} {{this.parentDn}}</div>
</div>  
<hr />
<div class="flex-column align-start justify-end flex-gap-10" style="max-height: 400px;">
    <md-form #form>
        <div class="flex-column align-start justify-end flex-gap-10" >
                <label for="computerName">{{ 'computer-create.computername-label' | transloco }}</label>
                <md-textbox appRequired  [(ngModel)]="computerName" name="computerName"></md-textbox>
        </div>
        <div class="flex-column align-start justify-end flex-gap-10" >
            <label for="legacyComputerName">{{ 'computer-create.computernamelegacy-label' | transloco }}</label>
            <md-textbox [(ngModel)]="legacyComputerName" name="legacyComputerName"></md-textbox>
        </div>
        <div class="pv-8">
            <label>{{ 'computer-create.account-description' | transloco }}</label>
        </div>
        <div class="flex-column">
            <label for="user-or-group">{{ 'computer-create.user-or-group' | transloco }}</label>
            <div class="row" >
                <div class="col-md-5">
                    <md-textbox [disabled]="true" [(ngModel)]="ownerDn" name="ownerDn"></md-textbox>
                </div>
                <div class="col-md-2">
                    <md-plane-button [hasBorder]="true" (click)="showAccountSelector($event)">{{ 'computer-create.change' | transloco }}</md-plane-button>
                </div>
            </div>
            <div>
                <md-checkbox [disabled]="true"  [(ngModel)]="isLegacyAccount">{{ 'computer-create.assigns-legacy-account' | transloco }}</md-checkbox>
            </div>
        </div>
        <div class="flex-column align-start flex-space-between flex-gap-10 pt-16">
            <label for="description">{{ 'computer-create.description' | transloco }}</label>
            <div class="row">
                <md-textarea [expandWidth]="true" class="col-md-7"  [(ngModel)]="description" name="description"></md-textarea>
            </div>
        </div>
    </md-form>
</div>  

<div class="app-modal-footer">
    <div class="flex-row align-center justify-end flex-gap-10">
        <md-button (click)="onClose()">
            {{ 'computer-create.cancel' | transloco }}
        </md-button>
        <md-button [primary]="true" [disabled]="!formValid" (click)="onFinish($event)">
            {{ 'computer-create.apply' | transloco }}
        </md-button>
    </div>
</div>


<app-group-selector #groupSelector></app-group-selector>