<app-dialog>
  <div class="app-modal-header">{{ 'catalog-selector.modal-header' | transloco }}</div>

  <div class="app-modal-body h-100">
    <div>{{ 'catalog-selector.header' | transloco }}</div>
    <md-treeview #ldapTree [tree]="ldapRoots" class="treeview"> </md-treeview>
  </div>

  <div class="app-modal-footer flex-row flex-end flex-gap-10">
    <md-button (click)="close()">{{ 'catalog-selector.cancel' | transloco }}</md-button>
    <md-button (click)="finish()" [primary]="true"
      >{{ 'catalog-selector.apply' | transloco }}
    </md-button>
  </div>

  <ng-template #mdTreeModal let-data>
    <img [src]="data.icon" class="tree-icon" />
    <label class="tree-label">{{ data.name }}</label>
  </ng-template>
</app-dialog>
