.control-button {
  min-width: 32px;
}

.control-button:hover {
  background-color: var(--md-white);

  & img {
    filter: invert(37%) sepia(85%) saturate(416%) hue-rotate(166deg) brightness(98%) contrast(86%);
  }
}
.control-button-logo {
  height: 20px;
  width: 20px;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: fixed;
  transform: translateX(-0%) translateY(-32px);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100000;
}

[data-tooltip]:hover::before {
  opacity: 1;
}
