<app-dialog>
  <form #zoneForm="ngForm">
    <div class="app-modal-header">{{ 'add-forward-zone-dialog.modal-header' | transloco }}</div>
    <div class="flex flex-row gap-2 py-2">
      <label>{{ 'add-forward-zone-dialog.zone-name' | transloco }}</label>
      <md-textbox [(ngModel)]="zone.name" name="zoneName" required></md-textbox>
    </div>

    <div class="grid grid-cols-4 grid-rows-4 h-full w-full">
      <div
        class="col-1 row-1 col-span-3 row-span-3 flex flex-col gap-2 overflow-y-auto max-h-64 px-2"
      >
        @for (forwarder of zone.forwarders; track $index) {
          <form (submit)="submitForwarder(form, $index)" #form="ngForm">
            <div
              [ngClass]="{
                'bg-blue-200': selectedForwaderIndex === $index,
              }"
              class="flex flex-row w-full border-2 border-solid p-16 rounded-xl justify-between cursor-pointer"
              (click)="selectedForwaderIndex = $index"
            >
              <div class="flex flex-row w-full gap-2 px-2" (click)="submitForwarder(form, $index)">
                <md-textbox [(ngModel)]="zone.forwarders[$index]" name="ip"></md-textbox>
                <div class="decoration-dotted underline cursor-pointer">
                  {{ forwarderResponse.has($index) ? forwarderResponse.get($index)?.FQDN : 'FQDN' }}
                </div>
              </div>
              <div class="px-2">
                @if (forwarderResponse.has($index)) {
                  @if (forwarderResponse.get($index)!.status == 'validated') {
                    <fa-icon [icon]="faCheck"></fa-icon>
                  }
                  @if (forwarderResponse.get($index)!.status !== 'validated') {
                    <fa-icon [icon]="faCross"></fa-icon>
                  }
                }
              </div>
              <div>
                <md-plane-button
                  class="control-button max-h-4"
                  (click)="onDeleteForwarderClick(forwarder)"
                >
                  <img class="control-button-logo" [src]="'assets/trash.svg'" />
                </md-plane-button>
              </div>
            </div>
          </form>
        }
      </div>

      <div class="col-4 row-1 row-span-3 gap-2 flex flex-col gap-2 px-2">
        <md-button
          [stretch]="true"
          [disabled]="selectedForwaderIndex == undefined || selectedForwaderIndex === 0"
          (click)="moveUp()"
          >{{ 'add-forward-zone-dialog.up' | transloco }}</md-button
        >
        <md-button
          [stretch]="true"
          [disabled]="
            selectedForwaderIndex == undefined ||
            selectedForwaderIndex === zone.forwarders.length - 1
          "
          (click)="moveDown()"
          >{{ 'add-forward-zone-dialog.down' | transloco }}</md-button
        >
      </div>
      <div class="row-4 col-1 col-span-4 whitespace-nowrap flex flex-row gap-2 py-2">
        <md-button (click)="addForwarder()">{{
          'add-forward-zone-dialog.add' | transloco
        }}</md-button>
      </div>
    </div>

    <div class="app-modal-footer">
      <div class="w-full flex justify-end gap-2 px-2">
        <md-button (click)="cancel()">{{ 'add-forward-zone-dialog.cancel' | transloco }}</md-button>
        <md-button [disabled]="!zoneForm.valid" (click)="apply()">{{
          'add-forward-zone-dialog.apply' | transloco
        }}</md-button>
      </div>
    </div>
  </form>
</app-dialog>
