<div *transloco="let t; prefix: 'settings-navigation'" class="nav">
  <div
    [ngClass]="{ selected: url.endsWith('multidirectory') || url.endsWith('settings') }"
    class="nav-item"
    routerLink="/settings/"
  >
    {{ t('md-settings') }}
  </div>
  <div
    [ngClass]="{ selected: url.endsWith('multifactor') }"
    class="nav-item"
    routerLink="/settings/multifactor"
  >
    {{ t('mf-settings') }}
  </div>

  <div
    [ngClass]="{ selected: url.endsWith('about') }"
    class="nav-item"
    routerLink="/settings/about"
  >
    {{ t('about') }}
  </div>

  <div
    [ngClass]="{ selected: url.endsWith('kdc-principals') }"
    class="nav-item"
    routerLink="/settings/kdc-principals"
  >
    {{ t('kdc-principals') }}
  </div>

  <div [ngClass]="{ selected: url.endsWith('dns') }" class="nav-item" routerLink="/settings/dns">
    {{ t('dns-settings') }}
  </div>

  <div
    [ngClass]="{ selected: url.endsWith('sessions') }"
    class="nav-item"
    routerLink="/settings/sessions"
  >
    {{ t('sessions') }}
  </div>
</div>
