@if (accessor) {
  <!-- User Profile Section -->
  <div class="mt-6 w-full">
    <md-group title="{{ 'user-properties-profile.user-profile' | transloco }}">
      <!-- Profile Path -->
      <div class="grid grid-cols-6 gap-4 items-start mb-4">
        <label for="profile-path" class="col-span-1">
          {{ 'user-properties-profile.profile-path' | transloco }}
        </label>
        <md-textbox
          class="col-span-5 w-full"
          name="profile-path"
          [(ngModel)]="accessor.profilePath"
        ></md-textbox>
      </div>

      <!-- Logon Script -->
      <div class="grid grid-cols-6 gap-4 items-start mb-4">
        <label for="script-path" class="col-span-1">
          {{ 'user-properties-profile.logon-script' | transloco }}
        </label>
        <md-textbox
          class="col-span-5 w-full"
          name="script-path"
          [(ngModel)]="accessor.scriptPath"
        ></md-textbox>
      </div>

      <!-- Login Shell -->
      <div class="grid grid-cols-6 gap-4 items-start">
        <label for="login-shell" class="col-span-1">
          {{ 'user-properties-profile.login-shell' | transloco }}
        </label>
        <md-textbox
          class="col-span-5 w-full"
          name="login-shell"
          [(ngModel)]="accessor.loginShell"
        ></md-textbox>
      </div>
    </md-group>
  </div>

  <!-- Home Directory Selection -->
  <md-radiogroup
    #radiogroup
    [(ngModel)]="homeDirectorySelection"
    [drawBorder]="true"
    class="mt-8"
    title="{{ 'user-properties-profile.home-catalog' | transloco }}"
  >
    <!-- Local Path -->
    <div class="grid grid-cols-6 gap-4 items-center mb-4">
      <div class="flex items-center gap-2 col-span-2">
        <md-radiobutton [group]="radiogroup" [value]="1"></md-radiobutton>
        <label class="text-sm">
          {{ 'user-properties-profile.local-path' | transloco }}
        </label>
      </div>
      <md-textbox
        class="col-span-4 w-full"
        [disabled]="homeDirectorySelection !== 1"
        [(ngModel)]="accessor.homeDirectory"
      ></md-textbox>
    </div>

    <!-- Mount Point -->
    <div class="grid grid-cols-6 gap-4 items-center">
      <div class="flex items-center gap-2 col-span-2">
        <md-radiobutton [group]="radiogroup" [value]="2"></md-radiobutton>
        <label class="text-sm">
          {{ 'user-properties-profile.mount' | transloco }}
        </label>
      </div>
      <div class="col-span-4 flex items-center gap-2">
        <md-dropdown
          [options]="['C:', 'Z:', 'D:']"
          [ngModel]="'C:'"
          [disabled]="homeDirectorySelection !== 2"
          class="w-16"
        ></md-dropdown>
        <label class="text-sm"> {{ 'user-properties-profile.to' | transloco }}: </label>
        <md-textbox class="w-full" [disabled]="homeDirectorySelection !== 2"></md-textbox>
      </div>
    </div>
  </md-radiogroup>
}
