.icon-grid {
    display: grid;
    grid-template-columns: repeat(100, 64px);
    grid-template-rows: repeat(100, 96px);
    gap: 1rem;

    grid-auto-flow: row;
    .grid-item {
        display: flex;
        flex-flow: column nowrap;
        width: 64px;
        height: 96px;
        align-items: center;
    }
}