@if (subnetsExists && subnetsList.length > 0) {
  <dhcp-areas [subnetsList]="subnetsList"></dhcp-areas>
}
subnetsExists {{ subnetsExists }}

@if (!subnetsExists) {
  <div>
    <div class="p-2">
      <md-alert>
        <div class="flex gap-2">
          <div class="flex justify-center flex-align-center">
            <fa-icon [icon]="faCircleExclamation" size="2x"></fa-icon>
          </div>
          <div cxlass="flex flex-col">
            <h3>{{ 'dns-settings.setup-dhcp-description' | transloco }}</h3>
            <div class="pv-8">
              <md-button (click)="handleSetupClick()">{{
                'setup.domain-settings.enableDhcp' | transloco
              }}</md-button>
            </div>
          </div>
        </div>
      </md-alert>
    </div>
  </div>
}
