<div class="app-modal-header">
  {{ 'properties-modal.modal-header' | transloco }}
</div>

<div class="h-100">
  <ng-container [ngSwitch]="_entityType">
    <app-user-properties
      class="block h-100"
      [accessor]="accessor"
      *ngSwitchCase="EntityTypes.User"
    ></app-user-properties>
    <app-group-properties
      class="block h-100"
      [accessor]="accessor"
      *ngSwitchCase="EntityTypes.Group"
    ></app-group-properties>
    <div class="block flex-row" *ngSwitchDefault>
      <app-entity-attributes class="w-100"></app-entity-attributes>
    </div>
  </ng-container>
</div>

<div class="app-modal-footer flex-row flex-end">
  <md-button class="pr-8" (click)="close()">{{ 'properties-modal.close' | transloco }}</md-button>
  <md-button [primary]="true" (click)="save()">{{
    'properties-modal.approve' | transloco
  }}</md-button>
</div>
