{
  "extends": ["stylelint-prettier/recommended", "stylelint-config-prettier"],
  "rules": {
    "prettier/prettier": true,
    "selector-type-no-unknown": null,
    "selector-pseudo-element-no-unknown": null,
    "no-empty-source": null,
    "no-descending-specificity": null
  }
}
