<div class="flex flex-col gap-2">
  <div>
    <p>{{ 'entity-detail-object-classes.header' | transloco }}</p>
  </div>
  <div style="min-height: 420px">
    <md-datagrid
      [rows]="objectClasses()"
      [columns]="columns()"
      [total]="objectClasses().length"
      [limit]="objectClasses().length"
      [offset]="0"
    />
  </div>
  <div class="flex flex-row gap-2 justify-start">
    <md-button>{{ 'entity-detail-object-classes.add' | transloco }}</md-button>
    <md-button>{{ 'entity-detail-object-classes.delete' | transloco }}</md-button>
  </div>
</div>
