@if (dnsRule) {
  <div class="client-grid p-8">
    <div class="cell-index">{{ index }}</div>
    <div class="cell-domain">{{ dnsRule.record_name }}</div>
    <div class="cell-value">{{ dnsRule.record_value }}</div>
    <div class="cell-type">{{ getType(dnsRule.record_type) }}</div>
    <div class="cell-ttl"></div>
    <div class="cell-control-buttons">
      <md-plane-button class="control-button" (click)="onEditClick()">
        <img class="control-button-logo" [src]="'assets/pencil.svg'" />
      </md-plane-button>
      <md-plane-button class="control-button" (click)="onDeleteClick()">
        <img class="control-button-logo" [src]="'assets/trash.svg'" />
      </md-plane-button>
    </div>
  </div>
}
