<app-dialog>
  <div class="app-modal-header">
    {{ 'group-selector.modal-header' | transloco }}
  </div>
  <div class="flex flex-col h-full">
    <div class="flex">
      {{ 'group-selector.header' | transloco }}
    </div>
    <div class="flex w-full gap-1">
      <md-textbox
        [(ngModel)]="entityTypeDisplay"
        [disabled]="true"
        class="grow-2 flex-grow-1"
      ></md-textbox>
      <md-button (click)="selectEntityType()" [disabled]="!allowSelectEntityTypes" class="grow-1">
        {{ 'group-selector.object-types' | transloco }}
      </md-button>
    </div>
    <div class="flex">
      {{ 'group-selector.from-place' | transloco }}
    </div>
    <div class="flex w-full gap-1">
      <md-textbox
        [(ngModel)]="selectedCatalogDn"
        [disabled]="true"
        class="grow-2 flex-grow-1"
      ></md-textbox>
      <md-plane-button (click)="selectCatalog()" [hasBorder]="true" class="grow-1">
        {{ 'group-selector.places' | transloco }}
      </md-plane-button>
    </div>
    <div class="flex">
      {{ 'group-selector.name-prompt' | transloco }}
    </div>
    <div class="flex-grow-1 row gap-1" style="height: 96px">
      <!--md-textarea class="grow-2 flex-grow-1 w-full" [expandWidth]="true" [expandHeight]="true" [(ngModel)]="name"></md-textarea-->
      <md-multiselect
        #selector
        (inputChanged)="checkNames()"
        [(ngModel)]="name"
        [notFoundText]="'group-selector.not-found-text' | transloco"
        [options]="availableGroups"
        [suppressMenu]="true"
        class="grow-2 flex-grow-1"
      >
      </md-multiselect>
      <md-plane-button (click)="checkNames()" [hasBorder]="true" class="grow-1 text-nowrap">
        {{ 'group-selector.check-name' | transloco }}
      </md-plane-button>
    </div>
  </div>
  <div class="app-modal-footer">
    <div class="flex flex-space-between">
      <md-button [disabled]="true">
        {{ 'group-selector.additional-parameters' | transloco }}
      </md-button>
      <div class="flex gap-1">
        <md-button (click)="close()">
          {{ 'group-selector.cancel' | transloco }}
        </md-button>
        <md-button (click)="finish()" [disabled]="!selector.selectedData.length" [primary]="true">
          {{ 'group-selector.apply' | transloco }}
        </md-button>
      </div>
    </div>
  </div>
</app-dialog>
