<app-dialog>
  <div class="app-modal-header">
    {{ 'group-selector.modal-header' | transloco }}
  </div>
  <div class="grid grid-rows-6 grid-cols-6 gap-1">
    <div class="row-1 col-span-6 h-8">
      {{ 'group-selector.header' | transloco }}
    </div>

    <md-textbox
      [(ngModel)]="entityTypeDisplay"
      [disabled]="true"
      class="row-2 col-1 col-span-4"
    ></md-textbox>
    <md-button
      (click)="selectEntityType()"
      [disabled]="!allowSelectEntityTypes"
      class="row-2 col-4 col-span-3"
    >
      {{ 'group-selector.object-types' | transloco }}
    </md-button>

    <div class="row-3 col-1 col-span-6">
      {{ 'group-selector.from-place' | transloco }}
    </div>

    <md-textbox
      [(ngModel)]="selectedCatalogDn"
      [disabled]="true"
      class="row-4 col-1 col-span-4"
    ></md-textbox>
    <md-plane-button (click)="selectCatalog()" [hasBorder]="true" class="row-4 col-4 col-span-3">
      {{ 'group-selector.places' | transloco }}
    </md-plane-button>

    <div class="row-5 col-span-6">
      {{ 'group-selector.name-prompt' | transloco }}
    </div>

    <md-multiselect
      #selector
      (inputChanged)="checkNames()"
      [(ngModel)]="name"
      [notFoundText]="'group-selector.not-found-text' | transloco"
      [options]="availableGroups"
      [suppressMenu]="true"
      class="row-6 col-1 col-span-4"
    >
    </md-multiselect>
    <md-plane-button (click)="checkNames()" [hasBorder]="true" class="row-6 col-4 col-span-3">
      {{ 'group-selector.check-name' | transloco }}
    </md-plane-button>
  </div>
  <div class="app-modal-footer">
    <div class="flex justify-between">
      <md-button [disabled]="true">
        {{ 'group-selector.additional-parameters' | transloco }}
      </md-button>
      <div class="flex gap-1">
        <md-button (click)="close()">
          {{ 'group-selector.cancel' | transloco }}
        </md-button>
        <md-button (click)="finish()" [disabled]="!selector.selectedData.length" [primary]="true">
          {{ 'group-selector.apply' | transloco }}
        </md-button>
      </div>
    </div>
  </div>
</app-dialog>
