<div>
  <div>
    <span *ngIf="!checkPasswordMinimalLength">❌</span>
    <span *ngIf="checkPasswordMinimalLength"> ✓ </span>
    {{
      'password-conditions.minimum-password-length'
        | transloco: { minimumPasswordLength: minimumPasswordLength }
    }}
  </div>
  <div *ngIf="passwordMustMeetComplexityRequirements">
    <span *ngIf="!checkPasswordComplexity">❌</span>
    <span *ngIf="checkPasswordComplexity"> ✓ </span>
    {{ 'password-conditions.password-complexity' | transloco }}
  </div>
</div>
