<div class="entity-attributes-container h-100 flex-column">
  <div class="flex-row flex-gap-10 mv-8">
    <label for="search">{{ 'entity-attributes.header' | transloco }}</label>
    <md-textbox
      (ngModelChange)="onFilterChange()"
      [(ngModel)]="searchQuery"
      name="search"
    ></md-textbox>
    <md-button (click)="onEditClick(searchQuery)" [disabled]="!searchQuery"
      >{{ 'entity-attributes.add' | transloco }}
    </md-button>
  </div>
  <div class="flex-row w-100 h-100" style="min-height: 400px">
    <md-datagrid
      (doubleclick)="onEditClick()"
      (pageChanged)="onPageChanged($event)"
      [columns]="propColumns"
      [externalPaging]="true"
      [hideFooter]="true"
      [page]="page"
      [rows]="rows"
      [scrollbarV]="true"
      [stretchHeight]="true"
      emptyMessage="{{ 'grid.no-data' | transloco }}"
      fromTitle="{{ 'grid.from-title' | transloco }}"
      pagerTitle="{{ 'grid.pager-title' | transloco }}"
      style="flex: 1"
    >
      <ng-template #dataGridCellTemplate let-isSelected="isSelected" let-value="value">
        <div class="datatable-body-cell-label body-cell-label">
          <img
            (click)="onCopyClick(value)"
            [ngClass]="['copy-icon', isSelected ? 'active' : '']"
            alt="copy"
            height="12"
            src="./assets/copy.svg"
            width="12"
          />

          <span [title]="value">{{ value }}</span>
        </div>
      </ng-template>
    </md-datagrid>
  </div>
  <div class="flex-row flex-space-between pt-16">
    <div class="flex-row justify-start flex-gap-10">
      <md-button (click)="onEditClick()">{{ 'entity-attributes.edit' | transloco }}</md-button>
      <md-button (click)="onDeleteClick()">{{ 'entity-attributes.delete' | transloco }}</md-button>
    </div>
    <md-button [mdDropdownContainer]="filterMenu" class=""
      >{{ 'entity-attributes.filter' | transloco }}
    </md-button>
  </div>
</div>

<md-dropdown-menu #filterMenu>
  <div class="dropdown-item">
    <md-checkbox
      (change)="onFilterChange()"
      [(ngModel)]="filter.showWithValuesOnly"
      id="show-with-values-only"
      name="show-with-values-only"
    >
      {{ 'entity-attributes.with-values-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox
      (change)="onFilterChange()"
      [(ngModel)]="filter.showWritableOnly"
      id="show-writable-only"
      name="show-writable-only"
    >
      {{ 'entity-attributes.writable-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">
    {{ 'entity-attributes.show-attributes' | transloco }}
  </label>
  <div class="dropdown-item">
    <md-checkbox [disabled]="true" id="mandatory-only" name="mandatory-only">
      {{ 'entity-attributes.mandatory' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox [disabled]="true" id="optional-only" name="optional-only">
      {{ 'entity-attributes.optional-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">{{ 'entity-attributes.read-only' | transloco }}</label>
  <div class="dropdown-item">
    <md-checkbox [disabled]="true" id="constructed-only" name="constructed-only">
      {{ 'entity-attributes.constructed-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox [disabled]="true" id="backlinks-only" name="backlinks-only">
      {{ 'entity-attributes.backlinks-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox [disabled]="true" id="system-only" name="system-only">
      {{ 'entity-attributes.system-only' | transloco }}
    </md-checkbox>
  </div>
</md-dropdown-menu>
