<div class="entity-attributes-container h-full flex flex-col">
  <div class="flex gap-1 mv-8">
    <label for="search">{{ 'entity-attributes.header' | transloco }}</label>
    <md-textbox
      (ngModelChange)="onFilterChange()"
      [(ngModel)]="searchQuery"
      name="search"
    ></md-textbox>
    <md-button (click)="onEditClick(searchQuery)" [disabled]="!searchQuery"
      >{{ 'entity-attributes.add' | transloco }}
    </md-button>
  </div>
  <div class="flex w-full h-full" style="min-height: 400px">
    <md-datagrid
      (doubleclick)="onEditClick()"
      (pageChanged)="onPageChanged($event)"
      [columns]="propColumns"
      [externalPaging]="true"
      [hideFooter]="true"
      [page]="page"
      [rows]="rows"
      [scrollbarV]="true"
      [stretchHeight]="true"
      emptyMessage="{{ 'grid.no-data' | transloco }}"
      fromTitle="{{ 'grid.from-title' | transloco }}"
      pagerTitle="{{ 'grid.pager-title' | transloco }}"
      style="flex: 1"
    >
      <ng-template #dataGridCellTemplate let-isSelected="isSelected" let-value="value">
        <div class="datatable-body-cell-label body-cell-label">
          <img
            (click)="onCopyClick(value)"
            [ngClass]="['copy-icon', isSelected ? 'active' : '']"
            alt="copy"
            height="12"
            src="./assets/copy.svg"
            width="12"
          />

          <span [title]="value">{{ value }}</span>
        </div>
      </ng-template>
    </md-datagrid>
  </div>
  <div class="flex justify-between pt-16">
    <div class="flex justify-start gap-1">
      <md-button (click)="onEditClick()">{{ 'entity-attributes.edit' | transloco }}</md-button>
      <md-button (click)="onDeleteClick()">{{ 'entity-attributes.delete' | transloco }}</md-button>
    </div>
    <md-button (click)="openFilterContext($event)">{{
      'entity-attributes.filter' | transloco
    }}</md-button>
  </div>
</div>
