<div class="entity-attributes-container h-full flex flex-col">
  <div class="flex gap-1 mv-8">
    <label for="search">{{ 'entity-attributes.header' | transloco }}</label>
    <md-textbox
      name="search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onFilterChange()"
    ></md-textbox>
    <md-button [disabled]="!searchQuery" (click)="onEditClick(searchQuery)">{{
      'entity-attributes.add' | transloco
    }}</md-button>
  </div>
  <div class="flex w-full h-full" style="min-height: 400px">
    <md-datagrid
      #propGrid
      [rows]="rows"
      [columns]="propColumns"
      [scrollbarV]="true"
      [externalPaging]="true"
      [(total)]="total"
      [(limit)]="limit"
      [(offset)]="offset"
      [stretchHeight]="true"
      [hideFooter]="true"
      (doubleclick)="onEditClick()"
      pagerTitle="{{ 'grid.pager-title' | transloco }}"
      fromTitle="{{ 'grid.from-title' | transloco }}"
      emptyMessage="{{ 'grid.no-data' | transloco }}"
      class="w-full"
    >
      <ng-template #dataGridCellTemplate let-value="value" let-isSelected="isSelected">
        <div class="datatable-body-cell-label body-cell-label">
          <img
            [ngClass]="['copy-icon', isSelected ? 'active' : '']"
            (click)="onCopyClick(value)"
            src="./assets/copy.svg"
            alt="copy"
            width="12"
            height="12"
          />

          <span [title]="value">{{ value }}</span>
        </div>
      </ng-template>
    </md-datagrid>
  </div>
  <div class="flex justify-between pt-16">
    <div class="flex justify-start gap-1">
      <md-button (click)="onEditClick()">{{ 'entity-attributes.edit' | transloco }}</md-button>
      <md-button (click)="onDeleteClick()">{{ 'entity-attributes.delete' | transloco }}</md-button>
    </div>
    <md-button [mdDropdownContainer]="filterMenu" class="">{{
      'entity-attributes.filter' | transloco
    }}</md-button>
  </div>
</div>

<md-dropdown-menu #filterMenu>
  <div class="dropdown-item">
    <md-checkbox
      name="show-with-values-only"
      id="show-with-values-only"
      [(ngModel)]="filter().showWithValuesOnly"
      (change)="onFilterChange()"
    >
      {{ 'entity-attributes.with-values-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox
      name="show-writable-only"
      id="show-writable-only"
      [(ngModel)]="filter().showWritableOnly"
      (change)="onFilterChange()"
    >
      {{ 'entity-attributes.writable-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">
    {{ 'entity-attributes.show-attributes' | transloco }}
  </label>
  <div class="dropdown-item">
    <md-checkbox name="mandatory-only" id="mandatory-only" [disabled]="true">
      {{ 'entity-attributes.mandatory' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="optional-only" id="optional-only" [disabled]="true">
      {{ 'entity-attributes.optional-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">{{ 'entity-attributes.read-only' | transloco }}</label>
  <div class="dropdown-item">
    <md-checkbox name="constructed-only" id="constructed-only" [disabled]="true">
      {{ 'entity-attributes.constructed-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="backlinks-only" id="backlinks-only" [disabled]="true">
      {{ 'entity-attributes.backlinks-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="system-only" id="system-only">
      {{ 'entity-attributes.system-only' | transloco }}
    </md-checkbox>
  </div>
</md-dropdown-menu>
