:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.filter {
  padding: 0.5rem;
}

.filter:not(:first-child) {
  padding-top: 0;
}

.filter-label {
  padding: 0;
  padding-left: 6px;
}

.body-cell-label {
  margin-inline: 0 !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.copy-icon {
  cursor: pointer;

  &.active {
    filter: grayscale(1) brightness(1000%);
  }
}
