<app-dialog>
  <div class="app-modal-header">
    {{ title }}
  </div>
  <form #attributeForm [formGroup]="form" (submit)="addAttribute()">
    <div class="grid justify-items-end">
      <div class="flex w-full justify-between gap-4">
        <label for="newAttribute">{{ 'attributes-list.value' | transloco }}</label>
        <md-textbox class="grow-1" formControlName="newAttribute" name="newAttribute"></md-textbox>
      </div>
      <md-button [disabled]="!form.valid" [submit]="true">{{
        'attributes-list.add' | transloco
      }}</md-button>
      <md-treeview
        #treeview
        [tree]="tree"
        class="border-solid-1 h-full w-full"
        style="min-height: 200px"
      ></md-treeview>
      <div class="flex flex-col justify-between align-end">
        <md-button (click)="deleteAttribute()">{{
          'attributes-list.delete' | transloco
        }}</md-button>
        <md-button (click)="apply()" [primary]="true"
          >{{ 'attributes-list.apply' | transloco }}
        </md-button>
      </div>
    </div>
  </form>
</app-dialog>
