<md-modal #modal [width]="'540px'">
    <div class="app-modal-header">Допустимые адреса</div>
    <md-radiogroup #radioSelect [(ngModel)]="inputMode"></md-radiogroup>
    <div class="grid-layout" >
        <div class="cell-address-label">
            <md-radiobutton [group]="radioSelect" [value]="0">Адрес или маска</md-radiobutton>
        </div>
        <div class="cell-address-input">
            <md-textbox [disabled]="inputMode == 1" [(ngModel)]="singleInput"></md-textbox>
        </div>
        <div class="cell-add-button flex-row justify-center">
            <md-button (click)="addEntry()">Добавить</md-button>
        </div>
        <div class="cell-range-label flex-row flex-gap-10">
            <md-radiobutton [group]="radioSelect" [value]="1">Диапазон</md-radiobutton>
        </div>
        <div class="cell-range-input flex-column">
            <div class="flex-row flex-gap-10 flex-space-between"><label>С:</label><md-textbox [disabled]="inputMode !== 1"></md-textbox></div>
            <div class="flex-row flex-gap-10 flex-space-between"><label>До:</label><md-textbox [disabled]="inputMode !== 1"></md-textbox></div>
        </div>
        <div class="cell-values">
            <md-treeview [tree]="entries" #treeview class="border-solid-1 h-100 w-100" style="min-height: 200px;"></md-treeview>
        </div>
        <div class="cell-control-buttons flex-column flex-space-between flex-align-center">
            <md-button (click)="delete()">Удалить</md-button>
            <md-button [primary]="true" (click)="finish()">Применить</md-button>

        </div>
    </div>
</md-modal>