<div class="flex-col gap-2 py-4">
  <form #form="ngForm">
    <div class="grid grid-cols-2 gap-2">
      <label for="oid">oid</label>
      <md-textbox [(ngModel)]="objectClass().oid" required name="oid"></md-textbox>

      <label for="name">name</label>
      <md-textbox [(ngModel)]="objectClass().name" required name="name"></md-textbox>

      <label for="no_user_modification">kind</label>
      <md-dropdown
        [(ngModel)]="objectClass().kind"
        required
        name="kind"
        [options]="kindOptions"
      ></md-dropdown>
    </div>
  </form>
</div>
