<div
  *ngIf="kerberosStatus === KerberosStatusEnum.WAITING_FOR_RELOAD"
  class="alert-pane flex-row p-16"
>
  <md-alert>
    <label class="bold">{{ 'catalog-content.kerberos-should-reload-header' | transloco }}</label>
    <div>
      <p>
        {{ 'catalog-content.kerberos-should-reload-description' | transloco }}
      </p>
      <md-button (click)="setUserRequireChangePasswordClick()"
        >Затребовать смену пароля у всех пользователей без принципала</md-button
      >
    </div>
  </md-alert>
</div>
