<div *transloco="let t; read: 'multifactor-settings.mf-admin-integration'" class="flex-column flex-gap-10 p-8 w-100">
    <md-form [autocomplete]="false">
        <div class="flex-row flex-center">
            <div class="title">
                {{ t('header') }}
            </div>
        </div>
        <div class="mf-control-grid">
            <label class="flex-gap-10" for="api-key">API Key</label>
            <md-textbox [(ngModel)]="apiKey" name="api-key" class="col-xs-4"></md-textbox>

            <label class="flex-gap-10"  for="api-secret">API Secret</label>
            <md-textbox [(ngModel)]="apiSecret" [password]="true" name="api-secret" class="col-xs-4"></md-textbox>
        </div>


        <div class="flex-row flex-end">
            <md-button (click)="apply()" [primary]="true">{{ t('apply') }}</md-button>
        </div>
    </md-form>
</div>