<div class="row align-start pv-8">
    <div class="col-xs-7 flex-column align-start flex-grow-1 flex-gap-10">
        <label for="login">{{ "user-properties.login-label" | transloco }}</label>
        <md-textbox required name="login"></md-textbox>
    </div>
    <div class="col-xs-5 flex-column align-start flex-grow-1 flex-gap-10">
        <label>{{ "user-properties.domain-label" | transloco }}</label>
        <md-textbox required name="upnDomain"></md-textbox>
    </div>
</div>  
<div class="row align-start pv-8">
    <div class="col-xs-7 flex-column align-start flex-grow-1 flex-gap-10">
        <label for="login">{{ "user-properties.legacy-login-label" | transloco }}</label>
        <md-textbox [disabled]="true" name="login"></md-textbox>
    </div>
    <div class="col-xs-5 flex-column align-start flex-grow-1 flex-gap-10">
        <label>{{ "user-properties.domain-label" | transloco }}</label>
        <md-textbox [disabled]="true" name="domain"></md-textbox>
    </div>
</div>
<div class="flex-row flex-gap-10 align-start pv-8">
       <md-button (click)="showLogonTimeEditor()">{{ "user-properties.login-time" | transloco }}</md-button>
       <md-button>{{ "user-properties.login-resources" | transloco }}</md-button>
</div>
<div class="row align-start pv-8">
    <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
       <md-checkbox>{{ "user-properties.unlock-account" | transloco }}</md-checkbox>
    </div>
</div>
<md-group title="Настройки пароля"  class="row align-start pv-8 mv-16">
    <div class="col-xs-12">
        <div class="flex-column" style="height: 90px; overflow-y: scroll;" >
            <md-checkbox name="repeatPassword1" id="repeatPassword1">
                {{ "user-properties.user-should-change-password" | transloco }}
            </md-checkbox>
            <md-checkbox name="repeatPassword2" id="repeatPassword2">
                {{ "user-properties.user-unable-change-password" | transloco }}
            </md-checkbox>
            <md-checkbox name="repeatPassword3" id="repeatPassword3">
                {{ "user-properties.password-never-expires" | transloco }}
            </md-checkbox>
            <md-checkbox name="repeatPassword4" id="repeatPassword4">
                {{ "user-properties.account-disabled" | transloco }}
            </md-checkbox>
        </div>
    </div>
</md-group>
<div class="row align-start pv-8">
    <md-group title="Истечение аккаунта" class="col-xs-12">
        <div class="flex-column">
            <md-checkbox name="repeatPassword1" id="repeatPassword1">
                {{ "user-properties.never" | transloco }}
            </md-checkbox>
            <md-checkbox name="repeatPassword2" id="repeatPassword2">
                <div style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                    <label style="padding-right: 8px;">
                        {{ "user-properties.expires-label" | transloco }}
                    </label>
                    <md-textbox></md-textbox>
                </div>
            </md-checkbox>
        </div>
    </md-group>
</div>

<ng-template modalInject #editLogonTime="modalInject">
    <app-logon-time-editor></app-logon-time-editor>
</ng-template>