<div class="app-modal-header">
    {{ "access-policy-create.modal-header" | transloco }}
</div>
<md-form #form>
    <div class="flex-column">
        <div class="row pv-8">
            <div class="col-xs-4">{{ "access-policy-create.domain" | transloco }}</div>
            <div class="col-xs-8">
                <md-textbox 
                    required 
                    [(ngModel)]="accessClient.name">
                </md-textbox>
            </div>
        </div>

        <div class="row pv-8">
            <div class="col-xs-4">{{ "access-policy-create.ip-addresses" | transloco }}</div>
            <div class="col-xs-6">
                <md-textbox 
                    required 
                    validIpAddress
                    (blur)="onIpChanged()"
                    [(ngModel)]="ipAddresses">
                </md-textbox>
            </div>
            <div class="col-xs-2">
                <md-plane-button class="w-100" [hasBorder]="true" (click)="changeIpAdressAttribute()">
                    {{  'access-policy-create.add' | transloco }}
                </md-plane-button>
            </div>
        </div>

        <div class="row pv-8">
            <div class="col-xs-4">{{ 'access-policy-create.access-group' | transloco }}</div>
            <div class="col-xs-6">
                <md-multiselect 
                    [suppressMenu]="true"
                    [options]="availableGroups"
                    [(ngModel)]="groupQuery"
                    (onEnter)="checkGroups()"
                    notFoundText="{{ 'access-policy-create.group-not-found' | transloco}}"
                    #groupSelector></md-multiselect>
            </div>
            <div class="col-xs-2">
                <md-plane-button [hasBorder]="true" (click)="checkGroups()">
                    {{ "access-policy-create.check-groups" | transloco }}
                </md-plane-button>
            </div>
        </div>

        <div class="row pv-8">
            <div class="col-xs-4">MFA</div>
            <div class="col-xs-8">
                <md-dropdown class="w-100" [options]="options" [(ngModel)]="mfaAccess" required>
                </md-dropdown>
            </div>
        </div>

        <div class="row pv-8" *ngIf="mfaAccess == MfaAccessEnum.SelectedGroups">
            <div class="col-xs-4">{{ 'access-policy-create.mfa-groups' | transloco }}</div>
            <div class="col-xs-6">
                <md-multiselect 
                    [suppressMenu]="true"
                    [options]="availableMfaGroups"
                    [(ngModel)]="mfaGroupsQuery"
                    (onEnter)="checkMfaGroups()"
                    notFoundText="{{ 'access-policy-create.group-not-found' | transloco}}"
                    #mfaGroupSelector></md-multiselect>
            </div>
            <div class="col-xs-2">
                <md-plane-button [hasBorder]="true" (click)="checkMfaGroups()">
                    {{ "access-policy-create.check-groups" | transloco }}
                </md-plane-button>
            </div>
        </div>

    </div>
</md-form>
<div class="app-modal-footer flex-row justify-end flex-gap-10">
    <md-button (click)="close()">{{ "access-policy-create.cancel" | transloco }}</md-button>
    <md-button [disabled]="!form.valid" [primary]="true" (click)="save()">{{ "access-policy-create.approve" | transloco }}</md-button>
</div>

<ng-template modalInject #ipListEditor="modalInject">
    <app-access-policy-ip-list></app-access-policy-ip-list>
</ng-template>