<div class="about-section">
  <!-- Информация о продукте -->
  <div class="label">{{ 'about.product-type' | transloco }}</div>
  <div class="value" id="product-type">MultiDirectory Community</div>

  <div class="label">{{ 'about.product-version' | transloco }}</div>
  <div class="value" id="product-version">{{ vendorVersion }}</div>

  <!-- Общая информация -->
  <div class="label">{{ 'about.company' | transloco }}</div>
  <div class="value">
    <a href="https://multifactor.ru" target="_blank">МУЛЬТИФАКТОР</a>
  </div>

  <div class="label">{{ 'about.official-site' | transloco }}</div>
  <div class="value">
    <a href="https://multidirectory.ru" target="_blank">https://multidirectory.ru</a>
  </div>

  <div class="label">{{ 'about.contact-us' | transloco }}</div>
  <div class="value">
    <a href="mailto:support@multidirectory.ru">support&#64;multidirectory.ru</a>
  </div>

  <div class="label">{{ 'about.upgrade-to-enterprise' | transloco }}</div>
  <div class="value" id="enterprise-link">
    <a href="mailto:sales@multidirectory.ru">sales&#64;multidirectory.ru</a>
  </div>
</div>
