<div class="about-section">
  <!-- Информация о продукте -->
  <div class="label">Тип продукта</div>
  <div class="value" id="product-type">MultiDirectory Community</div>

  <div class="label">Версия продукта</div>
  <div class="value" id="product-version">{{ vendorVersion }}</div>

  <!-- Общая информация -->
  <div class="label">Компания - разработчик</div>
  <div class="value">
    <a href="https://multifactor.ru" target="_blank">МУЛЬТИФАКТОР</a>
  </div>

  <div class="label">Официальный сайт MultiDirectory</div>
  <div class="value">
    <a href="https://multidirectory.ru" target="_blank">https://multidirectory.ru</a>
  </div>

  <div class="label">Связаться с нами</div>
  <div class="value">
    <a href="mailto:support@multidirectory.ru">support&#64;multidirectory.ru</a>
  </div>

  <div class="label">Перейти на MultiDirectory Enterprise</div>
  <div class="value" id="enterprise-link">
    <a href="mailto:sales@multidirectory.ru">sales&#64;multidirectory.ru</a>
  </div>
</div>
