<div class="flex flex-col gap-1 p-1">
  <div class="flex flex-space-between">
    <div class="title"></div>
    <div class="flex align-center">
      <md-button (click)="onAddClick()">
        {{ 'access-policy-settings.add' | transloco }}
      </md-button>
    </div>
  </div>
  <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="policy-list">
    @for (client of clients; track client; let i = $index) {
      <div cdkDrag cdkDragBoundary=".policy-list" class="access-policy-wrapper">
        <app-acccess-policy
          [accessClient]="client"
          [index]="i + 1"
          (turnOffClick)="onTurnOffClick($event)"
          (editClick)="onEditClick($event)"
          (deleteClick)="onDeleteClick($event)"
        >
        </app-acccess-policy>
      </div>
    }
  </div>
</div>

<ng-template modalInject #createModal="modalInject">
  <app-access-policy-view-modal #createModal />
</ng-template>
