<app-dialog>
  <ng-container class="app-modal-header">
    <img class="logo-img" src="/assets/logo_login_transparent.svg" />
  </ng-container>

  <md-form #loginForm [autocomplete]="false">
    <div class="flex-column flex-space-between h-100 flex-gap-20">
      <div class="flex-row flex-space-between">
        <label class="form-label">{{ 'login.name' | transloco }}</label>
        <md-textbox [(ngModel)]="login" appRequired name="login"></md-textbox>
      </div>
      <div class="flex-row flex-space-between">
        <label class="form-label">{{ 'login.password' | transloco }}</label>
        <md-textbox
          [(ngModel)]="password"
          [allowPasswordView]="false"
          [autocomplete]="true"
          [password]="true"
          appRequired
          name="password"
        />
      </div>
    </div>
    <input (click)="onLogin($event)" hidden type="submit" />
  </md-form>

  <ng-container class="app-modal-footer">
    <div class="flex-row flex-center">
      <md-button (click)="onLogin($event)" [disabled]="!loginValid" [primary]="true"
        >{{ 'login.login' | transloco }}
      </md-button>
    </div>
  </ng-container>
</app-dialog>
<!--</md-modal>-->
