<app-dialog>
  <ng-container class="app-modal-header">
    <img class="logo-img" src="/assets/logo_login_transparent.svg" />
  </ng-container>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)" class="pt-2">
    <div class="flex flex-col justify-between h-full gap-4">
      <div class="flex justify-between">
        <label class="form-label">{{ 'login.name' | transloco }}</label>
        <md-textbox
          #usernameInput
          appRequired
          formControlName="username"
          [autocomplete]="true"
          (autofilled)="setaAutofilledValue('username', $event)"
        ></md-textbox>
      </div>
      <div class="flex justify-between">
        <label class="form-label">{{ 'login.password' | transloco }}</label>
        <md-textbox
          #passwordInput
          [allowPasswordView]="false"
          [password]="true"
          formControlName="password"
          appRequired
          [autocomplete]="true"
          (autofilled)="setaAutofilledValue('password', $event)"
        />
      </div>
    </div>
    <div class="flex justify-center buttons">
      <md-button [submit]="true" [primary]="true" [disabled]="isValid">{{ 'login.login' | transloco }} </md-button>
    </div>
  </form>
</app-dialog>
