.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.pane {
    background: white;
}

.logo-img {
    pointer-events: none;
    width: 100%;
}

.form-label {
    min-width: 90px;
    font-weight: 500;
}