.client-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 32px 1fr 1fr 1fr 1fr 64px 32px;
  border: 1px solid var(--md-neutral-400);
  border-radius: 8px;
  background-color: var(--md-white);
  min-height: 48px;

  .cell-drag-drop {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding-right: 12px;
    margin-left: 4px;
    cursor: grab;
  }

  .cell-index {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding-right: 12px;
    margin-left: 4px;
  }

  .cell-domain {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;

    &.cell-domain-expand {
      grid-row: 1 / 3;
    }
  }

  .cell-control-buttons {
    display: flex;
    grid-row: 1/3;
    grid-column: 5 / 7;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  .cell-switches {
    display: flex;
    grid-row: 1/3;
    grid-column: 6;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }
}

::ng-deep .dark-theme .control-button-logo {
  filter: invert(100%);
}
