@if (passwordPolicy()) {
  <div
    class="flex items-center justify-start gap-4 p-2 border border-[var(--md-neutral-300)] rounded-lg"
  >
    <span class="text-lg font-semibold">{{ passwordPolicy()?.name }}</span>

    <div class="flex gap-3 ms-auto">
      <md-plane-button (click)="onEditClick()">
        <img
          class="control-button-logo"
          width="24"
          height="24"
          src="assets/pencil.svg"
          alt="pencil-icon"
        />
      </md-plane-button>
    </div>
  </div>
}
