<div class="app-modal-header">
  <div>{{ 'add-principal.modal-header' | transloco }}</div>
</div>
<div class="flex-row align-center flex-gap-10">
  <div class="avatar"><img src="/assets/empty_avatar.svg" class="avatar-img" /></div>
  <div class="place">{{ 'add-principal.header' | transloco }}</div>
</div>
<hr />
<div class="flex-column align-start justify-end flex-gap-10" style="max-height: 400px">
  <md-form #form>
    <div class="flex-column align-start justify-end flex-gap-10">
      <label for="ouname">{{ 'add-principal.name-label' | transloco }}</label>
      <md-textbox
        appRequired
        appPattern="^[A-Za-z0-9!#$&()\-. ]+/[A-Za-z0-9!#$&()\-. ]+$"
        patternErrorMessage="{{ 'add-principal.format-error' | transloco }}"
        [(ngModel)]="principalName"
        name="principalName"
      ></md-textbox>
    </div>
  </md-form>
</div>

<div class="app-modal-footer">
  <div class="flex-row align-center justify-end flex-gap-10">
    <md-button (click)="onClose()">
      {{ 'add-principal.cancel' | transloco }}
    </md-button>
    <md-button [primary]="true" [disabled]="!formValid" (click)="onFinish($event)">
      {{ 'add-principal.apply' | transloco }}
    </md-button>
  </div>
</div>
