<div class="flex flex-col gap-2">
  <div class="flex flex-col gap-4 py-4">
    <md-tab-pane>
      <div class="tab-header flex flex-grow-1">
        <md-tab [el]="mustTab">{{
          'object-class-attribute-summary.must-attribute-description' | transloco
        }}</md-tab>
        <md-tab [el]="mayTab">{{
          'object-class-attribute-summary.may-attribute-description' | transloco
        }}</md-tab>
      </div>

      <div class="flex flex-col gap-2 w-full" #mustTab>
        <md-datagrid
          #mustGrid
          class="h-full"
          [stretchHeight]="true"
          [pageSizes]="mustPageSizes"
          [columns]="mustColumns"
          [rows]="objectClassMustRows"
          [(offset)]="mustOffset"
          [limit]="mustLimit"
          [(total)]="mustTotal"
          [(total)]="mustTotal"
        />
        <div class="flex flex-row gap-2 py-2 justify-end">
          <md-button
            [disabled]="objectClass.is_system"
            (click)="openObjectClassMustAttributeEditor()"
            >{{ 'object-class-attribute-summary.add' | transloco }}</md-button
          >
          <md-button [disabled]="objectClass.is_system" (click)="removeMustAttribute()">{{
            'object-class-attribute-summary.remove' | transloco
          }}</md-button>
        </div>
      </div>

      <div class="flex flex-col gap-2 w-full" #mayTab>
        <md-datagrid
          class="h-full"
          #mayGrid
          [pageSizes]="mayPageSizes"
          [columns]="mayColumns"
          [rows]="objectClassMayRows"
          [(offset)]="mayOffset"
          [(limit)]="mayLimit"
          [(total)]="mayTotal"
        />
        <div class="flex flex-row gap-2 py-2 justify-end">
          <md-button (click)="openObjectClassMayAttributeEditor()">{{
            'object-class-attribute-summary.add' | transloco
          }}</md-button>
          <md-button (click)="removeMayAttribute()">{{
            'object-class-attribute-summary.remove' | transloco
          }}</md-button>
        </div>
      </div>
    </md-tab-pane>
  </div>
</div>
