<div class="flex flex-col gap-2">
  <label>{{ 'object-class-attribute-summary.must-attribute-description' | transloco }}</label>
  <div class="h-36">
    <md-datagrid></md-datagrid>
  </div>
  <label>{{ 'object-class-attribute-summary.may-attribute-description' | transloco }}</label>
  <div class="h-36">
    <md-datagrid></md-datagrid>
  </div>
  <div class="flex flex-row gap-2">
    <md-button (click)="openObjectClassEditor()">{{
      'object-class-attribute-summary.add' | transloco
    }}</md-button>
    <md-button>{{ 'object-class-attribute-summary.remove' | transloco }}</md-button>
  </div>
</div>
