<app-dialog *transloco="let t">
  <div class="app-modal-header">{{ 'tabReservation.header' | transloco }}</div>
  <div class="flex flex-col align-start justify-end gap-1">
    <md-form [formGroup]="dhcpForm" (ngSubmit)="onSubmit($event)">
      <div class="dns-setup-grid">
        <section class="py-2">
          <div class="py-2">
            <md-textbox
              formControlName="nameOfReservation"
              [placeholder]="t('tabReservation.nameOfReservation')"
              validIpAddress
            />
          </div>
          <div class="py-2">
            <md-textbox
              formControlName="ipAddress"
              [placeholder]="t('tabReservation.ipAddress')"
              validIpAddress
            />
          </div>
          <div class="py-2">
            <md-textbox
              formControlName="macAddress"
              [placeholder]="t('tabReservation.macAddress')"
              validIpAddress
            />
          </div>
          <div class="py-2">
            <md-textbox
              formControlName="desc"
              [placeholder]="t('tabReservation.desc')"
              validIpAddress
            />
          </div>
        </section>
        <div class="app-modal-footer">
          <div class="flex align-center justify-end gap-1">
            <md-button>
              {{ 'add-principal.cancel' | transloco }}
            </md-button>
            <md-button
              type="submit"
              (click)="onSubmit($event)"
              [disabled]="!dhcpForm.valid"
              [primary]="true"
            >
              {{ 'add' | transloco }}
            </md-button>
          </div>
        </div>
      </div>
    </md-form>
  </div>
</app-dialog>
