<div class="row align-start pv-8">
    <div class="col-md-7 flex-column align-start flex-grow-1 flex-gap-10">
        <label for="login">Имя для входа:</label>
        <md-textbox required name="login"></md-textbox>
    </div>
    <div class="col-md-5 flex-column align-start flex-grow-1 flex-gap-10">
        <label>Домен</label>
        <md-textbox required name="upnDomain"></md-textbox>
    </div>
</div>  
<div class="row align-start pv-8">
    <div class="col-md-7 flex-column align-start flex-grow-1 flex-gap-10">
        <label for="login">Имя для входа(pre-Windows 2000):</label>
        <md-textbox [disabled]="true" name="login"></md-textbox>
    </div>
    <div class="col-md-5 flex-column align-start flex-grow-1 flex-gap-10">
        <label>Домен</label>
        <md-textbox [disabled]="true" name="domain"></md-textbox>
    </div>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4 flex-column align-start flex-grow-1 flex-gap-10">
       <md-button>Часы для входа</md-button>
    </div>
    <div class="col-md-6 flex-column align-start flex-grow-1 flex-gap-10">
        <md-button>Ресурсы для входа</md-button>
    </div>
</div>
<div class="row align-start pv-8">
    <div class="col-md-6 flex-column align-start flex-grow-1 flex-gap-10">
       <md-checkbox>Разблокировать аккаунт</md-checkbox>
    </div>
</div>
<div class="row align-start ">
    <div title="Настройки пароля" class="col-md-12">
        <div class="flex-column" style="height: 90px; overflow-y: scroll;" >
            <md-checkbox name="repeatPassword1" id="repeatPassword1">
                Пользователь должен изменить пароль при следующем входе в систему
            </md-checkbox>
            <md-checkbox name="repeatPassword2" id="repeatPassword2">
                Пользователь не может изменить пароль
            </md-checkbox>
            <md-checkbox name="repeatPassword3" id="repeatPassword3">
                Срок действия пароля не истекает
            </md-checkbox>
            <md-checkbox name="repeatPassword4" id="repeatPassword4">
                Аккаунт отключен
            </md-checkbox>
        </div>
    </div>
</div>
<div class="row align-start pv-8">
    <md-group title="Истечение аккаунта" class="col-md-12">
        <div class="flex-column">
            <md-checkbox name="repeatPassword1" id="repeatPassword1">
                Никогда
            </md-checkbox>
            <md-checkbox name="repeatPassword2" id="repeatPassword2">
                <div style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                    <label style="padding-right: 8px;">Заканчивается:</label>
                    <md-textbox></md-textbox>
                </div>
            </md-checkbox>
        </div>
    </md-group>
</div>

