@use '../../../../../../node_modules/multidirectory-ui-kit/styles/global.scss';

:host {
    background-color: #FAFAFA;
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
}

.control-pane {
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}



.button-wrapper {
    height: 30px;
    md-button {
        color: black !important;
    }
    &:hover, &.dark-blue {
        background-color: global.$md-dark-blue !important;
        .color-change-blue-white {
            filter: brightness(0) invert(1);
        }
    }
    .color-change-white-blue:not(:hover) {
        filter: invert(45%) sepia(34%) saturate(919%) hue-rotate(167deg) brightness(90%) contrast(88%);
    }
}

:host ::ng-deep .datatable-body-row.active .row-icon {
    filter: brightness(0) invert(100%);
}