<app-dialog>
  <div class="app-modal-header">
    <div>{{ 'catalog-create.modal-header' | transloco }}</div>
  </div>

  <div class="flex align-center gap-1">
    <div class="avatar"><img class="avatar-img" src="/assets/empty_avatar.svg" /></div>
    <div class="place">{{ 'catalog-create.header' | transloco }} {{ dialogData.parentDn }}</div>
  </div>
  <hr />
  <div class="flex flex-col align-start justify-end gap-1" style="max-height: 400px">
    <md-form #form>
      <div class="flex flex-col gap-1">
        <div class="flex flex-col align-start justify-end gap-1">
          <label for="catalogName">{{ 'catalog-create.catalogname-label' | transloco }}</label>
          <md-textbox [(ngModel)]="catalogName" appRequired name="catalogName"></md-textbox>
        </div>
        <div class="flex flex-col align-start flex-space-between gap-1">
          <label for="description">{{ 'catalog-create.description' | transloco }}</label>
          <md-textarea
            [(ngModel)]="description"
            [expandWidth]="true"
            name="description"
          ></md-textarea>
        </div>
      </div>
    </md-form>
  </div>

  <div class="app-modal-footer">
    <div class="flex align-center justify-end gap-1">
      <md-button (click)="onClose()">
        {{ 'catalog-create.cancel' | transloco }}
      </md-button>
      <md-button (click)="onFinish($event)" [disabled]="!formValid" [primary]="true">
        {{ 'catalog-create.apply' | transloco }}
      </md-button>
    </div>
  </div>
</app-dialog>
