<app-dialog *transloco="let t">
  <div class="app-modal-header">{{ 'dhcp-setup-wizard.header' | transloco }}</div>
  <div class="flex flex-col align-start justify-end gap-1">
    <md-form [formGroup]="dhcpForm" (ngSubmit)="onSubmit($event)">
      <div class="dns-setup-grid">
        <h3 class="bold">{{ 'dhcp-setup-wizard.address-params' | transloco }}</h3>
        <section class="py-2">
          <div class="py-2">
            <md-textbox formControlName="startIp" [placeholder]="t('dhcp-setup-wizard.start-ip')" />
          </div>
          <div class="py-2">
            <md-textbox formControlName="endIp" [placeholder]="t('dhcp-setup-wizard.end-ip')" />
          </div>
          <div class="flex flex-row py-2">
            <label class="whitespace-nowrap">{{
              'dhcp-setup-wizard.rental-duration' | transloco
            }}</label>
            <md-number class="ml-2" formControlName="days" max="999" />
            <md-number class="ml-2" type="number" formControlName="hours" />
            <md-number class="ml-2" type="number" formControlName="minutes" />
          </div>
        </section>
        <hr />
        <section class="py-2">
          <p>{{ 'dhcp-setup-wizard.dhcp-params' | transloco }}</p>
          <div class="py-2">
            <md-textbox
              type="number"
              [placeholder]="t('dhcp-setup-wizard.subnet-mask')"
              formControlName="subnetMask"
            />
          </div>
          <div class="py-2">
            <md-textbox
              type="number"
              [placeholder]="t('dhcp-setup-wizard.main-gateway')"
              formControlName="defaultGateway"
            />
          </div>
        </section>
        <!--        <hr />-->
        <!--        <section class="py-2">-->
        <!--          <p>{{ 'dhcp-setup-wizard.domain-name-and-DNS-server-addresses' | transloco }}</p>-->
        <!--          <div class="py-2">-->
        <!--            <md-textbox [placeholder]="t('dhcp-setup-wizard.domain')" />-->
        <!--          </div>-->
        <!--          <div class="py-2">-->
        <!--            <md-textbox type="number" [placeholder]="t('dhcp-setup-wizard.dns-server')" />-->
        <!--          </div>-->
        <!--        </section>-->
      </div>

      <div class="app-modal-footer">
        <div class="flex align-center justify-end gap-1">
          <md-button (click)="onCancel($event)">
            {{ 'add-principal.cancel' | transloco }}
          </md-button>
          <md-button [submit]="true" [disabled]="!dhcpForm.valid" [primary]="true">
            {{ 'add-principal.apply' | transloco }}
          </md-button>
        </div>
      </div>
    </md-form>
  </div>
</app-dialog>
