<div class="icon-grid-container">
  <div
    class="icon-grid"
    [ngClass]="{ 'big-icon': big }"
    (contextmenu)="showGridContextMenu($event)"
    #grid
    (click)="clickOutside()"
    (focus)="onGetFocus()"
    tabindex="0"
  >
    @for (item of items; track item) {
      <div class="grid-item" cdkDrag cdkDragBoundary=".icon-grid" (cdkDragEnded)="onDrop($event)">
        <app-grid-item (clickOnItem)="setSelected([item])" [item]="item"></app-grid-item>
      </div>
    }
  </div>
</div>

<md-dropdown-menu #gridMenu>
  <div class="dropdown-item" (click)="gridMenu.close(); resetItems()">
    <md-checkbox [(ngModel)]="alignItems">{{ 'icon-view.align-grid' | transloco }}</md-checkbox>
  </div>
  <div class="dropdown-item" (click)="gridMenu.close(); resetItems()">
    {{ 'icon-view.reset' | transloco }}
  </div>
</md-dropdown-menu>
