<div class="app-modal-header">
  <div>{{ 'ou-create.modal-header' | transloco }}</div>
</div>
<div class="flex-row align-center flex-gap-10">
  <div class="avatar"><img src="/assets/empty_avatar.svg" class="avatar-img" /></div>
  <div class="place">{{ 'ou-create.header' | transloco }} {{ this.parentDn }}</div>
</div>
<hr />
<div class="flex-column align-start justify-end flex-gap-10" style="max-height: 400px">
  <md-form #form>
    <div class="flex-column flex-gap-10">
      <div class="flex-column align-start justify-end flex-gap-10">
        <label for="ouname">{{ 'ou-create.ouname-label' | transloco }}</label>
        <md-textbox appRequired [(ngModel)]="ouName" name="ouname"></md-textbox>
      </div>
      <div class="flex-column align-start flex-space-between flex-gap-10">
        <label for="description">{{ 'ou-create.description' | transloco }}</label>
        <md-textarea
          [expandWidth]="true"
          [(ngModel)]="description"
          name="description"
        ></md-textarea>
      </div>
    </div>
  </md-form>
</div>

<div class="app-modal-footer">
  <div class="flex-row align-center justify-end flex-gap-10">
    <md-button (click)="onClose()">
      {{ 'ou-create.cancel' | transloco }}
    </md-button>
    <md-button [primary]="true" [disabled]="!formValid" (click)="onFinish($event)">
      {{ 'ou-create.apply' | transloco }}
    </md-button>
  </div>
</div>
