<div style="max-width: 400px">
  <div class="alert-pane flex p-16">
    <md-alert>
      <div class="flex gap-1">
        <div class="h-100 flex flex-col justify-center">
          <fa-icon [icon]="faCircleExclamation" size="2x"></fa-icon>
        </div>
        <div>
          <label class="bold">{{
            'catalog-content.kerberos-should-reload-header' | transloco
          }}</label>
          <p>
            {{ 'catalog-content.kerberos-should-reload-description' | transloco }}
          </p>
        </div>
      </div>
    </md-alert>
  </div>
</div>
