@if (kerberosStatus === KerberosStatusEnum.READY) {
  <div class="flex flex-col">
    <div class="p-2 flex flex-space-between gap-1">
      <div class="flex justify-end gap-1">
        <md-button (click)="exportKeytab()">{{ 'kerberos-settings.export' | transloco }}</md-button>
        <md-button (click)="addPrincipal()">{{ 'kerberos-settings.add' | transloco }}</md-button>
      </div>
      <md-textbox
        placeholder="{{ 'kerberos-settings.filter' | transloco }}"
        [(ngModel)]="searchQuery"
      >
      </md-textbox>
    </div>
    <div class="h-full p-2">
      <md-datagrid
        #grid
        name="table-view"
        [rows]="principals"
        [columns]="columns"
        [page]="page"
        [pageSizes]="pageSizes"
        pagerTitle="{{ 'grid.pager-title' | transloco }}"
        fromTitle="{{ 'grid.from-title' | transloco }}"
        emptyMessage="{{ 'grid.no-data' | transloco }}"
      ></md-datagrid>
    </div>
  </div>
}

@if (kerberosStatus !== KerberosStatusEnum.READY) {
  <div class="flex flex-col">
    <div class="p-2">
      <md-alert>
        <div class="flex gap-2">
          <div class="flex justify-center flex-align-center">
            <fa-icon [icon]="faCircleExclamation" size="2x"></fa-icon>
          </div>
          <div class="flex flex-col">
            <h3>{{ 'kerberos-settings.setup-kerberos-description' | transloco }}</h3>
            <div class="pv-8">
              <md-button [primary]="true" (click)="setupKerberos()">{{
                'kerberos-settings.setup-kerberos' | transloco
              }}</md-button>
            </div>
          </div>
        </div>
      </md-alert>
    </div>
  </div>
}

<md-dropdown-menu #principalMenu>
  <div class="dropdown-item">
    {{ 'catalog-content.help' | transloco }}
  </div>
</md-dropdown-menu>
