<md-form #form>
    <div class="row align-center pv-8">
        <div class="col-xs-4"><label for="password">
            {{ "user-create.password-settings.password-label" | transloco }}
        </label></div>
        <md-textbox class="col-xs-8" name="password" appRequired
            [password]="true"
            [(ngModel)]="setupRequest.password" ></md-textbox>
    </div>
    <div class="row align-center pv-8">
        <div class="col-xs-4">
        <label for="repeatPassword">
            {{ "user-create.password-settings.repeat-password-label" | transloco }}
        </label></div>
        <md-textbox class="col-xs-8" 
            appRequired  [password]="true"
            [appPasswordMatch]="setupRequest.password"
            [(ngModel)]="setupRequest.repeatPassword"
            name="repeatPassword"></md-textbox>
    </div>

    <div class="flex-column pv-8">
        <md-checkbox name="user-should-change-password" id="user-should-change-password">
            {{ "user-create.password-settings.user-should-change-password" | transloco }}
        </md-checkbox>
        <md-checkbox name="user-unable-change-password" id="user-unable-change-password">
            {{ "user-create.password-settings.user-unable-change-password" | transloco }}
        </md-checkbox>
        <md-checkbox name="password-never-expires" id="password-never-expires">
            {{ "user-create.password-settings.password-never-expires" | transloco }}
        </md-checkbox>
        <md-checkbox name="account-disabled" id="account-disabled">
            {{ "user-create.password-settings.account-disabled" | transloco }}
        </md-checkbox>
    </div>
</md-form>