<md-form #form>
    <div class="row align-center pv-8">
        <div class="col-md-4"><label for="password">Пароль</label></div>
        <md-textbox class="col-md-8" name="password" required
            [password]="true"
            [(ngModel)]="setupRequest.password" ></md-textbox>
    </div>
    <div class="row align-center pv-8">
        <div class="col-md-4"><label for="repeatPassword">Подтвердите Пароль</label></div>
        <md-textbox class="col-md-8" 
            required [password]="true"
            [appPasswordMatch]="setupRequest.password"
            [(ngModel)]="setupRequest.repeatPassword"
            name="repeatPassword"></md-textbox>
    </div>

    <div class="flex-column pv-8">
        <md-checkbox name="repeatPassword1" id="repeatPassword1">
            Пользователь должен изменить пароль при следующем входе в систему
        </md-checkbox>
        <md-checkbox name="repeatPassword2" id="repeatPassword2">
            Пользователь не может изменить пароль
        </md-checkbox>
        <md-checkbox name="repeatPassword3" id="repeatPassword3">
            Срок действия пароля не истекает
        </md-checkbox>
        <md-checkbox name="repeatPassword4" id="repeatPassword4">
            Аккаунт отключен
        </md-checkbox>
    </div>
</md-form>