<app-dialog>
  <div class="app-modal-header">
    {{ 'catalog-content.approve-delete-header' | transloco }}
  </div>
  <div class="flex-col w-100">
    <label>
      {{ 'catalog-content.approve-delete' | transloco }}
    </label>
    <ul>
      @for (entry of toDeleteDNs; track entry) {
        <li>
          {{ entry }}
        </li>
      }
    </ul>
  </div>
  <ng-container class="app-modal-footer">
    <div class="flex align-center justify-end flex-gap-10">
      <md-button (click)="close()">
        {{ 'catalog-content.cancel' | transloco }}
      </md-button>
      <md-button (click)="deleteSelectedEntry()" [primary]="true">
        {{ 'catalog-content.delete' | transloco }}
      </md-button>
    </div>
  </ng-container>
</app-dialog>
