<md-form #form>
  <div class="flex flex-col gap-2 p-16">
    <!-- Password -->
    <div class="grid grid-cols-4 gap-4 items-center">
      <label for="password" class="col-span-1">
        {{ 'user-create.password-settings.password-label' | transloco }}
      </label>
      <md-textbox
        class="col-span-3 w-full"
        name="password"
        appRequired
        [password]="true"
        [(ngModel)]="setupRequest.password"
        (keyup)="checkModel()"
        [appPasswordMatch]="repeatPasswordInput"
        appPasswordShouldBeValid
        #passwordInput="ngModel"
        (focus)="openSuggest($event)"
        (blur)="closeSuggest()"
      ></md-textbox>
    </div>

    <!-- Repeat Password -->
    <div class="grid grid-cols-4 gap-4 items-center">
      <label for="repeatPassword" class="col-span-1">
        {{ 'user-create.password-settings.repeat-password-label' | transloco }}
      </label>
      <md-textbox
        class="col-span-3 w-full"
        appRequired
        [appPasswordMatch]="passwordInput"
        [password]="true"
        (keyup)="checkModel()"
        [(ngModel)]="setupRequest.repeatPassword"
        name="repeatPassword"
        #repeatPasswordInput="ngModel"
      ></md-textbox>
    </div>

    <!-- Checkbox options -->
    <div class="grid gap-4">
      <md-checkbox
        name="user-should-change-password"
        id="user-should-change-password"
        [(ngModel)]="userShouldChangePassword"
      >
        {{ 'user-create.password-settings.user-should-change-password' | transloco }}
      </md-checkbox>

      <md-checkbox name="user-unable-change-password" id="user-unable-change-password">
        {{ 'user-create.password-settings.user-unable-change-password' | transloco }}
      </md-checkbox>

      <md-checkbox
        name="password-never-expires"
        id="password-never-expires"
        [(ngModel)]="passwordNeverExpires"
      >
        {{ 'user-create.password-settings.password-never-expires' | transloco }}
      </md-checkbox>

      <md-checkbox name="account-disabled" id="account-disabled" [(ngModel)]="accountDisabled">
        {{ 'user-create.password-settings.account-disabled' | transloco }}
      </md-checkbox>
    </div>
  </div>
</md-form>
