@let setup = setupRequest();

<md-form #form>
  <div class="flex flex-col gap-4 p-16">
    <div class="password-form-container flex flex-column gap-5">
      <div class="flex flex-column gap-1">
        <label for="password" class="col-span-1">
          {{ 'user-create.password-settings.password-label' | transloco }}
        </label>
        <md-textbox
          class="col-span-3 w-full"
          name="password"
          #passwordInput="ngModel"
          appRequired
          appPasswordShouldBeValid
          [passwordPolicy]="passwordPolicy"
          [password]="true"
          [appPasswordMatch]="repeatPasswordInput"
          [(ngModel)]="setup.password"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>

      <div class="flex flex-column gap-1">
        <label for="repeatPassword" class="col-span-1">
          {{ 'user-create.password-settings.repeat-password-label' | transloco }}
        </label>
        <md-textbox
          class="col-span-3 w-full"
          appRequired
          [appPasswordMatch]="passwordInput"
          [password]="true"
          (keyup)="checkModel()"
          [(ngModel)]="setup.repeatPassword"
          name="repeatPassword"
          #repeatPasswordInput="ngModel"
        ></md-textbox>
      </div>

      <md-button type="button" class="requirements-button" [primary]="true" (click)="togglePasswordRequirements()">{{
        passwordRequirementsLabel()
      }}</md-button>

      <div class="password-conditions-wrapper" [class.visible]="showPasswordRequirements()">
        <app-password-conditions [policy]="passwordPolicy" [currentPassword]="password()"></app-password-conditions>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <md-checkbox
        name="user-should-change-password"
        id="user-should-change-password"
        [(ngModel)]="userShouldChangePassword"
        [disabled]="userUnableToChangePassword"
      >
        {{ 'user-create.password-settings.user-should-change-password' | transloco }}
      </md-checkbox>

      <md-checkbox
        name="user-unable-change-password"
        id="user-unable-change-password"
        [(ngModel)]="userUnableToChangePassword"
        [disabled]="userShouldChangePassword"
      >
        {{ 'user-create.password-settings.user-unable-change-password' | transloco }}
      </md-checkbox>

      <md-checkbox name="password-never-expires" id="password-never-expires" [(ngModel)]="passwordNeverExpires">
        {{ 'user-create.password-settings.password-never-expires' | transloco }}
      </md-checkbox>

      <md-checkbox name="account-disabled" id="account-disabled" [(ngModel)]="accountDisabled">
        {{ 'user-create.password-settings.account-disabled' | transloco }}
      </md-checkbox>
    </div>
  </div>
</md-form>
