<div class="flex flex-col gap-2">
  <app-password-condition-item
    [isOk]="passwordLengthOk()"
    translationKey="password-conditions.length-range"
    [translationParams]="{ minLength: policy().minLength, maxLength: policy().maxLength }"
  />

  @if (policy().minLowercaseLettersCount > 0) {
    <app-password-condition-item
      [isOk]="minLowercaseLettersCountOk()"
      translationKey="password-conditions.min-lowercase"
      [translationParams]="{ count: policy().minLowercaseLettersCount }"
    />
  }

  @if (policy().minUppercaseLettersCount > 0) {
    <app-password-condition-item
      [isOk]="minUppercaseLettersCountOk()"
      translationKey="password-conditions.min-uppercase"
      [translationParams]="{ count: policy().minUppercaseLettersCount }"
    />
  }

  @if (policy().minSpecialSymbolsCount > 0) {
    <app-password-condition-item
      [isOk]="minSpecialSymbolsCountOk()"
      translationKey="password-conditions.min-special-symbols"
      [translationParams]="{ count: policy().minSpecialSymbolsCount }"
    />
  }

  @if (policy().minDigitsCount > 0) {
    <app-password-condition-item
      [isOk]="minDigitsCountOk()"
      translationKey="password-conditions.min-digits"
      [translationParams]="{ count: policy().minDigitsCount }"
    />
  }

  @if (policy().minUniqueSymbolsCount > 0) {
    <app-password-condition-item
      [isOk]="minUniqueSymbolsCountOk()"
      translationKey="password-conditions.min-unique-symbols"
      [translationParams]="{ count: policy().minUniqueSymbolsCount }"
    />
  }

  <app-password-condition-item
    [isOk]="maxRepeatingSymbolsInRowCountOk()"
    translationKey="password-conditions.max-repeating-in-row"
    [translationParams]="{ count: policy().maxRepeatingSymbolsInRowCount }"
  />

  <app-password-condition-item
    [isOk]="notEndsWithSixDigitsOk()"
    translationKey="password-conditions.password-without-otp"
    [translationParams]="{}"
  />
</div>
