<div>
  <div>
    @if (!checkPasswordMinimalLength) {
      <span>❌</span>
    }
    @if (checkPasswordMinimalLength) {
      <span> ✓ </span>
    }
    {{
      'password-conditions.minimum-password-length'
        | transloco: { minimumPasswordLength: minimumPasswordLength }
    }}
  </div>
  @if (passwordMustMeetComplexityRequirements) {
    <div>
      @if (!checkPasswordComplexity) {
        <span>❌</span>
      }
      @if (checkPasswordComplexity) {
        <span> ✓ </span>
      }
      {{ 'password-conditions.password-complexity' | transloco }}
    </div>
  }

  <div>
    @if (!checkPasswordWithoutOtp) {
      <span>❌</span>
    }
    @if (checkPasswordWithoutOtp) {
      <span> ✓ </span>
    }
    {{ 'password-conditions.password-without-otp' | transloco }}
  </div>
</div>
