<div class="flex flex-col gap-2">
  <div class="row">
    @if (passwordLengthOk()) {
      <span class="icon approve"> ✓ </span>
    } @else {
      <span class="icon">❌</span>
    }
    <span>{{ 'password-conditions.length-range' | transloco: { minLength: policy().minLength, maxLength: policy().maxLength } }}</span>
  </div>

  @if (policy().minLowercaseLettersCount > 0) {
    <div class="row">
      @if (minLowercaseLettersCountOk()) {
        <span class="icon approve"> ✓ </span>
      } @else {
        <span class="icon">❌</span>
      }
      <span>{{ 'password-conditions.min-lowercase' | transloco: { count: policy().minLowercaseLettersCount } }}</span>
    </div>
  }

  @if (policy().minUppercaseLettersCount > 0) {
    <div class="row">
      @if (minUppercaseLettersCountOk()) {
        <span class="icon approve"> ✓ </span>
      } @else {
        <span class="icon">❌</span>
      }
      <span>{{ 'password-conditions.min-uppercase' | transloco: { count: policy().minUppercaseLettersCount } }}</span>
    </div>
  }

  @if (policy().minSpecialSymbolsCount > 0) {
    <div class="row">
      @if (minSpecialSymbolsCountOk()) {
        <span class="icon approve"> ✓ </span>
      } @else {
        <span class="icon">❌</span>
      }
      <span>{{ 'password-conditions.min-special-symbols' | transloco: { count: policy().minSpecialSymbolsCount } }}</span>
    </div>
  }

  @if (policy().minDigitsCount > 0) {
    <div class="row">
      @if (minDigitsCountOk()) {
        <span class="icon approve"> ✓ </span>
      } @else {
        <span class="icon">❌</span>
      }
      <span>{{ 'password-conditions.min-digits' | transloco: { count: policy().minDigitsCount } }}</span>
    </div>
  }

  @if (policy().minUniqueSymbolsCount > 0) {
    <div class="row">
      @if (minUniqueSymbolsCountOk()) {
        <span class="icon approve"> ✓ </span>
      } @else {
        <span class="icon">❌</span>
      }
      <span>{{ 'password-conditions.min-unique-symbols' | transloco: { count: policy().minUniqueSymbolsCount } }}</span>
    </div>
  }

  <div class="row">
    @if (maxRepeatingSymbolsInRowCountOk()) {
      <span class="icon approve"> ✓ </span>
    } @else {
      <span class="icon">❌</span>
    }
    <span>{{ 'password-conditions.max-repeating-in-row' | transloco: { count: policy().maxRepeatingSymbolsInRowCount } }}</span>
  </div>
</div>
