<div *transloco="let t; prefix: 'multidirectory-settings'" class="flex flex-col gap-1 p-1 w-full">
  <div class="flex justify-center">
    <div class="title">
      {{ t('header') }}
    </div>
  </div>
  <div class="mf-control-grid">
    <label class="gap-1" for="api-key">{{ t('language') }}</label>
    <md-dropdown [(ngModel)]="selectedLanguage" [options]="lanugages" class="grow-1"></md-dropdown>
  </div>

  <div class="flex justify-end p-2">
    <md-button (click)="apply()" [primary]="true">{{ t('apply') }}</md-button>
  </div>
</div>
