<div *transloco="let t; prefix: 'multidirectory-settings'" class="flex-col flex-gap-10 p-8 w-100">
  <div class="flex flex-center">
    <div class="title">
      {{ t('header') }}
    </div>
  </div>
  <div class="mf-control-grid">
    <label class="flex-gap-10" for="api-key">{{ t('language') }}</label>
    <md-dropdown
      [(ngModel)]="selectedLanguage"
      [options]="lanugages"
      class="col-xs-4"
    ></md-dropdown>
  </div>

  <div class="flex flex-end p-16">
    <md-button (click)="apply()" [primary]="true">{{ t('apply') }}</md-button>
  </div>
</div>
