<app-dialog>
  <div class="flex flex-col gap-2">
    <div class="flex flex-row gap-2">
      <label>{{ 'object-class-attribute-editor.attribute' | transloco }}</label>
      <md-textbox class="flex grow-1" />
    </div>
    <div class="h-36">
      <md-datagrid />
    </div>
    <div class="flex-row">
      <md-button>{{ 'object-class-attribute-editor.cancel' | transloco }}</md-button>
      <md-button>{{ 'object-class-attribute-editor.add' | transloco }}</md-button>
    </div>
  </div>
</app-dialog>
