<div class="flex-column flex-gap-10 p-8">
    <div class="flex-row flex-space-between ">
        <div class="">
        </div>
        <div class="flex-row align-center">
            <md-button (click)="onAddClick()">
              {{ "password-policy-settings.add" | transloco }}
            </md-button>
        </div>
    </div>
    <div class="policy-list">
        <div
            class="password-policy-wrapper"
             *ngFor="let client of clients; let i = index">
                <app-password-policy-list-item
                    [passwordPolicy]="client" 
                    [index]="i + 1" 
                    (editClick)="onEditClick($event)"
                    (deleteClick)="onDeleteClick($event)">
                </app-password-policy-list-item>
        </div>
    </div>
</div>

<ng-template modalInject #modalInject="modalInject">
    <app-password-policy-create></app-password-policy-create>
</ng-template>