<div
  class="access-policy-view"
  [ngClass]="{
    'p-16': showConrolButton,
  }"
>
  <md-form #form>
    <div class="form-grid">
      <!-- Domain Row -->
      <div>{{ 'access-policy-create.domain' | transloco }}</div>
      <md-textbox appRequired [(ngModel)]="accessClient.name" class="span-two"></md-textbox>

      <!-- IP Addresses Row -->
      <div>{{ 'access-policy-create.ip-addresses' | transloco }}</div>
      <md-textbox appRequired validIpAddress (blur)="onIpChanged()" [(ngModel)]="ipAddresses">
      </md-textbox>
      <md-button (click)="changeIpAdressAttribute()" [stretch]="true">
        {{ 'access-policy-create.add' | transloco }}
      </md-button>

      <!-- Access Group Row -->
      <div>{{ 'access-policy-create.access-group' | transloco }}</div>
      <md-multiselect
        [suppressMenu]="true"
        [options]="availableGroups"
        [(ngModel)]="groupQuery"
        (inputChanged)="checkGroups()"
        notFoundText="{{ 'access-policy-create.group-not-found' | transloco }}"
        #groupSelector
      >
      </md-multiselect>
      <md-button (click)="checkGroups()" [stretch]="true">
        {{ 'access-policy-create.check-groups' | transloco }}
      </md-button>

      <!-- MFA Row -->
      <div>MFA</div>
      <md-dropdown [options]="options" [(ngModel)]="mfaAccess" appRequired class="span-two">
      </md-dropdown>

      <!-- MFA Groups Row (Conditional) -->
      @if (mfaAccess === MfaAccessEnum.SelectedGroups) {
        <div>{{ 'access-policy-create.mfa-groups' | transloco }}</div>
        <md-multiselect
          [suppressMenu]="true"
          [options]="availableMfaGroups"
          [(ngModel)]="mfaGroupsQuery"
          (inputChanged)="checkMfaGroups()"
          notFoundText="{{ 'access-policy-create.group-not-found' | transloco }}"
          #mfaGroupSelector
        >
        </md-multiselect>
        <md-button (click)="checkMfaGroups()" [stretch]="true">
          {{ 'access-policy-create.check-groups' | transloco }}
        </md-button>
      }
    </div>

    <div class="flex-column nowrap flex-gap-20 w-100">
      <md-group title="{{ 'access-policy-create.protocols' | transloco }}" class="pt-16">
        <div class="protocol-switch-column">
          <md-shift-checkbox [(ngModel)]="accessClient.isLdap"> LDAP </md-shift-checkbox>
          <md-shift-checkbox [(ngModel)]="accessClient.isHttp"> HTTP </md-shift-checkbox>
          <md-shift-checkbox [(ngModel)]="accessClient.isKerberos"> Kerberos </md-shift-checkbox>
        </div>
      </md-group>

      @if (mfaAccess === MfaAccessEnum.Everyone || mfaAccess === MfaAccessEnum.SelectedGroups) {
        <md-group title="Bypass" class="pt-16">
          @if (!bypassAllowed) {
            <div class="flex-row flex-gap-10">
              <img
                class="tooltip-icon"
                src="assets/info-circle.svg"
                style="width: 24px; height: 24px"
              />
              {{ 'access-policy-create.enable-2fa' | transloco }}<br />
            </div>
          }
          <div class="bypass-switch-column">
            <md-shift-checkbox
              [(ngModel)]="accessClient.bypassNoConnection"
              [disabled]="!bypassAllowed"
            >
              {{ 'access-policy-create.bypass-no-connection' | transloco }}
            </md-shift-checkbox>
            <md-shift-checkbox
              [(ngModel)]="accessClient.bypassServiceFailure"
              [disabled]="!bypassAllowed"
            >
              {{ 'access-policy-create.bypass-service-failure' | transloco }}
            </md-shift-checkbox>
          </div>
        </md-group>
      }
    </div>
  </md-form>
  @if (showConrolButton) {
    <div class="flex-row justify-start flex-gap-10">
      <md-button [disabled]="!form.valid" [primary]="true" (click)="save()">{{
        'access-policy-create.approve' | transloco
      }}</md-button>
    </div>
  }
</div>

<ng-template modalInject #ipListEditor="modalInject">
  <app-access-policy-ip-list></app-access-policy-ip-list>
</ng-template>
