.access-policy-view {
  display: grid;
  gap: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 120px 1fr 72px;
  gap: 1rem;
  align-items: start;
}

/* For rows without button, span the input across columns 2 and 3 */
.span-two {
  grid-column: 2 / span 2 !important;
}

.actions {
  display: grid;
  justify-content: end;
  gap: 0.625rem;
}

.bypass-switch-column,
.protocol-switch-column {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
