<div
  class="access-policy-view"
  [ngClass]="{
    'p-16': showConrolButton,
  }"
>
  <md-form #form>
    <div class="form-grid">
      <!-- Domain Row -->
      <div>{{ 'access-policy-create.domain' | transloco }}</div>
      <md-textbox appRequired [(ngModel)]="accessClient.name" class="span-two"></md-textbox>

      <!-- IP Addresses Row -->
      <div>{{ 'access-policy-create.ip-addresses' | transloco }}</div>
      <md-textbox appRequired validIpAddress (blur)="onIpChanged()" [(ngModel)]="ipAddresses">
      </md-textbox>
      <md-button (click)="changeIpAdressAttribute()" [stretch]="true">
        {{ 'access-policy-create.add' | transloco }}
      </md-button>

      <!-- Access Group Row -->
      <div>{{ 'access-policy-create.access-group' | transloco }}</div>
      <md-multiselect
        [suppressMenu]="true"
        [options]="availableGroups"
        [(ngModel)]="groupQuery"
        (inputChanged)="checkGroups()"
        notFoundText="{{ 'access-policy-create.group-not-found' | transloco }}"
        #groupSelector
      >
      </md-multiselect>
      <md-button (click)="checkGroups()" [stretch]="true">
        {{ 'access-policy-create.check-groups' | transloco }}
      </md-button>

      <!-- MFA Row -->
      <div>MFA</div>
      <md-dropdown [options]="options" [(ngModel)]="mfaAccess" appRequired class="span-two">
      </md-dropdown>

      <!-- MFA Groups Row (Conditional) -->
      <ng-container *ngIf="mfaAccess === MfaAccessEnum.SelectedGroups">
        <div>{{ 'access-policy-create.mfa-groups' | transloco }}</div>
        <md-multiselect
          [suppressMenu]="true"
          [options]="availableMfaGroups"
          [(ngModel)]="mfaGroupsQuery"
          (inputChanged)="checkMfaGroups()"
          notFoundText="{{ 'access-policy-create.group-not-found' | transloco }}"
          #mfaGroupSelector
        >
        </md-multiselect>
        <md-button (click)="checkMfaGroups()" [stretch]="true">
          {{ 'access-policy-create.check-groups' | transloco }}
        </md-button>
      </ng-container>
    </div>
  </md-form>
  <div class="flex-row justify-end flex-gap-10" *ngIf="showConrolButton">
    <md-button [disabled]="!form.valid" [primary]="true" (click)="save()">{{
      'access-policy-create.approve' | transloco
    }}</md-button>
  </div>
</div>

<ng-template modalInject #ipListEditor="modalInject">
  <app-access-policy-ip-list></app-access-policy-ip-list>
</ng-template>
