<div class="app-modal-header">
  {{ prompt.promptHeader }}
</div>
<div [innerHTML]="prompt.promptText"></div>
<div class="app-modal-footer flex-row justify-end flex-gap-10">
  @for (primary of prompt.primaryButtons; track primary) {
    <md-button [primary]="true" (click)="onClick(primary.id)">
      {{ primary.text }}
    </md-button>
  }
  @for (secondary of prompt.secondaryButtons; track secondary) {
    <md-button (click)="onClick(secondary.id)">
      {{ secondary.text }}
    </md-button>
  }
</div>
