<app-dialog>
  <div class="app-modal-header">
    {{ 'logon-time-editor.modal-header' | transloco }}{{ username }}
  </div>
  <div class="flex gap-1 h-full">
    <div #logonMap class="logon-map flex-grow-1">
      <div></div>
      <div class="icon-midnight">
        <img src="assets/moon.svg" />
      </div>
      <div class="icon-midday">
        <img src="assets/sun.svg" />
      </div>
      <div class="icon-dayend">
        <img src="assets/moon.svg" />
      </div>
      @for (day of daysOfWeek; track day; let dayIndex = $index) {
        <div class="logon-day">
          <md-plane-button (click)="onDaySelect($event, day)">{{ day.title }}</md-plane-button>
        </div>
        @for (time of hours; track time) {
          @if (dayIndex === 0) {
            <div class="logon-hour">
              <div class="logon-hour-click" (click)="onHoursSelect($event, time)">{{ time }}</div>
            </div>
          }
          @if (dayIndex > 0) {
            <div
              (mousedown)="onSelectStarted($event, day, time)"
              (mouseenter)="onSelectMouseEnter($event, day, time)"
              class="logon-selector"
              #daySelector
              [ngClass]="{
                'logon-enabled': getDayBit(day.id, time),
                'logon-selected': isInsideSelection(day, time),
              }"
              [attr.data-day]="day.id"
              [attr.data-hour]="time"
              (click)="selectSingle(day, time)"
            >
              <div
                class="selection-overlay"
                [ngClass]="{
                  'logon-select-row-start': isSelectionRowStart(day, time),
                  'logon-select-column-start': isSelectionColumnStart(day, time),
                  'logon-select-column-end': isSelectionColumnEnd(day, time),
                  'logon-select-row-end': isSelectionRowEnd(day, time),
                }"
              ></div>
            </div>
          }
        }
      }
    </div>
    <div class="logon-switch">
      <md-radiogroup #radioGroup [(ngModel)]="selectionAllowance"></md-radiogroup>
      <div class="flex justify-center gap-2">
        <div class="flex flex-col justify-center h-full">
          <div class="logon-cell-example-allowed"></div>
        </div>
        <md-radiobutton [group]="radioGroup" [value]="1"
          >{{ 'logon-time-editor.login-allowed' | transloco }}
        </md-radiobutton>
      </div>
      <div class="flex justify-center gap-2">
        <div class="flex flex-col justify-center h-full">
          <div class="logon-cell-example-denied"></div>
        </div>
        <md-radiobutton [group]="radioGroup" [value]="0"
          >{{ 'logon-time-editor.login-disabled' | transloco }}
        </md-radiobutton>
      </div>
    </div>
  </div>
  <div class="app-modal-footer flex gap-1 justify-between">
    <div>
      @if (selectedDaysState.length > 0) {
        <label>{{ getSelectionDescription() }}</label>
      }
    </div>
    <div class="flex gap-1">
      <md-button (click)="close()">{{ 'logon-time-editor.cancel' | transloco }}</md-button>
      <md-button (click)="finish()" [primary]="true"
        >{{ 'logon-time-editor.apply' | transloco }}
      </md-button>
    </div>
  </div>
</app-dialog>
