<div class="app-modal-header">
  <div>{{ 'setup.kerberos-settings.header' | transloco }}</div>
</div>
<div class="flex flex-col gap-4">
  <md-form #form>
    <div class="kerberos-grid">
      <label class="textbox-label">{{ 'setup.kerberos-settings.admin-password-label' | transloco }}</label>
      <div class="flex flex-col flex-grow-1">
        <md-textbox appRequired [password]="true" [(ngModel)]="setupRequest.password" (keyup)="checkModel()"></md-textbox>
      </div>

      <label class="textbox-label">{{ 'setup.kerberos-settings.krbadmin-password-label' | transloco }}</label>
      <div class="flex flex-col flex-grow-1">
        <md-textbox
          appRequired
          appPasswordShouldBeValid
          [passwordPolicy]="passwordPolicy"
          [password]="!this.setupRequest.generateKdcPasswords"
          [(ngModel)]="setupRequest.krbadmin_password"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>
      <label class="textbox-label">{{ 'setup.kerberos-settings.krbadmin-password-repeat-label' | transloco }}</label>
      <div class="flex flex-col flex-grow-1">
        <md-textbox
          appRequired
          [password]="!this.setupRequest.generateKdcPasswords"
          [(ngModel)]="setupRequest.krbadmin_password_repeat"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>
      <label class="textbox-label">{{ 'setup.kerberos-settings.stash-password-label' | transloco }}</label>
      <div class="flex flex-col flex-grow-1">
        <md-textbox
          appRequired
          [password]="!this.setupRequest.generateKdcPasswords"
          [(ngModel)]="setupRequest.stash_password"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>
      <label class="textbox-label">{{ 'setup.kerberos-settings.stash-password-repeat-label' | transloco }}</label>
      <div class="flex flex-col flex-grow-1">
        <md-textbox
          appRequired
          [password]="!this.setupRequest.generateKdcPasswords"
          [(ngModel)]="setupRequest.stash_password_repeat"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>
    </div>
  </md-form>

  <div class="flex flex-col gap-4 justify-between">
    <div class="flex gap-4">
      <md-button (click)="generatePasswords()">{{ 'setup.domain-settings.generate-kdc-passwords' | transloco }}</md-button>
      <md-button (click)="downloadPasswords()">{{ 'setup.kerberos-settings.download-passwords' | transloco }}</md-button>
    </div>

    <md-button type="button" class="requirements-button" [primary]="true" (click)="togglePasswordRequirements()">{{
      passwordRequirementsLabel()
    }}</md-button>
  </div>

  <div class="password-conditions-wrapper" [class.visible]="showPasswordRequirements()">
    <div class="flex flex-col gap-4">
      <div class="conditions-container">
        <div class="mb-2 font-medium">{{ 'setup.kerberos-settings.krbadmin-password-label' | transloco }}</div>
        <app-password-conditions
          [policy]="passwordPolicy"
          [currentPassword]="krbPassword()"
          [passwordRepeat]="setupRequest.krbadmin_password_repeat"
        >
        </app-password-conditions>
      </div>

      <div class="conditions-container">
        <div class="mb-2 font-medium">{{ 'setup.kerberos-settings.stash-password-label' | transloco }}</div>
        <app-password-conditions
          [policy]="stashPasswordPolicy"
          [currentPassword]="stashPassword()"
          [passwordRepeat]="setupRequest.stash_password_repeat"
        >
        </app-password-conditions>
      </div>
    </div>
  </div>
</div>
<div class="app-modal-footer flex align-center justify-end gap-1">
  <md-button (click)="onClose()">
    {{ 'setup.kerberos-settings.cancel' | transloco }}
  </md-button>
  <md-button [primary]="true" (click)="onFinish($event)">
    {{ 'setup.kerberos-settings.apply' | transloco }}
  </md-button>
</div>
