<div class="app-modal-header">
  <div>{{ 'setup.kdc-settings.header' | transloco }}</div>
</div>
<div class="kdc-settings">
  <md-form #form>
    <div class="kdc-grid">
      <label class="textbox-label">{{
        'setup.kdc-settings.admin-password-label' | transloco
      }}</label>
      <div class="flex-column flex-grow-1">
        <md-textbox
          appRequired
          [password]="true"
          [(ngModel)]="setupRequest.password"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>

      <label class="textbox-label">{{
        'setup.kdc-settings.krbadmin-password-label' | transloco
      }}</label>
      <div class="flex-column flex-grow-1">
        <md-textbox
          appRequired
          [password]="!this.setupRequest.generateKdcPasswords"
          [appPasswordMatch]="krbRepeatPassword"
          [appPasswordNotMatch]="stashPasswordInput"
          [(ngModel)]="setupRequest.krbadmin_password"
          (keyup)="checkModel()"
          #krbPasswordInput="ngModel"
          [mdPopupContainer]="krbSuggest"
          #krbSuggestContainer="PopupContainerDirective"
          [openMenuOnClick]="false"
          (focus)="krbSuggestContainer.openMenu()"
          (blur)="krbSuggestContainer.closeMenu()"
        ></md-textbox>
        <md-popup-suggest #krbSuggest [closeOnClickOutside]="false">
          <app-password-conditions
            [currentPassword]="setupRequest.krbadmin_password"
          ></app-password-conditions>
        </md-popup-suggest>
      </div>
      <label class="textbox-label">{{
        'setup.kdc-settings.krbadmin-password-repeat-label' | transloco
      }}</label>
      <div class="flex-column flex-grow-1">
        <md-textbox
          appRequired
          [appPasswordMatch]="krbPasswordInput"
          [password]="!this.setupRequest.generateKdcPasswords"
          (keyup)="checkModel()"
          [(ngModel)]="setupRequest.krbadmin_password_repeat"
          #krbRepeatPassword="ngModel"
        ></md-textbox>
      </div>
      <label class="textbox-label">{{
        'setup.kdc-settings.stash-password-label' | transloco
      }}</label>
      <div class="flex-column flex-grow-1">
        <md-textbox
          appRequired
          [password]="!this.setupRequest.generateKdcPasswords"
          [appPasswordMatch]="stashRepeatPassword"
          [(ngModel)]="setupRequest.stash_password"
          (keyup)="checkModel()"
          #stashPasswordInput="ngModel"
          [mdPopupContainer]="suggestStash"
          #stashSuggestContainer="PopupContainerDirective"
          [openMenuOnClick]="false"
          (focus)="stashSuggestContainer.openMenu()"
          (blur)="stashSuggestContainer.closeMenu()"
        ></md-textbox>
        <md-popup-suggest #suggestStash [closeOnClickOutside]="false">
          <app-password-conditions
            [currentPassword]="setupRequest.stash_password"
          ></app-password-conditions>
        </md-popup-suggest>
      </div>
      <label class="textbox-label">{{
        'setup.kdc-settings.stash-password-repeat-label' | transloco
      }}</label>
      <div class="flex-column flex-grow-1">
        <md-textbox
          appRequired
          [appPasswordMatch]="stashPasswordInput"
          [password]="!this.setupRequest.generateKdcPasswords"
          (keyup)="checkModel()"
          [(ngModel)]="setupRequest.stash_password_repeat"
          #stashRepeatPassword="ngModel"
        ></md-textbox>
      </div>
    </div>
  </md-form>
  <div class="flex-row align-center">
    <md-button (click)="generatePasswords()">
      {{ 'setup.domain-settings.generate-kdc-passwords' | transloco }}</md-button
    >
  </div>
  <div class="flex-row pt-16 justify-center">
    <label class="textbox-label">
      <md-button (click)="downloadPasswords()">{{
        'setup.kdc-settings.download-passwords' | transloco
      }}</md-button>
    </label>
  </div>
</div>
<div class="app-modal-footer flex-row align-center justify-end flex-gap-10">
  <md-button (click)="onClose()">
    {{ 'setup.kdc-settings.cancel' | transloco }}
  </md-button>
  <md-button [primary]="true" (click)="onFinish($event)">
    {{ 'setup.kdc-settings.apply' | transloco }}
  </md-button>
</div>
