:host {
  display: flex;
  height: 100%;
  position: relative;
}

.scrollable {
  overflow: auto;
}

.treeview-container {
  padding: 1rem;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

.w-300 {
  width: 300px;
}

.h-300 {
  height: 300px;
}

.tree-item {
  position: relative;
  list-style: none;
  padding-left: 8px;
  user-select: none; /* Standard syntax */
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  text-wrap: nowrap;
  &:not(.expandable) {
    padding-right: 4px;
    margin-left: 4px;
  }

  &.expandable {
    padding-left: 8px;
    margin-left: -8px;
  }
}

:host ::ng-deep .tree-label,
.tree-item label {
  cursor: pointer !important;
}

.expand-mark {
  cursor: pointer;

  span {
    min-width: 10px;
    display: inline-block;
  }
}
.tree-item-dempfer {
  display: block;
}
.tree-item-wrapper {
  cursor: pointer;
  padding-left: 4px;
  display: flex;
  flex-flow: row nowrap;
  &.focused {
    background-color: var(--md-neutral-150);
    color: var(--md-black);
  }

  &:not(.with-checkboxes) {
    &.selected {
      background-color: var(--md-dark-blue-3);
      color: var(--md-white);
    }
  }
}

md-tree-item > .tree-item-wrapper:not(.selected) {
  &:hover {
    background-color: var(--md-neutral-150);
    color: var(--md-black);
  }
}
md-checkbox {
  display: inline-block;
}
