<div class="flex w-full align-start pv-8">
  <div class="grow-2 flex flex-col align-start flex-grow-1 gap-1">
    <label for="login">{{ 'user-properties.login-label' | transloco }}</label>
    @if (accessor) {
      <md-textbox
        class="tall-textbox"
        appRequired
        name="login"
        [(ngModel)]="accessor.cn"
      ></md-textbox>
    }
  </div>
  <div class="grow-1 flex flex-col align-start flex-grow-1 gap-1">
    <label>{{ 'user-properties.domain-label' | transloco }}</label>
    <md-dropdown [(ngModel)]="upnDomain" [options]="domains" appRequired name="upnDomain" />
  </div>
</div>
<!--div class="flex w-full align-start pv-8">
  <div class="grow-2 flex flex-col align-start flex-grow-1 gap-1">
    <label for="login">{{ "user-properties.legacy-login-label" | transloco }}</label>
    <md-textbox [disabled]="true" name="login"></md-textbox>
  </div>
  <div class="grow-1 flex flex-col align-start flex-grow-1 gap-1">
    <label>{{ "user-properties.domain-label" | transloco }}</label>
    <md-textbox [disabled]="true" name="domain"></md-textbox>
  </div>
</div-->
<div class="flex gap-1 align-start pv-8">
  <md-button (click)="showLogonTimeEditor()"
    >{{ 'user-properties.login-time' | transloco }}
  </md-button>
  <!--md-button>{{ 'user-properties.login-resources' | transloco }}</md-button-->
</div>
<div class="flex w-full align-start pv-8">
  <div class="grow-1 flex flex-col align-start flex-grow-1 gap-1">
    <md-checkbox>{{ 'user-properties.unlock-account' | transloco }}</md-checkbox>
  </div>
</div>
<md-group
  class="align-start pv-8 mv-16"
  title="{{ 'user-properties.password-settings-title' | transloco }}"
>
  <div class="grow-3">
    <div class="flex flex-col" style="height: 90px; overflow-y: scroll">
      <!-- user must change password at next logon  -->
      <md-checkbox
        [(ngModel)]="userShouldChangePassword"
        id="userShouldChangePassword"
        name="userShouldChangePassword"
      >
        {{ 'user-properties.user-should-change-password' | transloco }}
      </md-checkbox>
      <!-- user cannot change password-->
      <md-checkbox
        [disabled]="true"
        id="user-unable-change-password"
        name="user-unable-change-password"
      >
        {{ 'user-properties.user-unable-change-password' | transloco }}
      </md-checkbox>
      <md-checkbox
        [(ngModel)]="passwordNeverExpires"
        id="password-never-expires"
        name="password-never-expires"
      >
        {{ 'user-properties.password-never-expires' | transloco }}
      </md-checkbox>
      <md-checkbox [(ngModel)]="accountDisabled" id="account-disabled" name="account-disabled">
        {{ 'user-properties.account-disabled' | transloco }}
      </md-checkbox>
      <!-- Store password using reversible encryption -->
      <md-checkbox
        [(ngModel)]="storePasswordReversible"
        id="store-password-reversible"
        name="store-password-reversible"
      >
        {{ 'user-properties.store-password-reversible' | transloco }}
      </md-checkbox>
      <!-- Account is disabled -->
      <!-- Smart card is appRequired  for interactive log in -->
      <!-- Account is sensitive and cannot be delegated -->
      <!-- Use only Kerberos DES encryption types with this account  -->
      <!-- This account supports Kerberos AES 128 bit encryption -->
      <!-- This account supports Kerberos AES 256 bit encryption -->
      <!-- Do not require Kerberos pre-authentication -->
    </div>
  </div>
</md-group>
<div class="flex w-full align-start pv-8">
  <md-group class="grow-3" title="{{ 'user-properties.password-expire-title' | transloco }}">
    <div class="flex flex-col">
      <md-radiogroup #accountExpirationRadiogroup [(ngModel)]="accountExpires"></md-radiogroup>
      <md-radiobutton
        [group]="accountExpirationRadiogroup"
        [value]="false"
        id="accountNeverExpires"
        name="accountNeverExpires"
      >
        {{ 'user-properties.never' | transloco }}
      </md-radiobutton>
      <div class="flex gap-1">
        <md-radiobutton
          [group]="accountExpirationRadiogroup"
          [value]="true"
          id="accountSometimesExpires"
          name="accountNeverExpires"
        >
          <label style="padding-right: 8px">
            {{ 'user-properties.expires-label' | transloco }}
          </label>
        </md-radiobutton>
        <!--<md-datepicker
          #datePicker
          [(ngModel)]="accessor.accountExpires"
          [disabled]="!accountExpirationRadiogroup.value"
        ></md-datepicker-->
      </div>
    </div>
  </md-group>
</div>
