<div class="fullscreen bg-white flex-row"> 
    <div *ngIf="showLeftPane" class="left-pane">
        <img src="/assets/logo_login.svg" class="logo-img"/>
        <md-treeview 
            [tree]="tree" 
            [nodeLabel]="mdTreeModal"
            class="treeview" 
            (onNodeSelect)="handleNodeSelection($any($event))"
            #treeView>
        </md-treeview>
        <div class="flex-row footer">
            <div class="avatar"><img src="/assets/avatar-example.png" class="avatar-img"/></div>
            <div class="user-info column">
                <label>{{user?.display_name}}</label>
                <label>max_gulevich@gmail.com</label>
            </div>
            <div class="more-container">
                <img src="/assets/more_vert.svg" class="more" [mdDropdownContainer]="loginMenu" />
            </div>
            <md-dropdown-menu #loginMenu>
                <div class="dropdown-item" (click)="loginMenu.close(); accountsettings.open()">Настройки аккаунта</div>
                <hr />
                <div class="dropdown-item" (click)="logout()">Выход из системы</div>
            </md-dropdown-menu>
        </div>
    </div>
    <div class="right-pane column">
        <app-header [selectedNode]="selectedNode"></app-header>
        <app-catalog-content [selectedNode]="selectedNode" (selectedNodeChanged)="changeTreeView($event)" #catalogContent></app-catalog-content>
    </div>
</div>

<md-modal #accountsettings>
    <label class="app-modal-header">Настройки</label>
    <div class="app-modal-body">
        TODO
    </div>
</md-modal>

<ng-template #mdTreeModal let-data>
    <img class="tree-icon" [src]="data.icon"/>
    <label class="tree-label">{{data.name}}</label>
</ng-template>