@use '../../../../../../node_modules/multidirectory-ui-kit/styles/global.scss';

.bg-white {
    background: global.$md-neutral-100;
}

.left-pane {
    border-right: 1px solid lightgrey;
    display: flex;
    flex-flow: column nowrap;
}
.right-pane {
    flex-grow: 1;
    min-width: 0;
}
.treeview {
    flex-grow: 1;
}

.avatar {
    padding: 0 8px;
    .avatar-img {
        max-height: 50px;
    }
}
.user-info {
    flex-grow: 1;
}

.footer {
    border-top: 1px solid lightgray;
    padding-top: 8px;
}

.logo-img {
    pointer-events: none;
    height: 50px !important;
    overflow: hidden;
}

.tree-icon {
    padding-right: 4px;
}

:host ::ng-deep .selected .tree-icon {
    filter:  brightness(0%) invert(100%);
    
}