<app-dialog #dialogComponent>
  <div class="app-modal-header">
    <div transloco="group-create.header"></div>
  </div>
  <div>
    <div class="flex align-center gap-1">
      <div class="avatar"><img class="avatar-img" src="/assets/empty_avatar.svg" /></div>
      <div class="place">
        <span transloco="group-create.addto"></span>: {{ dialogData.parentDn }}
      </div>
    </div>
    <hr />
    <md-form #groupForm>
      <div class="flex w-full align-center pv-8">
        <div class="grow-1">
          <label for="repeatPassword" transloco="group-create.group-name"></label>
        </div>
        <md-textbox
          [(ngModel)]="setupRequest.groupName"
          appRequired
          class="grow-1"
          name="groupName"
        ></md-textbox>
      </div>
      <div class="flex w-full align-center pv-8">
        <div class="grow-1">
          <label for="repeatPassword" transloco="group-create.description"></label>
        </div>
        <md-textarea
          [(ngModel)]="setupRequest.description"
          [expandWidth]="true"
          class="w-full grow-1"
          name="description"
        ></md-textarea>
      </div>
      <div class="flex w-full align-center pv-8" style="display: none">
        <div class="grow-1">
          <label for="repeatPassword" transloco="group-create.group-name-legacy"></label>
        </div>
        <md-textbox
          [(ngModel)]="setupRequest.groupNameLegacy"
          class="grow-1"
          name="repeatPassword"
        ></md-textbox>
      </div>

      <div class="flex w-full align-center pv-8" style="display: none">
        <md-radiogroup
          #groupScope
          [(ngModel)]="setupRequest.groupScope"
          [drawBorder]="true"
          [title]="'group-create.group-scope-label' | transloco"
          class="grow-1"
        >
          <md-radiobutton [group]="groupScope" [value]="1" name="groupScope">
            <span transloco="group-create.group-scope-local"></span>
          </md-radiobutton>
          <md-radiobutton [group]="groupScope" [value]="2" name="groupScope">
            <span transloco="group-create.group-scope-global"></span>
          </md-radiobutton>
          <md-radiobutton [group]="groupScope" [value]="3" name="groupScope">
            <span transloco="group-create.group-scope-universal"></span>
          </md-radiobutton>
        </md-radiogroup>
        <md-radiogroup
          #groupType
          [(ngModel)]="setupRequest.groupType"
          [drawBorder]="true"
          [title]="'group-create.group-type-label' | transloco"
          class="grow-1 h-full"
          style="display: none"
        >
          <md-radiobutton [group]="groupType" [value]="1" name="groupType">
            <span transloco="group-create.group-type-security"></span>
          </md-radiobutton>
          <md-radiobutton [group]="groupType" [value]="2" name="groupType">
            <span transloco="group-create.group-type-distribution"></span>
          </md-radiobutton>
        </md-radiogroup>
      </div>
    </md-form>
  </div>
  <div class="app-modal-footer">
    <div class="flex align-center justify-end gap-1">
      <md-button (click)="onClose()">
        <span transloco="group-create.cancel"></span>
      </md-button>
      <md-button (click)="onFinish($event)" [primary]="true">
        <span transloco="group-create.apply"></span>
      </md-button>
    </div>
  </div>
</app-dialog>
