<md-treeview 
    [tree]="navigationTree"
    [nodeLabel]="mdTreeModal"
    class="treeview" 
    (onNodeSelect)="handleNodeSelection($any($event))"
    (onNodeRightClick)="handleNodeRightClick($any($event))"
    #treeView>
</md-treeview>

<ng-template #mdTreeModal let-data>
    <img class="tree-icon" [src]="data.icon"/>
    <label class="tree-label">{{data.name}}</label>
</ng-template>

<md-dropdown-menu #contextMenu>
    <div class="dropdown-item" (click)="contextMenu.close()">
        {{ "catalog-content.more" | transloco }}
    </div>
    <div class="dropdown-item" (click)="contextMenu.close();">
        {{ "catalog-content.change-password" | transloco }}
    </div>
    <div class="dropdown-item" (click)="contextMenu.close();">
        {{ "catalog-content.delete" | transloco }}
    </div>
</md-dropdown-menu> 
