<div class="app-modal-header">
  {{ 'group-selector.modal-header' | transloco }}
</div>
<div class="flex-column h-100">
  <div class="flex-row">
    {{ 'group-selector.header' | transloco }}
  </div>
  <div class="row flex-gap-10">
    <md-textbox
      class="col-xs-9 flex-grow-1"
      [disabled]="true"
      [(ngModel)]="entityTypeDisplay"
    ></md-textbox>
    <md-button (click)="selectEntityType()" class="col-xs-3" [disabled]="!allowSelectEntityTypes">
      {{ 'group-selector.object-types' | transloco }}
    </md-button>
  </div>
  <div class="flex-row">
    {{ 'group-selector.from-place' | transloco }}
  </div>
  <div class="row flex-gap-10">
    <md-textbox
      class="col-xs-9 flex-grow-1"
      [(ngModel)]="selectedCatalogDn"
      [disabled]="true"
    ></md-textbox>
    <md-plane-button (click)="selectCatalog()" class="col-xs-3" [hasBorder]="true">
      {{ 'group-selector.places' | transloco }}
    </md-plane-button>
  </div>
  <div class="flex-row">
    {{ 'group-selector.name-prompt' | transloco }}
  </div>
  <div class="flex-grow-1 row flex-gap-10" style="height: 96px">
    <!--md-textarea class="col-xs-9 flex-grow-1 w-100" [expandWidth]="true" [expandHeight]="true" [(ngModel)]="name"></md-textarea-->
    <md-multiselect
      [suppressMenu]="true"
      (inputChanged)="checkNames()"
      #selector
      [(ngModel)]="name"
      [options]="availableGroups"
      [notFoundText]="'group-selector.not-found-text' | transloco"
      class="col-xs-9 flex-grow-1"
    >
    </md-multiselect>
    <md-plane-button (click)="checkNames()" class="col-xs-3 text-nowrap" [hasBorder]="true">
      {{ 'group-selector.check-name' | transloco }}
    </md-plane-button>
  </div>
</div>
<div class="app-modal-footer">
  <div class="flex-row flex-space-between">
    <md-button [disabled]="true">
      {{ 'group-selector.additional-parameters' | transloco }}
    </md-button>
    <div class="flex-row flex-gap-10">
      <md-button (click)="close()">
        {{ 'group-selector.cancel' | transloco }}
      </md-button>
      <md-button (click)="finish()" [primary]="true">
        {{ 'group-selector.apply' | transloco }}
      </md-button>
    </div>
  </div>
</div>
