<div class="flex-row flex-space-between flex-align-center">
  <h2 class="bold">{{ 'dns-settings.redirection-zones-tab' | transloco }}</h2>
  <div class="flex-row flex-gap-10">
    <md-button (click)="onAddRedirectionZone()">{{ 'dns-settings.add' | transloco }}</md-button>

    <md-button (click)="onDeleteRedirectionZone()">{{
      'dns-settings.delete' | transloco
    }}</md-button>

    <md-button (click)="onEnableRedirectionZone()">{{
      'dns-settings.enable' | transloco
    }}</md-button>

    <md-button (click)="onDisableRedirectionZone()">{{
      'dns-settings.disable' | transloco
    }}</md-button>
  </div>
</div>
<div class="flex flex-column flex-grow-1 dns-redirection-zones-container">
  <md-datagrid
    name="redirection-zones-grid"
    [rows]="redirectionZonesRows"
    [columns]="redirectionZonesColumns"
    [page]="redirectionZonesPage"
    (selectionChanged)="onRedirectionZonesSelectionChanged($event)"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
  ></md-datagrid>
</div>
