<div *transloco="let t; prefix: translocoSection" class="flex flex-col gap-1 p-1 w-full">
  <md-form #form [autocomplete]="false">
    <div class="flex flex-center">
      <div class="title">
        {{ t('header') }}
      </div>
      <md-tooltip [iconPath]="'assets/info-circle.svg'" [left]="-250" [width]="550" class="help">
        <div [innerHTML]="t('help')"></div>
      </md-tooltip>
    </div>
    <div class="flex flex-center"></div>
    <div class="mf-control-grid">
      <label class="gap-1" for="api-key">API Key</label>
      <md-textbox
        [(ngModel)]="apiKey"
        appMfKeyValidator
        class="col-xs-4"
        name="api-key"
      ></md-textbox>

      <label class="gap-1" for="api-secret">API Secret</label>
      <md-textbox
        [(ngModel)]="apiSecret"
        [allowPasswordView]="false"
        [isSecret]="true"
        [password]="true"
        appMfKeyValidator
        class="col-xs-4"
        name="api-secret"
      ></md-textbox>
    </div>

    <div class="flex justify-end pv-16 gap-1">
      <md-button (click)="clear()">{{ t('clear') }}</md-button>
      <md-button (click)="apply()" [disabled]="!form.valid" [primary]="true"
        >{{ t('apply') }}
      </md-button>
    </div>
  </md-form>
</div>
