<md-modal #modal [opened]="true" class="paddingless" [closeable]="false" [width]="'330px'">
  <ng-container class="app-modal-header">
    <img src="/assets/logo_login_transparent.svg" class="logo-img" />
  </ng-container>
  <div class="w-full h-full p-16 flex flex-col flex-align-center justify-center">
    {{ errorMessage | transloco }}
  </div>
  <ng-container class="app-modal-footer flex justify-center">
    <div class="flex justify-center w-full">
      <md-button (click)="retry()" [primary]="true">{{
        'display-errors.retry' | transloco
      }}</md-button>
    </div>
  </ng-container>
</md-modal>
