<ng-container *transloco="let t; prefix: 'home'">
  <img (click)="handleLogoClick()" class="logo-img" src="/assets/logo_login.svg" />
  <div class="sidebar">
    <div class="treeview">
      <router-outlet name="sidebar"></router-outlet>
    </div>
    <div class="flex-row footer">
      <div class="avatar">
        @if (!user.jpegPhoto) {
          <img src="/assets/avatar_placeholder.svg" class="avatar-img avatar-img-placeholder" />
        }
        @if (!!user.jpegPhoto) {
          <img [src]="'data:image/jpg;base64,' + user.jpegPhoto" class="avatar-img" />
        }
      </div>
      <div class="user-info column">
        <label>{{ user.display_name }}</label>
        <label>{{ user.mail }}</label>
      </div>
      <div
        [mdDropdownContainer]="loginMenu"
        [mdDropdownXOffset]="20"
        class="flex items-center justify-center px-2 hover:bg-(--md-white-blue-2) hover:cursor-pointer"
      >
        <img class="w-1.5" src="/assets/more_vert.svg" />
      </div>
      <md-dropdown-menu #loginMenu>
        <div (click)="loginMenu.close(); openAccountSettings()" class="dropdown-item">
          {{ t('account-settings') }}
        </div>
        <div (click)="loginMenu.close(); openChangePassword()" class="dropdown-item">
          {{ t('change-password') }}
        </div>
        <div (click)="logout()" class="dropdown-item">{{ t('logout') }}</div>
      </md-dropdown-menu>
    </div>
  </div>
</ng-container>
