:host {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
}

.sidebar {
  z-index: 9;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.treeview {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.avatar {
  user-select: none;
  padding: 0 8px;

  .avatar-img {
    max-height: 50px;
  }
}

::ng-deep .dark-theme .sidebar .avatar-img.avatar-img-placeholder {
  filter: invert(0.9) hue-rotate(45deg) contrast(15) sepia(0.5) brightness(0.7);
}

.user-info {
  flex-grow: 1;
}

.footer {
  border-top: 1px solid lightgray;
  padding-top: 8px;
  user-select: none;
}

.logo-img {
  user-select: none;
  min-height: 50px !important;
  height: 50px !important;
  overflow: hidden;
  background-color: var(--md-blue);
  cursor: pointer;
}

::ng-deep .dark-theme .logo-img {
  filter: invert(0.3) hue-rotate(45deg) contrast(15) sepia(0.5) brightness(0.7);
}

:host ::ng-deep .selected:not(.focused) .tree-icon {
  filter: brightness(0%) invert(100%);
}

.left-pane {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-flow: column nowrap;
  user-select: none;
}

.sidebar-bookmark {
  display: block;
  position: absolute;
  color: var(--md-white);
  cursor: pointer;

  height: 50px;
  width: 25px;
  right: 0.5rem;
  z-index: 1000;

  &__icon {
    fill: var(--md-neutral-1000);
    position: relative;
    text-align: center;
    top: 1.17rem;
    left: 0.3rem;
  }

  &.active {
    height: 100vh;
    right: 0;
    left: 0;
    background: var(--md-bright);
    .sidebar-bookmark__icon {
      transform: scale(-1, -1);
    }
  }
}
