.entity-attributes-container {
    padding: 1rem 0;
}

.filter {
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}
.filter:not(:first) {
    padding-top: 0;
}
.filter-label {
    padding: 0;
    padding-left: 6px;
}