:host {
  background-color: var(--md-white);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  user-select: none;
}

.control-pane {
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.alert-pane {
  width: 100%;
  padding-bottom: 1rem;
  md-alert {
    flex-grow: 1;
  }
}

.button-wrapper {
  height: 24px;
  margin-top: -1px;
  md-button {
    color: black !important;
  }

  &:hover,
  &.dark-blue {
    background-color: var(--md-dark-blue) !important;

    .color-change-blue-white {
      filter: brightness(0) invert(1);
    }
  }

  .color-change-white-blue:not(:hover) {
    filter: invert(45%) sepia(34%) saturate(919%) hue-rotate(167deg) brightness(90%) contrast(88%);
  }
}

:host ::ng-deep .datatable-body-row.active .row-icon {
  filter: brightness(0) invert(100%);
}

.justify-centered {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.logo-placeholder {
  user-select: none;
  pointer-events: none;
  filter: grayscale(60%) opacity(0.55);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(20%) translateY(-15%) rotate(15deg);
}
