<div class="control-pane flex flex-wrap align-center justify-between">
  <div class="flex align-center flex-wrap gap-2">
    <div class="button-wrapper">
      <md-plane-button
        [mdDropdownContainer]="createMenu"
        class="search control-button min-w-[16px]"
      >
        <div class="flex justify-between">
          <img [src]="'assets/add_blue.svg'" class="color-change-blue-white" />
          @if (!createMenu.dropdownVisible) {
            <img class="mw-12 color-change-blue-white" [src]="'assets/arrow_drop_down_blue.svg'" />
          }
          @if (createMenu.dropdownVisible) {
            <img class="mw-12 color-change-white-blue" [src]="'assets/arrow_drop_up_white.svg'" />
          }
        </div>
      </md-plane-button>
    </div>
    <md-button (click)="openCreateUser()">
      <span class="flex justify-between gap-4 align-center">
        <img [src]="'assets/person_add.svg'" />
        {{ 'catalog-content.create-user' | transloco }}
      </span>
    </md-button>
    <md-button (click)="openCreateGroup()">
      <span class="flex justify-between gap-4 align-center">
        <img [src]="'assets/group.svg'" style="transform: scale(1.35)" />
        {{ 'catalog-content.create-group' | transloco }}
      </span>
    </md-button>

    <!--    <md-button [disabled]="true" class="hidden" (click)="createObjectModal.open()">-->
    <!--      <span class="flex justify-between gap-4">-->
    <!--        <img [src]="'assets/group_add.svg'" />-->
    <!--        {{ 'catalog-content.create-object' | transloco }}-->
    <!--      </span>-->
    <!--    </md-button>-->
    <md-button (click)="openCreateComputer()">
      <span class="flex justify-between gap-4 align-center">
        <img [src]="'assets/computer.svg'" style="margin-top: -4px; height: 18px" />
        {{ 'catalog-content.create-computer' | transloco }}
      </span>
    </md-button>
  </div>
  <div>
    <md-textbox
      [(ngModel)]="searchQuery"
      placeholder="{{ 'catalog-content.filter' | transloco }}"
    />
  </div>
</div>
<div [ngStyle]="{ display: 'block' }" class="flex flex-col-expanded">
  @switch (currentView) {
    @case (ViewMode.Table) {
      <app-table-view
        (rightClick)="showContextMenu($event)"
        [searchQuery]="searchQuery"
      ></app-table-view>
    }
    @case (ViewMode.SmallIcons) {
      <app-icon-view (rightClick)="showContextMenu($event)"></app-icon-view>
    }
    @case (ViewMode.BigIcons) {
      <app-icon-view [big]="true" (rightClick)="showContextMenu($event)"></app-icon-view>
    }
    @case (ViewMode.Details) {
      <app-icon-view (rightClick)="showContextMenu($event)"></app-icon-view>
    }
  }
</div>

<md-dropdown-menu #helpMenu>
  <div class="dropdown-item">
    {{ 'catalog-content.help' | transloco }}
  </div>
</md-dropdown-menu>

<md-dropdown-menu #createMenu>
  <div (click)="createMenu.close(); openCreateGroup()" class="dropdown-item">
    {{ 'catalog-content.group' | transloco }}
  </div>
  <div (click)="createMenu.close(); openCreateComputer()" class="dropdown-item">
    {{ 'catalog-content.computer' | transloco }}
  </div>
  <div class="dropdown-item disabled hidden">
    {{ 'catalog-content.contact' | transloco }}
  </div>
  <div (click)="createMenu.close(); openCreateOu()" class="dropdown-item">
    {{ 'catalog-content.ou' | transloco }}
  </div>
  <div (click)="createMenu.close(); openCreateCatalog()" class="dropdown-item">
    {{ 'catalog-content.folder' | transloco }}
  </div>
  <div class="dropdown-item disabled hidden">
    {{ 'catalog-content.common-folder' | transloco }}
  </div>
  <div class="dropdown-item disabled hidden">
    {{ 'catalog-content.printer' | transloco }}
  </div>
  <div (click)="createMenu.close(); openCreateUser()" class="dropdown-item">
    {{ 'catalog-content.user' | transloco }}
  </div>
  <div (click)="createMenu.close(); openCreateRule()" class="dropdown-item disabled hidden">
    {{ 'catalog-content.rule' | transloco }}
  </div>
  <div class="dropdown-item disabled hidden">msDS-ShadowPrincipalContainer</div>
  <div class="dropdown-item disabled hidden">msExchDynamic DistributionList</div>
  <div class="dropdown-item disabled hidden">mslmaging-PSP</div>
  <div class="dropdown-item disabled hidden">MSMQ Queue Alias</div>
</md-dropdown-menu>
