<div class="admin-settings">
    <div class="flex-row flex-space-between">
        <span class="pv-8 text-justify accented mb-16">
            To use the Multidirectory app, please, complete the initial setup process
        </span>
    </div>
    <md-form #form>
        <div class="flex-row flex-space-between  justify-center">
            <label  class="textbox-label">UPN</label>
            <div class="flex-column  flex-grow-1">
                <md-textbox required [(ngModel)]="setupRequest.user_principal_name"></md-textbox>
            </div>
        </div>
        
        <div class="flex-row flex-space-between  justify-center">
            <label  class="textbox-label">Display Name</label>
            <div class="flex-column  flex-grow-1">
                <md-textbox required [(ngModel)]="setupRequest.display_name"></md-textbox>
            </div>
        </div>
        
        <div class="flex-row flex-space-between  justify-center">
            <label  class="textbox-label">Email</label>
            <div class="flex-column  flex-grow-1">
                <md-textbox required [(ngModel)]="setupRequest.mail"></md-textbox>
            </div>
        </div>   
    </md-form>
</div>
