<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Улица</label></div>
    <md-textarea class="col-md-8" name="full-name"></md-textarea>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Почтовый ящик</label></div>
    <md-textbox class="col-md-8" name="full-name"></md-textbox>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Город</label></div>
    <md-textbox class="col-md-8" name="full-name"></md-textbox>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Область</label></div>
    <md-textbox class="col-md-8" name="full-name"></md-textbox>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Почтовый индекс</label></div>
    <md-textbox class="col-md-8" name="full-name"></md-textbox>
</div>
<div class="row align-start pv-8">
    <div class="col-md-4"><label for="full-name">Страна</label></div>
    <md-dropdown class="col-md-8 w-100" [options]="['ru', 'en']"></md-dropdown>
</div>
