<div class="flex flex-col gap-2">
  <div>
    <p>{{ 'schema-entity-details-object-classes.header' | transloco }}</p>
  </div>
  <div>
    <md-datagrid
      #grid
      [rows]="objectClasses()"
      [pageSizes]="pageSizes"
      [columns]="columns()"
      [total]="objectClasses().length"
      [limit]="pageSize"
      [offset]="0"
    />
  </div>
  <div class="flex flex-row gap-2 justify-between">
    <div class="flex flex-row gap-2 justify-start">
      <md-button (click)="addObjectClass()">{{
        'schema-entity-details-object-classes.add' | transloco
      }}</md-button>
      <md-button
        [disabled]="cantDeleteObjectClasses() || grid.selected.length == 0"
        (click)="deleteObjectClass()"
        >{{ 'schema-entity-details-object-classes.delete' | transloco }}</md-button
      >
    </div>

    <div class="app-modal-footer flex justify-end gap-2">
      <md-button [disabled]="!isChanged" (click)="cancel()">{{
        'schema-entities-details-dialog.cancel' | transloco
      }}</md-button>
      <md-button [primary]="true" [disabled]="!isChanged" (click)="apply()">{{
        'schema-entities-details-dialog.apply' | transloco
      }}</md-button>
    </div>
  </div>
</div>
