<div class="app-modal-header">
  <div>{{ 'dns-rule-dialog.modal-header' | transloco }}</div>
</div>
<div class="flex align-center flex-gap-10">
  <md-form #form>
    <div class="form-grid">
      <label>{{ 'dns-rule-dialog.name' | transloco }}</label>
      <md-textbox
        appRequired
        [(ngModel)]="dnsRule.record_name"
        [disabled]="sameAsZoneName || editMode"
      ></md-textbox>
      <div></div>
      <md-checkbox [disabled]="editMode" [(ngModel)]="sameAsZoneName">{{
        'dns-rule-dialog.same-as-zone-name' | transloco
      }}</md-checkbox>
      <label>{{ 'dns-rule-dialog.ip' | transloco }}</label>
      <div>
        @switch (recordDataType) {
          @case (DnsRuleClass.IP6.valueOf()) {
            <md-textbox
              appRequired
              appValidIp6Address
              [(ngModel)]="dnsRule.record_value"
            ></md-textbox>
          }
          @case (DnsRuleClass.IP4.valueOf()) {
            <md-textbox appRequired validIpAddress [(ngModel)]="dnsRule.record_value"></md-textbox>
          }
          @case (DnsRuleClass.SRV.valueOf()) {
            <md-textbox appRequired [(ngModel)]="dnsRule.record_value"></md-textbox>
          }
          @default {
            <md-textbox appRequired [(ngModel)]="dnsRule.record_value"></md-textbox>
          }
        }
      </div>
      <label>{{ 'dns-rule-dialog.type' | transloco }}</label>
      <md-dropdown
        appRequired
        [disabled]="editMode"
        [(ngModel)]="recordType"
        [options]="DnsRuleTypes"
      ></md-dropdown>
      <label>{{ 'dns-rule-dialog.ttl' | transloco }}</label>
      <md-textbox appRequired [(ngModel)]="dnsRule.ttl"></md-textbox>
    </div>
  </md-form>
</div>

<div class="app-modal-footer">
  <div class="flex align-center justify-end flex-gap-10">
    <md-button (click)="onClose()">
      {{ 'dns-rule-dialog.cancel' | transloco }}
    </md-button>
    <md-button [primary]="true" [disabled]="!formValid" (click)="onFinish($event)">
      {{ 'dns-rule-dialog.apply' | transloco }}
    </md-button>
  </div>
</div>
