<md-form #form>
    <div class="row align-start pv-8">
        <div class="col-xs-3">
            <label for="first-name">Имя</label>
        </div>
        <div class="col-xs-5 flex-row align-start flex-grow-1 flex-gap-10">
            <md-textbox 
                required class="w-100" name="first-name" 
                (change)="onNameChange()"
                [(ngModel)]="setupRequest.firstName">
            </md-textbox>
        </div>
        <div class="col-xs-2">
            <label for="initials">Инициалы</label>
        </div>
        <div class="col-xs-2">
            <md-textbox name="initials" 
                (change)="onNameChange()"
                [(ngModel)]="setupRequest.initials">
            </md-textbox>
        </div>
    </div>  
    
    <div class="row align-start pv-8">
        <div class="col-xs-3"><label for="last-name">Фамилия</label></div>
        <md-textbox class="col-xs-9" 
            name="last-name"
            required
            (change)="onNameChange()"
            [(ngModel)]="setupRequest.lastName">
        </md-textbox>
    </div>
    
    
    <div class="row align-start pv-8">
        <div class="col-xs-3"><label for="full-name">ФИО полностью</label></div>
        <md-textbox class="col-xs-9" name="full-name" [(ngModel)]="setupRequest.fullName"></md-textbox>
    </div>
    
    <div class="row align-start pv-8">
        <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
            <label for="login">Имя для входа:</label>
            <md-textbox required [(ngModel)]="setupRequest.upnLogin" name="login"></md-textbox>
        </div>
        <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
            <label>Домен</label>
            <md-textbox required [(ngModel)]="setupRequest.upnDomain" name="upnDomain"></md-textbox>
        </div>
    </div>  
    
    <div class="row align-start pv-8">
        <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
            <label for="login">Имя для входа(pre-Windows 2000):</label>
            <md-textbox [disabled]="true" name="login"></md-textbox>
        </div>
        <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
            <label>Домен</label>
            <md-textbox [disabled]="true" name="domain"></md-textbox>
        </div>
    </div>
</md-form>
