<app-dialog>
  <div class="app-modal-header">{{ 'object-class-properties-dialog.header' | transloco }}</div>

  <md-stepper #stepper>
    <ng-template mdStep>
      <app-object-class-general [objectClass]="objectClass" (stepValid)="setStepValid($event)" />
    </ng-template>
    <ng-template mdStep>
      <app-object-class-attribute-summary [objectClass]="objectClass" />
    </ng-template>
  </md-stepper>
  <div class="flex flex-row justify-end gap-2">
    <md-button (click)="cancel()">{{ 'object-class-create-dialog.cancel' | transloco }}</md-button>

    @if (stepper.currentIndex == 0) {
      <md-button (click)="stepper.next()" [primary]="true" [disabled]="!stepValid">{{
        'object-class-create-dialog.next' | transloco
      }}</md-button>
    }
    @if (stepper.currentIndex > 0) {
      <md-button (click)="finish()" [primary]="true">{{
        'object-class-create-dialog.done' | transloco
      }}</md-button>
    }
  </div>
</app-dialog>
