<div class="page">
  <div class="demo">
    <h1 style="font-family: 'Inter'; font-weight: normal; font-style: normal">Inter Regular</h1>
    <pre title="Usage">
.your-style &#123;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
&#125;</pre
    >
    <pre title="Preload (optional)">
&lt;link rel=&quot;preload&quot; href=&quot;subset-Inter-Regular.woff2&quot; as=&quot;font&quot; type=&quot;font/woff2&quot; crossorigin&gt;</pre
    >
    <div
      class="font-container"
      style="font-family: 'Inter'; font-weight: normal; font-style: normal"
    >
      <p class="letters">
        abcdefghijklmnopqrstuvwxyz<br />
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
        0123456789.:,;()*!?'@#&lt;&gt;$%&^+-=~
      </p>
      <p class="s10" style="font-size: 10px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s11" style="font-size: 11px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s12" style="font-size: 12px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s14" style="font-size: 14px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s18" style="font-size: 18px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s24" style="font-size: 24px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s30" style="font-size: 30px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s36" style="font-size: 36px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s48" style="font-size: 48px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s60" style="font-size: 60px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s72" style="font-size: 72px">The quick brown fox jumps over the lazy dog.</p>
    </div>
  </div>

  <div class="demo">
    <h1 style="font-family: 'Inter'; font-weight: bold; font-style: normal">Inter Bold</h1>
    <pre title="Usage">
.your-style &#123;
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal;
&#125;</pre
    >
    <pre title="Preload (optional)">
&lt;link rel=&quot;preload&quot; href=&quot;subset-Inter-Bold.woff2&quot; as=&quot;font&quot; type=&quot;font/woff2&quot; crossorigin&gt;</pre
    >
    <div class="font-container" style="font-family: 'Inter'; font-weight: bold; font-style: normal">
      <p class="letters">
        abcdefghijklmnopqrstuvwxyz<br />
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
        0123456789.:,;()*!?'@#&lt;&gt;$%&^+-=~
      </p>
      <p class="s10" style="font-size: 10px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s11" style="font-size: 11px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s12" style="font-size: 12px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s14" style="font-size: 14px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s18" style="font-size: 18px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s24" style="font-size: 24px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s30" style="font-size: 30px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s36" style="font-size: 36px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s48" style="font-size: 48px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s60" style="font-size: 60px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s72" style="font-size: 72px">The quick brown fox jumps over the lazy dog.</p>
    </div>
  </div>

  <div class="demo">
    <h1 style="font-family: 'Inter'; font-weight: 500; font-style: normal">Inter Medium</h1>
    <pre title="Usage">
.your-style &#123;
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
&#125;</pre
    >
    <pre title="Preload (optional)">
&lt;link rel=&quot;preload&quot; href=&quot;subset-Inter-Medium.woff2&quot; as=&quot;font&quot; type=&quot;font/woff2&quot; crossorigin&gt;</pre
    >
    <div class="font-container" style="font-family: 'Inter'; font-weight: 500; font-style: normal">
      <p class="letters">
        abcdefghijklmnopqrstuvwxyz<br />
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
        0123456789.:,;()*!?'@#&lt;&gt;$%&^+-=~
      </p>
      <p class="s10" style="font-size: 10px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s11" style="font-size: 11px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s12" style="font-size: 12px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s14" style="font-size: 14px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s18" style="font-size: 18px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s24" style="font-size: 24px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s30" style="font-size: 30px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s36" style="font-size: 36px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s48" style="font-size: 48px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s60" style="font-size: 60px">The quick brown fox jumps over the lazy dog.</p>
      <p class="s72" style="font-size: 72px">The quick brown fox jumps over the lazy dog.</p>
    </div>
  </div>
</div>
