<app-dialog #dialogComponent>
  <div class="app-modal-header">
    {{ 'properties-modal.modal-header' | transloco }}
  </div>

  <div class="app-modal-body">
    @switch (entityType) {
      @case (EntityTypes.User) {
        <app-user-properties class="block h-100" [accessor]="accessor || {}"></app-user-properties>
      }
      @case (EntityTypes.Group) {
        <app-group-properties class="block h-100" [accessor]="accessor || {}" />
      }
      @case (EntityTypes.Computer) {
        <app-computer-properties class="block h-100" [accessor]="accessor || {}" />
      }
      @default {
        <div class="block flex h-100">
          <app-entity-attributes [accessor]="accessor || {}" class="w-full" />
        </div>
      }
    }
  </div>

  <div class="app-modal-footer flex justify-end">
    <md-button (click)="save(true)" class="pr-8">{{
      'properties-modal.close' | transloco
    }}</md-button>
    <md-button (click)="save(false)" [primary]="true"
      >{{ 'properties-modal.approve' | transloco }}
    </md-button>
  </div>
</app-dialog>
