@if (zone) {
  <div class="client-grid p-8">
    <div class="cell-index">{{ index() }}</div>
    <div class="cell-domain">{{ zone.zone_name }}</div>
    <div class="cell-value">{{ zone.zone_type }}</div>
    <div class="cell-type"></div>
    <div class="cell-ttl"></div>
    <div class="cell-control-buttons">
      @if (expanded()) {
        <mui-button (clicked)="addZoneRecord()">{{
          'dns-zone-list-item.add' | transloco
        }}</mui-button>
      }
      <mui-button class="control-button" (clicked)="toggleExpand()">
        <fa-icon [icon]="expanded() ? faCaretUp : faCaretDown"></fa-icon>
      </mui-button>
      <mui-button class="control-button" (clicked)="onDeleteZoneClick(zone)">
        <img class="control-button-logo" [src]="'assets/trash.svg'" />
      </mui-button>
    </div>
    @if (expanded()) {
      <div class="cell-content flex-column">
        @for (type of zone.records; track $index) {
          @for (record of type.records; track $index) {
            <app-dns-rule-list-item
              [dnsRule]="record"
              (deleteClick)="onDeleteRuleClick(record)"
              (editClick)="onEditRuleClick(record)"
              (turnOffClick)="onTurnOffRuleClick(record)"
            ></app-dns-rule-list-item>
          }
        }
      </div>
    }
  </div>
}
