<!-- Header -->
<div class="grid">
  <b>{{ 'user-create.summary.header' | transloco }}</b>
</div>

<!-- Full Name -->
<div class="grid grid-cols-4 gap-4 items-center py-8">
  <label for="full-name" class="col-span-1">
    {{ 'user-create.summary.full-name-label' | transloco }}
  </label>
  <md-textbox
    class="col-span-3 w-full"
    name="full-name"
    [(ngModel)]="setupRequest.fullName"
    [disabled]="true"
  ></md-textbox>
</div>

<!-- Login Name -->
<div class="grid grid-cols-4 gap-4 items-center py-8">
  <label for="login-name" class="col-span-1">
    {{ 'user-create.summary.logon-name-label' | transloco }}
  </label>
  <md-textbox
    class="col-span-3 w-full"
    [(ngModel)]="setupRequest.upnLogin"
    name="login-name"
    [disabled]="true"
  ></md-textbox>
</div>

<!-- Additional Settings Header -->
<div class="grid">
  <b>
    {{ 'user-create.summary.additional-settings' | transloco }}
  </b>
</div>
