@if (passwordPolicy) {
  <div class="client-grid p-8">
    <div class="cell-drag-drop">
      <img
        class="control-button-logo"
        width="32"
        height="32"
        ngSrc="assets/draggable.svg"
        alt="drag-icon"
      />
    </div>
    <div class="cell-index">{{ index() }}</div>
    <div class="cell-domain">{{ passwordPolicy.name }}</div>
    <!--    <div class="cell-ip"></div>-->
    <!--    <div class="cell-groups"></div>-->
    <div class="cell-control-buttons">
      <md-plane-button class="control-button" (click)="onEditClick()">
        <img
          class="control-button-logo"
          width="24"
          height="24"
          ngSrc="assets/pencil.svg"
          alt="pencil-icon"
        />
      </md-plane-button>
      <md-plane-button class="control-button" (click)="onDeleteClick()">
        <img
          class="control-button-logo"
          width="24"
          height="24"
          ngSrc="assets/trash.svg"
          alt="trash-icon"
        />
      </md-plane-button>
    </div>
  </div>
}
