<div class="p-32 w-full">
  <md-form #form (submit)="change($event)">
    <div class="flex justify-between pb-4">
      <md-button [primary]="true" [disabled]="!form.valid" [submit]="true">
        {{ 'password-policy.approve' | transloco }}
      </md-button>

      <md-button routerLink="/policies/password-policies">{{ 'password-policy.back' | transloco }}</md-button>
    </div>
    <div class="grid grid-columns-2 gap-2 nowrap w-full">
      <div class="grow-2 grow-2">
        <label>{{ 'password-policy.title' | transloco }}</label>
      </div>
      <div class="grow-1 grow-1">
        <md-textbox [disabled]="true" [placeholder]="passwordPolicy().name"></md-textbox>
      </div>

      <label>{{ 'password-policy.priority' | transloco }}</label>
      <md-textbox [disabled]="true" placeholder="-"></md-textbox>

      <label>{{ 'password-policy.scope' | transloco }}</label>
      <md-textbox [disabled]="true" [placeholder]="'password-policy.all-domain' | transloco"></md-textbox>

      <label>{{ 'password-policy.language' | transloco }}</label>
      <md-dropdown [options]="languageOptions" [(ngModel)]="passwordPolicy().language" />

      <label>{{ 'password-policy.min-length' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minLength" [appMinValue]="0" [appMaxValue]="passwordPolicy().maxLength" appRequired />

      <label>{{ 'password-policy.max-length' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxLength" [appMinValue]="passwordPolicy().minLength" [appMaxValue]="256" appRequired />

      <label>{{ 'password-policy.min-age-days' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minAgeDays" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.max-age-days' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxAgeDays" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.min-lowercase-letters-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minLowercaseLettersCount"
        [appMinValue]="0"
        [appMaxValue]="passwordPolicy().minLength"
        appRequired
      />

      <label>{{ 'password-policy.min-uppercase-letters-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minUppercaseLettersCount" [appMinValue]="0" [appMaxValue]="256" appRequired />

      <label>{{ 'password-policy.min-special-symbols-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minSpecialSymbolsCount" [appMinValue]="0" [appMaxValue]="256" appRequired />

      <label>{{ 'password-policy.min-digits-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minDigitsCount" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.min-unique-symbols-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minUniqueSymbolsCount" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.max-repeating-symbols-in-row-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxRepeatingSymbolsInRowCount" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.max-sequential-keyboard-symbols-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxSequentialKeyboardSymbolsCount" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.max-sequential-alphabet-symbols-count' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxSequentialAlphabetSymbolsCount" [appMinValue]="0" [appMaxValue]="999" appRequired />

      <label>{{ 'password-policy.max-failed-attempts' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().maxFailedAttempts" [appMinValue]="0" [appMaxValue]="100" />

      <label>{{ 'password-policy.lockout-duration' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().lockoutDurationSec" [appMinValue]="0" [appMaxValue]="86400" />

      <label>{{ 'password-policy.fail-delay' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().failDelaySec" [appMinValue]="0" [appMaxValue]="60" />

      <label>{{ 'password-policy.failed-attempts-reset-sec' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().failedAttemptsResetSec" [appMinValue]="0" [appMaxValue]="3600" />

      <md-group class="py-8" title="{{ 'password-policy.forbidden-passwords' | transloco }}">
        <div class="flex flex-row justify-between">
          <md-checkbox [(ngModel)]="passwordPolicy().isExactMatch">{{ 'password-policy.isExactMatch' | transloco }}</md-checkbox>
          <a class="underline" href="api/password_ban_word/download_txt" target="_blank">{{
            'password-policy.dowload-forbidden-passwords' | transloco
          }}</a>
        </div>

        <div class="control-row">
          <div class="password-upload-container">
            <app-passwords-upload [(passwords)]="forbiddenPasswords" />
          </div>
        </div>
      </md-group>
    </div>
  </md-form>
</div>
