<div class="p-32 w-full">
  <div class="pb-4">
    <md-button [primary]="true" routerLink="/policies/password-policies">{{
      'password-policy.back' | transloco
    }}</md-button>
  </div>

  <md-form #form (submit)="change($event)">
    <div class="grid grid-columns-2 gap-2 nowrap w-full">
      <div class="grow-2 grow-2">
        <label>{{ 'password-policy.title' | transloco }}</label>
      </div>
      <div class="grow-1 grow-1">
        <md-textbox
          appRequired
          [disabled]="isDefaultPolicy()"
          [(ngModel)]="passwordPolicy().name"
        ></md-textbox>
      </div>

      <label>{{ 'password-policy.priority' | transloco }}</label>
      <md-textbox
        appRequired
        [disabled]="true"
        [placeholder]="isDefaultPolicy() ? '-' : passwordPolicy().priority.toString()"
      ></md-textbox>

      <label>{{ 'password-policy.scope' | transloco }}</label>
      <div
        class="box-border flex justify-between items-center border border-[var(--md-neutral-300)] rounded py-[6px] px-[10px] has-[:disabled]:bg-[var(--md-neutral-200)]"
      >
        <span [style.color]="isDefaultPolicy() && 'var(--md-neutral-400)'">{{
          isDefaultPolicy()
            ? 'Весь домен'
            : passwordPolicy().scopes.length > 0
              ? passwordPolicy().prettyScopes.join('; ')
              : 'Весь домен'
        }}</span>
        <button
          class="flex justify-center items-center bg-transparent border-none cursor-pointer disabled:cursor-default w-8 h-8"
          type="button"
          [disabled]="isDefaultPolicy()"
          (click)="showGroupDialog()"
        >
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>

      <label>{{ 'password-policy.language' | transloco }}</label>
      <md-dropdown [options]="languageOptions" [(ngModel)]="passwordPolicy().language" />

      <label>{{ 'password-policy.min-length' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minLength"
        [appMaxValue]="passwordPolicy().maxLength"
        [appMaxValue]="32"
        [appMaxValue]="passwordPolicy().maxLength"
        appRequired
      />

      <label>{{ 'password-policy.max-length' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxLength"
        [appMinValue]="0"
        [appMinValue]="passwordPolicy().minLength"
        [appMaxValue]="256"
        appRequired
      />

      <label>{{ 'password-policy.min-age-days' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minAgeDays"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-age-days' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxAgeDays"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.min-lowercase-letters-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minLowercaseLettersCount"
        [appMinValue]="0"
        [appMaxValue]="passwordPolicy().minLength"
        appRequired
      />

      <label>{{ 'password-policy.min-uppercase-letters-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minUppercaseLettersCount"
        [appMinValue]="0"
        [appMaxValue]="256"
        appRequired
      />

      <label>{{ 'password-policy.min-special-symbols-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minSpecialSymbolsCount"
        [appMinValue]="0"
        [appMaxValue]="256"
        appRequired
      />

      <label>{{ 'password-policy.min-digits-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minDigitsCount"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.min-unique-symbols-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minUniqueSymbolsCount"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-repeating-symbols-in-row-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxRepeating_symbols_in_row_count"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-sequential-keyboard-symbols-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxSequentialKeyboardSymbolsCount"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-sequential-alphabet-symbols-count' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxSequentialAlphabetSymbolsCount"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-failed-attempts' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxFailedAttempts"
        [appMinValue]="0"
        [appMaxValue]="100"
      />

      <label>{{ 'password-policy.lockout-duration' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().lockoutDurationSec"
        [appMinValue]="0"
        [appMaxValue]="86400"
      />

      <label>{{ 'password-policy.fail-delay' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().failDelaySec" [appMinValue]="0" [appMaxValue]="60" />

      <label>{{ 'password-policy.failed-attempts-reset-sec' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().failedAttemptsResetSec"
        [appMinValue]="0"
        [appMaxValue]="3600"
      />

      <div class="flex flex-row justify-between">
        <md-checkbox [(ngModel)]="passwordPolicy().isExactMatch">{{
          'password-policy.isExactMatch' | transloco
        }}</md-checkbox>
      </div>
    </div>
    <div class="flex justify-start gap-1 pt-16">
      <md-button [primary]="true" [disabled]="!form.valid" [submit]="true">{{
        'password-policy.approve' | transloco
      }}</md-button>
    </div>
  </md-form>
</div>
