<div class="p-32 w-full">
  <md-form #form (submit)="change($event)">
    <div class="flex justify-between pb-4">
      <md-button [primary]="true" [disabled]="!form.valid" [submit]="true">{{
        'password-policy.approve' | transloco
      }}</md-button>

      <md-button routerLink="/policies/password-policies">{{
        'password-policy.back' | transloco
      }}</md-button>
    </div>

    <div class="grid grid-columns-2 gap-2 nowrap w-full">
      <label>{{ 'password-policy.title' | transloco }}</label>
      <md-textbox
        appRequired
        [disabled]="isDefaultPolicy()"
        [(ngModel)]="passwordPolicy().name"
      ></md-textbox>

      <label>{{ 'password-policy.priority' | transloco }}</label>
      <md-textbox
        appRequired
        [disabled]="true"
        [placeholder]="isDefaultPolicy() ? '-' : passwordPolicy().priority.toString()"
      ></md-textbox>

      <label>{{ 'password-policy.scope' | transloco }}</label>
      <md-textbox
        appRequired
        [disabled]="true"
        [placeholder]="
          isDefaultPolicy()
            ? ('password-policy.all-domain' | transloco)
            : passwordPolicy().scopes.length > 0
              ? passwordPolicy().prettyScopes.join('; ')
              : ('password-policy.all-domain' | transloco)
        "
      ></md-textbox>

      <label>{{ 'password-policy.min-length' | transloco }}</label>
      <md-number [(ngModel)]="passwordPolicy().minLength" [appMaxValue]="32" appRequired />

      <label>{{ 'password-policy.min-age-days' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().minAgeDays"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.max-age-days' | transloco }}</label>
      <md-number
        [(ngModel)]="passwordPolicy().maxAgeDays"
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
      />

      <label>{{ 'password-policy.enforce-password-history' | transloco }}</label>
      <md-number
        [appMinValue]="0"
        [appMaxValue]="999"
        appRequired
        [(ngModel)]="passwordPolicy().historyLength"
      />

      <md-checkbox [(ngModel)]="passwordPolicy().passwordMustMeetComplexityRequirements">
        <label>{{ 'password-policy.password-complexity-requirements' | transloco }}</label>
      </md-checkbox>
    </div>
  </md-form>
</div>
