<div class="domain-settings">
    <div class="flex-row flex-space-between">
        <span class="pv-8 accented mb-16">
            {{ "setup.domain-settings.header" | transloco }}
            <hr>

        </span>
    </div>
    <md-form #form>
        <div class="flex-row flex-space-between justify-center">
            <label  class="textbox-label">
                {{ "setup.domain-settings.domain-label" | transloco }}  
            </label>
            
            <div class="flex-column flex-grow-1">
                <md-textbox
                    appDomainFormat="^(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$"
                    required 
                    [(ngModel)]="setupRequest.domain"
                ></md-textbox>
                <label  class="error-message"  #domainLabel></label>
            </div>
        </div>
    </md-form>
</div>
