<div class="pane">
    <div class="row">
        <img src="/assets/logo_login.svg" />
    </div>
    <div class="p-8">
        <div class="row flex-space-between">
            <label>Login</label>
            <md-textbox></md-textbox>
        </div>
        <div class="row flex-space-between">
            <label>Password</label>
            <md-textbox [password]="true"></md-textbox>
        </div>
        <div class="row flex-center p-8">
            <md-button [primary]="true">Login</md-button>
        </div>    
    </div>
</div>