<md-modal *transloco="let t" #modal [opened]="true" class="paddingless" appHideControlbar [width]="'330px'">
    <ng-container class="app-modal-header">
        <img src="/assets/logo_login_transparent.svg" class="logo-img"/>
    </ng-container>
    <div class="w-100 h-100 p-16">
        <md-form #loginForm>
            <div class="flex-column flex-space-between h-100 flex-gap-20">
                <div class="flex-row flex-space-between">
                    <label class="form-label">{{ t('login.name') }}</label>
                    <md-textbox required [(ngModel)]="login" name="login"></md-textbox>
                </div>
                <div class="flex-row flex-space-between">
                    <label class="form-label">{{ t('login.password') }}</label>
                    <md-textbox required [password]="true" [autocomplete]="true" [(ngModel)]="password" name="password"></md-textbox>
                </div>
            </div>
            <input type="submit" hidden (click)="onLogin()"/>
        </md-form>
    </div>
    <ng-container class="app-modal-footer">
        <div class="flex-row flex-center">
            <md-button [primary]="true" [disabled]="!loginValid" (click)="onLogin()">{{ t('login.login') }}</md-button>
        </div>
    </ng-container>
</md-modal>