<div class="p-32 h-100">
    <md-form #form>
        <div class="flex-column flex-gap-20 nowrap">
            <div class="row">
                <div class="col-md-7">
                    <label>Title</label>
                </div>
                <div class="col-md-5">
                    <md-textbox appRequired [(ngModel)]="passwordPolicy.name"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>Maximum Password Age</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.maximumPasswordAge"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>Minimum Password Age</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.minimumPasswordAge"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>Minimum Password Length</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.minimumPasswordLength"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>Enforce Password History</label>
                </div>
                <div class="col-md-5">  
                    <md-textbox [(ngModel)]="passwordPolicy.enforcePasswordHistory"></md-textbox>
                </div>
            </div>

            <div class="row">
                <md-group class="col-md-12 pt-16" [title]="'Properties'">
                    <div class="flex-row flex-gap-10 nowrap align-center">
                        <md-checkbox [(ngModel)]="passwordPolicy.passwordMustMeetComplexityRequirements">
                            Password Must Meet Complexity Requirements
                        </md-checkbox>
                    </div>
                    <!--div class="flex-row flex-gap-10 nowrap align-center">
                        <md-checkbox [disabled]="true" [(ngModel)]="passwordPolicy.useReversibleEncryption">
                            Use Reversible Encryption
                        </md-checkbox>
                    </div-->
                </md-group>
            </div>
        </div>
    </md-form>

    <div class="flex-row justify-end flex-gap-10">
        <md-button [primary]="true" (click)="save()">{{ "access-policy-create.approve" | transloco }}</md-button>
    </div>
</div>