<div class="p-32 h-100">
    <md-form #form>
        <div class="flex-column flex-gap-20 nowrap">
            <div class="row">
                <div class="col-md-7">
                    <label>{{ 'password-policy-create.title' | transloco}}</label>
                </div>
                <div class="col-md-5">
                    <md-textbox appRequired [(ngModel)]="passwordPolicy.name"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>{{ 'password-policy-create.max-password-age' | transloco}}</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.maximumPasswordAge"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>{{ 'password-policy-create.min-password-age' | transloco}}</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.minimumPasswordAge"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>{{ 'password-policy-create.min-password-length' | transloco}}</label>
                </div>
                <div class="col-md-5">
                    <md-textbox [(ngModel)]="passwordPolicy.minimumPasswordLength"></md-textbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label>{{ 'password-policy-create.enforce-password-history' | transloco}}</label>
                </div>
                <div class="col-md-5">  
                    <md-textbox [(ngModel)]="passwordPolicy.enforcePasswordHistory"></md-textbox>
                </div>
            </div>

            <div class="row">
                <md-group class="col-md-12 pt-16" title="{{'password-policy-create.properties' | transloco}}">
                    <div class="flex-row flex-gap-10 nowrap align-center">
                        <md-checkbox [(ngModel)]="passwordPolicy.passwordMustMeetComplexityRequirements">
                            <label>{{ 'password-policy-create.password-complexity-requirements' | transloco}}</label>
                        </md-checkbox>
                    </div>
                    <!--div class="flex-row flex-gap-10 nowrap align-center">
                        <md-checkbox [disabled]="true" [(ngModel)]="passwordPolicy.useReversibleEncryption">
                            Use Reversible Encryption
                        </md-checkbox>
                    </div-->
                </md-group>
            </div>
        </div>
    </md-form>

    <div class="flex-row justify-end flex-gap-10">
        <md-button [primary]="true" (click)="save()">{{ "password-policy-create.approve" | transloco }}</md-button>
    </div>
</div>