.app-modal-header {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.logo-img {
  pointer-events: none;
  width: 100%;
}

.white {
  color: var(--md-white);
}
