<md-form #form>
  <md-modal #modal [opened]="true" [closeable]="false" [width]="'510px'" [minHeight]="460">
    <div class="app-modal-header">
      <div style="flex-shrink: 1; display: flex">
        <img src="/assets/logo_login_transparent.svg" class="logo-img" />
      </div>
      <div>
        <md-plane-button (click)="changeLanguage()">
          <fa-icon [icon]="faLanguage"></fa-icon>
        </md-plane-button>
      </div>
    </div>
    <div class="w-100">
      <md-stepper #stepper (onNext)="onNext($event)" (onFinish)="onSetup()">
        <app-domain-settings *mdStep [setupRequest]="setupRequest"></app-domain-settings>

        <ng-container *ngIf="setupRequest.setupDns">
          <app-dns-setup-settings *mdStep [setupRequest]="setupRequest"></app-dns-setup-settings>
        </ng-container>

        <ng-container *ngIf="setupRequest.setupKdc && !setupRequest.generateKdcPasswords">
          <app-kerberos-settings *mdStep [setupRequest]="setupRequest"></app-kerberos-settings>
        </ng-container>

        <app-admin-settings *mdStep [setupRequest]="setupRequest"></app-admin-settings>
        <app-admin-settings-second
          *mdStep
          [setupRequest]="setupRequest"
        ></app-admin-settings-second>
      </md-stepper>
    </div>
    <ng-container class="app-modal-footer">
      <div class="flex-row flex-center flex-gap-20">
        <md-button
          [primary]="false"
          *ngIf="stepper.currentIndex > 0"
          (click)="stepper.previous(); resize()"
          >{{ 'setup.back' | transloco }}</md-button
        >
        <md-button [primary]="true" (click)="showNextStep()">{{
          'setup.next' | transloco
        }}</md-button>
      </div>
    </ng-container>
  </md-modal>
</md-form>
