<md-form #form>
  <md-modal
    #modal
    [opened]="true"
    [closeable]="false"
    [width]="'510px'"
    [minHeight]="460"
    [spinnerText]="'spinner.please-wait' | transloco"
  >
    <div class="app-modal-header">
      <div style="flex-shrink: 1; display: flex">
        <img src="/assets/logo_login_transparent.svg" class="logo-img" />
      </div>
      <div>
        <md-plane-button class="btn" [mdDropdownContainer]="languageMenu">
          <fa-icon class="white" [icon]="faLanguage"></fa-icon>
        </md-plane-button>
        <md-dropdown-menu #languageMenu>
          <div class="dropdown-item" (click)="languageMenu.close(); changeLanguage('ru')">
            <img class="mw-16" [src]="'assets/ru.svg'" />
            {{ 'setup.russian' | transloco }}
          </div>
          <div class="dropdown-item" (click)="languageMenu.close(); changeLanguage('en')">
            <img class="mw-16" [src]="'assets/us.svg'" />
            {{ 'setup.english' | transloco }}
          </div>
        </md-dropdown-menu>
      </div>
    </div>
    <div class="w-100">
      <md-stepper #stepper (nextStep)="onNext($event)" (finish)="onFinish()">
        <ng-template mdStep>
          <app-domain-settings [setupRequest]="setupRequest"></app-domain-settings>
        </ng-template>
        <app-admin-settings *mdStep [setupRequest]="setupRequest"></app-admin-settings>
        <ng-template mdStep [stepComplete]="onInitialSetup.bind(this)">
          <app-admin-settings-second [setupRequest]="setupRequest"></app-admin-settings-second>
        </ng-template>
        <ng-container *ngIf="setupRequest.setupDns">
          <ng-template mdStep [stepComplete]="onDnsSetup.bind(this)">
            <app-dns-setup-settings [setupRequest]="setupRequest"></app-dns-setup-settings>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="setupRequest.setupKdc && !setupRequest.generateKdcPasswords">
          <ng-template mdStep [stepComplete]="onKerberosSetup.bind(this)">
            <app-kerberos-settings [setupRequest]="setupRequest"></app-kerberos-settings>
          </ng-template>
        </ng-container>
      </md-stepper>
    </div>
    <ng-container class="app-modal-footer">
      <div class="flex-row flex-center flex-gap-20">
        <md-button
          [primary]="false"
          *ngIf="stepper.currentIndex > 0"
          (click)="stepper.previous()"
          >{{ 'setup.back' | transloco }}</md-button
        >
        <md-button [primary]="true" (click)="showNextStep()">{{
          'setup.next' | transloco
        }}</md-button>
      </div>
    </ng-container>
  </md-modal>
</md-form>
