<md-form #form>
  <md-modal
    #modal
    [closeable]="false"
    [minHeight]="460"
    [opened]="true"
    [spinnerText]="'spinner.please-wait' | transloco"
    [width]="'510px'"
  >
    <div class="app-modal-header">
      <div style="flex-shrink: 1; display: flex">
        <img class="logo-img" src="/assets/logo_login_transparent.svg" />
      </div>
      <div>
        <md-plane-button [mdDropdownContainer]="languageMenu" class="btn">
          <fa-icon [icon]="faLanguage" class="white"></fa-icon>
        </md-plane-button>
        <md-dropdown-menu #languageMenu>
          <div (click)="languageMenu.close(); changeLanguage('ru')" class="dropdown-item">
            <img [src]="'assets/ru.svg'" class="mw-16" />
            {{ 'setup.russian' | transloco }}
          </div>
          <div (click)="languageMenu.close(); changeLanguage('en')" class="dropdown-item">
            <img [src]="'assets/us.svg'" class="mw-16" />
            {{ 'setup.english' | transloco }}
          </div>
        </md-dropdown-menu>
      </div>
    </div>
    <div class="w-100">
      <md-stepper #stepper (finish)="onSetup()" (nextStep)="onNext($event)">
        <app-domain-settings *mdStep [setupRequest]="setupRequest"></app-domain-settings>
        @if (setupRequest.setupDns) {
          <app-dns-setup-settings *mdStep [setupRequest]="setupRequest"></app-dns-setup-settings>
        }
        @if (setupRequest.setupKdc && !setupRequest.generateKdcPasswords) {
          <app-kerberos-settings *mdStep [setupRequest]="setupRequest"></app-kerberos-settings>
        }
        <app-admin-settings *mdStep [setupRequest]="setupRequest"></app-admin-settings>
        <app-admin-settings-second
          *mdStep
          [setupRequest]="setupRequest"
        ></app-admin-settings-second>
      </md-stepper>
    </div>
    <ng-container class="app-modal-footer">
      <div class="flex-row flex-center flex-gap-20">
        @if (stepper.currentIndex > 0) {
          <md-button [primary]="false" (click)="stepper.previous()"
            >{{ 'setup.back' | transloco }}
          </md-button>
        }
        <md-button (click)="showNextStep()" [primary]="true"
          >{{ 'setup.next' | transloco }}
        </md-button>
      </div>
    </ng-container>
  </md-modal>
</md-form>
