<div class="grid">
  <div class="flex flex-col flex-grow-1">
    <div class="row">
      <label class="col-xs-4" for="newAttribute">{{ 'attributes-list.value' | transloco }}</label>
      <div class="col-xs-8">
        <md-textbox [(ngModel)]="newAttribute" name="newAttribute"></md-textbox>
      </div>
    </div>
  </div>
  <md-button (click)="addAttribute()">{{ 'attributes-list.add' | transloco }}</md-button>
  <md-treeview
    #treeview
    class="border-solid-1 h-100 w-full"
    style="min-height: 200px"
  ></md-treeview>
  <md-button (click)="deleteAttribute()">{{ 'attributes-list.delete' | transloco }}</md-button>
</div>
