<app-dialog>
  <div class="app-modal-header">{{ 'attribute-details-dialog.modal-header' | transloco }}</div>
  <div class="pb-4">
    {{ 'attribute-details-dialog.header' | transloco }}
  </div>
  <div class="flex-col gap-2">
    <form class="grid grid-cols-2 gap-4" [formGroup]="form" (submit)="onSumbit($event)">
      <label for="oid">oid</label>
      <md-textbox formControlName="oid" name="oid"></md-textbox>

      <label for="name">name</label>
      <md-textbox formControlName="name" name="name"></md-textbox>

      <label for="single_value">single_value</label>
      <md-shift-checkbox formControlName="single_value" name="single_value"></md-shift-checkbox>

      <label for="no_user_modification">no_user_modification</label>
      <md-shift-checkbox
        formControlName="no_user_modification"
        name="no_user_modification"
      ></md-shift-checkbox>

      <label for="syntax">syntax</label>
      <md-textbox formControlName="syntax" name="syntax"></md-textbox>
      <div class="flex flex-row gap-4">
        <md-button>{{ 'attribute-details-dialog.cancel' | transloco }}</md-button>
        <md-button [primary]="true" [submit]="true">{{
          'attribute-details-dialog.submit' | transloco
        }}</md-button>
      </div>
    </form>
  </div>
</app-dialog>
