<md-form #form class="h-full">
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="first-name">{{ 'user-create.general-info.first-name-label' | transloco }}</label>
    </div>
    <div class="grow-1 flex align-start flex-grow-1 gap-1">
      <md-textbox
        appRequired
        class="w-full"
        name="first-name"
        (change)="onNameChange()"
        [(ngModel)]="setupRequest.firstName"
      >
      </md-textbox>
    </div>
    <div class="grow-1">
      <label for="initials">{{ 'user-create.general-info.initials-label' | transloco }}</label>
    </div>
    <div class="grow-1">
      <md-textbox name="initials" (change)="onNameChange()" [(ngModel)]="setupRequest.initials">
      </md-textbox>
    </div>
  </div>

  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="last-name">{{ 'user-create.general-info.last-name-label' | transloco }}</label>
    </div>
    <md-textbox
      class="grow-2"
      name="last-name"
      (change)="onNameChange()"
      [(ngModel)]="setupRequest.lastName"
    >
    </md-textbox>
  </div>

  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="full-name">
        {{ 'user-create.general-info.full-name-label' | transloco }}
      </label>
    </div>
    <md-textbox class="grow-2" name="full-name" [(ngModel)]="setupRequest.fullName"></md-textbox>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="full-name">
        {{ 'user-create.general-info.description' | transloco }}
      </label>
    </div>
    <md-textarea
      class="grow-2"
      name="description"
      [(ngModel)]="setupRequest.description"
      [expandWidth]="true"
    ></md-textarea>
  </div>

  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="full-name">
        {{ 'user-create.general-info.email' | transloco }}
      </label>
    </div>
    <md-textbox class="grow-2" name="email" [(ngModel)]="setupRequest.email"></md-textbox>
  </div>

  <div class="flex w-full align-start pv-8">
    <div class="grow-1 flex flex-col align-start flex-grow-1 gap-1">
      <label for="login">
        {{ 'user-create.general-info.logon-name-label' | transloco }}
      </label>
      <md-textbox appRequired [(ngModel)]="setupRequest.upnLogin" name="login"></md-textbox>
    </div>
    <div class="grow-1 flex flex-col align-start flex-grow-1 gap-1">
      <label>
        {{ 'user-create.general-info.domain-label' | transloco }}
      </label>
      <md-dropdown
        appRequired
        [options]="domains"
        [(ngModel)]="setupRequest.upnDomain"
        name="upnDomain"
      ></md-dropdown>
    </div>
  </div>
</md-form>
