<md-form #form>
  <div class="flex flex-col gap-4 p-2 pt-4">
    <!-- First name & Initials -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <label for="first-name" class="col-span-1">
        {{ 'user-create.general-info.first-name-label' | transloco }}
      </label>
      <md-textbox
        appRequired
        class="col-span-1 w-full"
        name="first-name"
        [maxLength]="256"
        (change)="onNameChange()"
        [(ngModel)]="setupRequest.firstName"
      ></md-textbox>

      <label for="initials" class="col-span-1">
        {{ 'user-create.general-info.initials-label' | transloco }}
      </label>
      <md-textbox
        class="col-span-1 w-full"
        name="initials"
        [maxLength]="6"
        (change)="onNameChange()"
        [(ngModel)]="setupRequest.initials"
      ></md-textbox>
    </div>

    <!-- Last Name -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <label for="last-name" class="col-span-1">
        {{ 'user-create.general-info.last-name-label' | transloco }}
      </label>
      <md-textbox
        class="col-span-3 w-full"
        name="last-name"
        [maxLength]="64"
        (change)="onNameChange()"
        [(ngModel)]="setupRequest.lastName"
      ></md-textbox>
    </div>

    <!-- Full Name -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <label for="full-name" class="col-span-1">
        {{ 'user-create.general-info.full-name-label' | transloco }}
      </label>
      <md-textbox
        class="col-span-3 w-full"
        name="full-name"
        [maxLength]="64"
        [(ngModel)]="setupRequest.fullName"
      ></md-textbox>
    </div>

    <!-- Description -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <label for="description" class="col-span-1">
        {{ 'user-create.general-info.description' | transloco }}
      </label>
      <md-textarea
        class="col-span-3 w-full"
        name="description"
        [maxLength]="1024"
        [(ngModel)]="setupRequest.description"
        [expandWidth]="true"
      ></md-textarea>
    </div>

    <!-- Email -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <label for="email" class="col-span-1">
        {{ 'user-create.general-info.email' | transloco }}
      </label>
      <md-textbox
        class="col-span-3 w-full"
        name="email"
        [maxLength]="254"
        [(ngModel)]="setupRequest.email"
      ></md-textbox>
    </div>

    <!-- Login & Domain -->
    <div class="grid grid-cols-4 gap-4 items-start">
      <div class="col-span-2 flex flex-col gap-1">
        <label for="login">
          {{ 'user-create.general-info.logon-name-label' | transloco }}
        </label>
        <md-textbox
          appRequired
          [(ngModel)]="setupRequest.upnLogin"
          [maxLength]="64"
          name="login"
          class="w-full"
        ></md-textbox>
      </div>
      <div class="col-span-2 flex flex-col gap-1">
        <label>
          {{ 'user-create.general-info.domain-label' | transloco }}
        </label>
        <md-dropdown
          appRequired
          [options]="domains"
          [(ngModel)]="setupRequest.upnDomain"
          name="upnDomain"
          class="w-full"
        ></md-dropdown>
      </div>
    </div>
  </div>
</md-form>
