<div class="nav" *transloco="let t; read: 'settings-navigation'">
    <div class="nav-item" routerLink="/settings"
        [ngClass]="{'selected': url.endsWith('settings') }" 
        >{{ t("access-control") }}</div>
    <div class="nav-item" routerLink="/settings/multidirectory"
        [ngClass]="{'selected': url.endsWith('multidirectory') }" 
        >{{ t("md-settings")}}</div>
    <div class="nav-item"
        [ngClass]="{'selected': url.endsWith('multifactor') }" 
        routerLink="/settings/multifactor">{{ t("mf-settings") }}</div>
</div>