<div class="admin-settings">
  <div class="flex flex-space-between">
    <div class="pv-8 accented mb-16 w-100">
      {{ 'setup.admin-settings.header' | transloco }}
      <hr />
    </div>
  </div>
  <md-form #form>
    <div class="flex-col flex-gap-20">
      <div class="flex flex-gap-10 flex-space-between justify-center">
        <label class="textbox-label">{{
          'setup.admin-settings.admin-login-label' | transloco
        }}</label>
        <div class="flex-col flex-grow-1">
          <md-textbox appRequired appAutofocus [(ngModel)]="setupRequest.username"></md-textbox>
        </div>
      </div>

      <div class="flex flex-gap-10 flex-space-between justify-center">
        <label class="textbox-label">{{
          'setup.admin-settings.admin-password-label' | transloco
        }}</label>
        <div class="flex-col flex-grow-1">
          <md-textbox
            appRequired
            [password]="true"
            [appPasswordMatch]="repeatPassword"
            appPasswordShouldBeValid
            [(ngModel)]="setupRequest.password"
            (keyup)="checkModel()"
            #passwordInput="ngModel"
            (focus)="openSuggest($event)"
            (blur)="closeSuggest()"
          ></md-textbox>
        </div>
      </div>

      <div class="flex flex-gap-10 flex-space-between justify-center">
        <label class="textbox-label">{{
          'setup.admin-settings.admin-password-repeat-label' | transloco
        }}</label>
        <div class="flex-col flex-grow-1">
          <md-textbox
            appRequired
            [appPasswordMatch]="passwordInput"
            [password]="true"
            (keyup)="checkModel()"
            [(ngModel)]="setupRequest.repeatPassword"
            #repeatPassword="ngModel"
          ></md-textbox>
        </div>
      </div>
    </div>
  </md-form>
</div>
