<div class="admin-settings">
  <div class="flex justify-between">
    <div class="pv-8 accented mb-16 w-full">
      {{ 'setup.admin-settings.header' | transloco }}
      <hr />
    </div>
  </div>
  <md-form #form>
    <div class="flex flex-col gap-5">
      <div class="flex flex-column gap-1">
        <label class="textbox-label">{{ 'setup.admin-settings.admin-login-label' | transloco }}</label>
        <md-textbox class="flex-grow-1" appRequired appAutofocus [(ngModel)]="setupRequest.username"></md-textbox>
      </div>

      <div class="flex flex-column gap-1">
        <label class="textbox-label">{{ 'setup.admin-settings.admin-password-label' | transloco }}</label>
        <md-textbox
          #passwordInput="ngModel"
          class="flex-grow-1"
          appRequired
          appPasswordShouldBeValid
          [passwordPolicy]="passwordPolicy"
          [password]="true"
          [appPasswordMatch]="repeatPassword"
          [(ngModel)]="setupRequest.password"
          (keyup)="checkModel()"
        ></md-textbox>
      </div>

      <div class="flex flex-column gap-1">
        <label class="textbox-label">{{ 'setup.admin-settings.admin-password-repeat-label' | transloco }}</label>
        <md-textbox
          class="flex-grow-1"
          appRequired
          [appPasswordMatch]="passwordInput"
          [password]="true"
          (keyup)="checkModel()"
          [(ngModel)]="setupRequest.repeatPassword"
          #repeatPassword="ngModel"
        ></md-textbox>
      </div>

      <md-button type="button" class="requirements-button" [primary]="true" (click)="togglePasswordRequirements()">{{
        passwordRequirementsLabel()
      }}</md-button>

      <div class="password-conditions-wrapper" [class.visible]="showPasswordRequirements()">
        <app-password-conditions [policy]="passwordPolicy" [currentPassword]="password()"></app-password-conditions>
      </div>
    </div>
  </md-form>
</div>
