<div class="app-modal-header">
    <div>{{ 'ou-create.modal-header' | transloco }}</div>
</div>
<div class="flex-row align-center flex-gap-10">
    <div class="avatar"><img src="/assets/empty_avatar.svg" class="avatar-img"/></div>
    <div class="place">{{ 'ou-create.header' | transloco }} {{selectedNode?.name ?? ''}}</div>
</div>  
<hr />
<div class="flex-row align-start justify-end flex-gap-10" style="min-height: 200px;">
    <md-form #form>
        <label for="ouname">{{ 'ou-create.ouname-label' | transloco }}</label>
        <md-textbox required [(ngModel)]="_setupRequest" name="ouname"></md-textbox>
    </md-form>
</div>
<div class="app-modal-footer">
    <div class="flex-row align-center justify-end flex-gap-10">
        <md-button (click)="onClose()">
            {{ 'cancel' | transloco }}
        </md-button>
        <md-button [primary]="true" [disabled]="!formValid" (click)="onFinish($event)">
            {{ 'apply' | transloco }}
        </md-button>
    </div>
</div>