<app-dialog>
  <div class="app-modal-header">
    <div>{{ 'ou-create.modal-header' | transloco }}</div>
  </div>
  <div class="flex align-center flex-gap-10">
    <div class="avatar"><img class="avatar-img" src="/assets/empty_avatar.svg" /></div>
    <div class="place">{{ 'ou-create.header' | transloco }} {{ dialogData.parentDn }}</div>
  </div>
  <hr />
  <div class="flex-col align-start justify-end flex-gap-10" style="max-height: 400px">
    <md-form #form>
      <div class="flex-col flex-gap-10">
        <div class="flex-col align-start justify-end flex-gap-10">
          <label for="ouname">{{ 'ou-create.ouname-label' | transloco }}</label>
          <md-textbox [(ngModel)]="ouName" appRequired name="ouname"></md-textbox>
        </div>
        <div class="flex-col align-start flex-space-between flex-gap-10">
          <label for="description">{{ 'ou-create.description' | transloco }}</label>
          <md-textarea
            [(ngModel)]="description"
            [expandWidth]="true"
            name="description"
          ></md-textarea>
        </div>
      </div>
    </md-form>
  </div>

  <div class="app-modal-footer">
    <div class="flex align-center justify-end flex-gap-10">
      <md-button (click)="onClose()">
        {{ 'ou-create.cancel' | transloco }}
      </md-button>
      <md-button (click)="onFinish($event)" [disabled]="!formValid" [primary]="true">
        {{ 'ou-create.apply' | transloco }}
      </md-button>
    </div>
  </div>
</app-dialog>
