<md-form #form>
    <md-modal #modal [opened]="true" appHideControlbar [width]="'350px'">
        <ng-container class="app-modal-header">
            <img src="/assets/logo_login_transparent.svg" class="logo-img"/>
        </ng-container>

        <div class="w-100">
                <md-stepper #stepper (onFinish)="onSetup()" [renderAll]="false">
                    <ng-template mdStep>
                        <app-domain-settings></app-domain-settings>
                    </ng-template>
                    <ng-template mdStep>
                        <app-admin-settings></app-admin-settings>
                    </ng-template>
                </md-stepper>  
        </div>
        <ng-container class="app-modal-footer">
            <div class="flex-row flex-center">
                <md-button [disabled]="!valid" [primary]="true" (click)="stepper.next()">Next</md-button>
            </div>
        </ng-container>
    </md-modal>
</md-form>
