<label>
  {{ 'members.members' | transloco }}
</label>
<div class="flex w-full">
  <md-datagrid
    pagerTitle="{{ 'grid.pager-title' | transloco }}"
    fromTitle="{{ 'grid.from-title' | transloco }}"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
    class="w-full"
    [columns]="columns"
    [rows]="members"
    [offset]="0"
    [total]="members.length"
    #groupList
  >
  </md-datagrid>
</div>
<div class="flex button-row">
  <md-button (click)="addMember()">{{ 'member-of.add' | transloco }}</md-button>
  <md-button (click)="deleteMember()">{{ 'member-of.delete' | transloco }}</md-button>
</div>
