<div class="entity-attributes-container">
  <div class="flex-row flex-gap-10 mv-8">
    <label for="search">{{ 'entity-attributes.header' | transloco }}</label>
    <md-textbox name="search" [(ngModel)]="searchFilter"></md-textbox>
    <md-plane-button
      [disabled]="!_searchFilter"
      [hasBorder]="true"
      (click)="onEditClick(_searchFilter)"
      >{{ 'entity-attributes.add' | transloco }}</md-plane-button
    >
  </div>
  <div style="height: 370px">
    <md-datagrid
      #propGrid
      [rows]="rows"
      [columns]="propColumns"
      [scrollbarV]="true"
      [externalPaging]="true"
      [page]="page"
      [stretchHeight]="true"
      [hideFooter]="true"
      (doubleclick)="onEditClick()"
      (pageChanged)="onPageChanged($event)"
      pagerTitle="{{ 'grid.pager-title' | transloco }}"
      fromTitle="{{ 'grid.from-title' | transloco }}"
      emptyMessage="{{ 'grid.no-data' | transloco }}"
    >
    </md-datagrid>
  </div>
  <div class="flex-row flex-space-between pt-16">
    <md-button (click)="onEditClick()">{{ 'entity-attributes.edit' | transloco }}</md-button>
    <md-button [mdDropdownContainer]="filterMenu" class="">{{
      'entity-attributes.filter' | transloco
    }}</md-button>
  </div>
</div>

<md-dropdown-menu #filterMenu>
  <div class="dropdown-item">
    <md-checkbox
      name="show-with-values-only"
      id="show-with-values-only"
      [(ngModel)]="filter.showWithValuesOnly"
      (change)="onFilterChange()"
    >
      {{ 'entity-attributes.with-values-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox
      name="show-writable-only"
      id="show-writable-only"
      [(ngModel)]="filter.showWritableOnly"
      (change)="onFilterChange()"
    >
      {{ 'entity-attributes.writable-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">
    {{ 'entity-attributes.show-attributes' | transloco }}
  </label>
  <div class="dropdown-item">
    <md-checkbox name="mandatory-only" id="mandatory-only" [disabled]="true">
      {{ 'entity-attributes.mandatory' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="optional-only" id="optional-only" [disabled]="true">
      {{ 'entity-attributes.optional-only' | transloco }}
    </md-checkbox>
  </div>

  <label class="filter-label">{{ 'entity-attributes.read-only' | transloco }}</label>
  <div class="dropdown-item">
    <md-checkbox name="constructed-only" id="constructed-only" [disabled]="true">
      {{ 'entity-attributes.constructed-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="backlinks-only" id="backlinks-only" [disabled]="true">
      {{ 'entity-attributes.backlinks-only' | transloco }}
    </md-checkbox>
  </div>
  <div class="dropdown-item">
    <md-checkbox name="system-only" id="system-only" [disabled]="true">
      {{ 'entity-attributes.system-only' | transloco }}
    </md-checkbox>
  </div>
</md-dropdown-menu>

<ng-template modalInject #propertyEditor="modalInject">
  <app-property-editor></app-property-editor>
</ng-template>
