.dns-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  .dns-records {
    padding: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
    overflow: auto;
  }
}
