<div class="px-2 py-2">
  <md-datagrid
    [rows]="syslogEvents"
    [columns]="syslogEventsColumns"
    [externalPaging]="true"
    [pageSizes]="pageSizes"
    [(limit)]="limit"
    [(offset)]="offset"
    [(total)]="total"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
  >
    <ng-template #toggleColumnTemplate let-row="row">
      <md-checkbox [(ngModel)]="row.enabled"></md-checkbox>
    </ng-template>

    <ng-template #selectLevelColumnTemplate let-row="row">
      <md-dropdown [(ngModel)]="row.level" [options]="levelOptions"> </md-dropdown>
    </ng-template>
  </md-datagrid>
</div>
