<div class="px-2 py-2">
  <md-datagrid
    [rows]="syslogEvents"
    [columns]="syslogEventsColumns"
    [externalPaging]="true"
    [(limit)]="limit"
    [(offset)]="offset"
    [(total)]="total"
    (doubleclick)="onRowEdit()"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
    #grid
  >
    <ng-template #toggleColumnTemplate let-row="row">
      <md-checkbox [(ngModel)]="row.is_enabled" (ngModelChange)="onRowChange(row)"></md-checkbox>
    </ng-template>

    <ng-template #selectLevelColumnTemplate let-row="row">
      {{ row.severity }}
    </ng-template>
  </md-datagrid>
</div>
