<div class="flex align-center gap-1 pb-2">
  <!--div class="avatar"><img src="/assets/empty_avatar.svg" class="avatar-img" /></div-->
  <div class="place">{{ 'dns-setup.header' | transloco }}</div>
</div>
<hr />
<div class="flex flex-col align-start justify-end gap-1">
  <md-form #form>
    <div class="dns-setup-grid">
      <label for="zone_name">{{ 'dns-setup.zone_name' | transloco }}</label>
      <md-textbox appRequired [(ngModel)]="dnsSetupRequest.zone_name" name="zone_name"></md-textbox>

      <label for="domain">{{ 'dns-setup.domain' | transloco }}</label>
      <md-textbox appRequired [(ngModel)]="dnsSetupRequest.domain" name="domain"></md-textbox>

      <md-checkbox class="external-services-checkbox" [(ngModel)]="useExternalService">{{
        'dns-setup.external_service' | transloco
      }}</md-checkbox>

      @if (useExternalService) {
        <label for="dns_ip_address">{{ 'dns-setup.dns_ip_address' | transloco }}</label>
        <md-textbox
          appRequired
          [(ngModel)]="dnsSetupRequest.dns_ip_address"
          name="dns_ip_address"
        ></md-textbox>
        <label for="tsig_key">{{ 'dns-setup.tsig_key' | transloco }}</label>
        <md-textarea
          class="w-full tsig-key"
          [(ngModel)]="dnsSetupRequest.tsig_key"
          name="tsig_key"
        ></md-textarea>
      }

      <label for="default_ttl">{{ 'dns-setup.default_ttl' | transloco }}</label>
      <md-number
        appRequired
        [(ngModel)]="dnsSetupRequest.default_ttl"
        name="default_ttl"
      ></md-number>
    </div>
  </md-form>
</div>
