<app-dialog>
  <div class="app-modal-header">{{ 'move-entity.modal-header' | transloco }}</div>
  <div>
    <div class="mb-16">
      <label style="font-weight: 800"
        >{{ 'move-entity.move' | transloco }} {{ toMove[0].id }}</label
      >
    </div>
    <div class="flex w-full">
      <label class="grow-1">{{ 'move-entity.into-the-container' | transloco }}</label>
      <div class="grow-1">
        <md-textbox [(ngModel)]="targetDn" [disabled]="true"></md-textbox>
      </div>
      <div class="grow-1">
        <md-button (click)="change()">{{ 'move-entity.change' | transloco }}</md-button>
      </div>
    </div>
  </div>
  <div class="app-modal-footer flex justify-end gap-1">
    <md-button (click)="cancel()">{{ 'move-entity.cancel' | transloco }}</md-button>
    <md-button (click)="move()" [primary]="true">{{ 'move-entity.move' | transloco }}</md-button>
  </div>
</app-dialog>
