:host {
    overflow-y: auto;
}

.policy-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

:host ::ng-deep .cdk-drop-list-dragging {
    cursor: grabbing;
}
::ng-deep .cdk-drag-preview.access-policy-wrapper {
    cursor: grabbing;
}
