@if (accessor) {
  <div class="flex align-center gap-1 p-1">
    <div class="avatar">
      <app-avatar-upload [accessor]="accessor"></app-avatar-upload>
    </div>
    <div class="place">{{ accessor.displayName }}</div>
  </div>
  <hr />
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="givenName">{{ 'user-properties-generals.name' | transloco }}</label>
    </div>
    <div class="grow-1 flex align-start flex-grow-1 gap-1">
      <md-textbox
        [(ngModel)]="accessor.givenName"
        appRequired
        class="w-full"
        name="givenName"
        id="givenName"
      >
      </md-textbox>
    </div>
    <div class="grow-1">
      <label for="initials">{{ 'user-properties-generals.initials' | transloco }}</label>
    </div>
    <div class="grow-1">
      <md-textbox name="initials" [(ngModel)]="accessor.initials" />
    </div>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="surname">{{ 'user-properties-generals.last-name' | transloco }}</label>
    </div>
    <md-textbox class="grow-2" [(ngModel)]="accessor.surname" name="surname" />
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="display-name">{{ 'user-properties-generals.full-name' | transloco }}</label>
    </div>
    <md-textbox class="grow-2" name="display-name" [(ngModel)]="accessor.displayName"></md-textbox>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="description">{{ 'user-properties-generals.description' | transloco }}</label>
    </div>
    <md-textbox class="grow-2" name="description" [(ngModel)]="accessor.description"></md-textbox>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="office">{{ 'user-properties-generals.office' | transloco }}</label>
    </div>
    <md-textbox class="grow-2" name="office" [(ngModel)]="accessor.office"></md-textbox>
  </div>
  <hr />
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="phone">{{ 'user-properties-generals.phone' | transloco }}</label>
    </div>
    <md-textbox class="grow-1" name="phone" [(ngModel)]="accessor.telephoneNumber"></md-textbox>
    <div class="grow-1">
      <md-button
        (click)="changeOtherAttributeList('user-properties-generals.phones', 'otherTelephone')"
      >
        {{ 'user-properties-generals.other' | transloco }}
      </md-button>
    </div>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1"><label for="email">Email</label></div>
    <md-textbox class="grow-2" name="email" [(ngModel)]="accessor.mail"></md-textbox>
  </div>
  <div class="flex w-full align-start pv-8">
    <div class="grow-1">
      <label for="homepage">{{ 'user-properties-generals.webpage' | transloco }}</label>
    </div>
    <md-textbox class="grow-1" name="homepage" [(ngModel)]="accessor.webpage"></md-textbox>
    <div class="grow-1">
      <md-button
        (click)="changeOtherAttributeList('user-properties-generals.webpages', 'otherWebpage')"
      >
        {{ 'user-properties-generals.other' | transloco }}
      </md-button>
    </div>
  </div>
}
