<div class="header-container">
    <div class="header">
        <label *ngIf="selectedCatalog" class="bold">Папка: {{selectedCatalog.name ?? ''}}</label>
        <label *ngIf="!selectedCatalog" class="bold">Выберите каталог</label>
    </div>
    <div class="control-panel">
        <md-plane-button [mdDropdownContainer]="searchMenu" class="search control-button" #searchBtn>
            <img [src]="'assets/search.svg'" />
        </md-plane-button>
        <md-plane-button class="settings control-button" 
            [mdDropdownContainer]="helpMenu">
            <img [src]="'assets/settings.svg'" />
        </md-plane-button>
        <md-plane-button class="settings control-button"
            (click)="showHelp()">
            <img [src]="'assets/help.svg'" />
        </md-plane-button>
        <md-plane-button class="settings control-button" (click)="closeCatalog()">
            <img [src]="'assets/close.svg'" />
        </md-plane-button>
    </div>
</div>


<md-radiogroup [(ngModel)]="contentView" #radiogroup></md-radiogroup>

<md-dropdown-menu #helpMenu>
    <div class="dropdown-item disabled">Добавить/удалить столбцы...</div>
    <div class="dropdown-item">
        <md-shift-checkbox [ngModel]="navigationalPanelInvisible" (ngModelChange)="onChange($event)">
            <label>Скрыть дерево</label>
            <label>Ctrl-H</label>
        </md-shift-checkbox>
    </div>
    <div class="dropdown-item">
        <md-radiobutton name="viewmode" [value]="ViewMode.SmallIcons" [group]="radiogroup">
            <label>Маленькие иконки</label>
            <label>F1</label>
        </md-radiobutton>
    </div>
    <div class="dropdown-item">
        <md-radiobutton name="viewmode" [value]="ViewMode.BigIcons" [group]="radiogroup">
            <label>Большие иконки</label>
            <label>F2</label>
        </md-radiobutton>
    </div>
    <div class="dropdown-item">
        <md-radiobutton name="viewmode" [value]="ViewMode.Table" [group]="radiogroup">
            <label>Список</label>
            <label>F3</label>       
        </md-radiobutton>
    </div>
    <div class="dropdown-item">
        <md-radiobutton name="viewmode" [value]="ViewMode.Details" [group]="radiogroup">
            <label>Детали</label>
            <label>F4</label>     
        </md-radiobutton>
    </div>
    <div class="dropdown-item" (click)="helpMenu.close(); openAccessControl()">
        Контроль доступа
    </div>
    <div class="dropdown-item disabled">Пользователи, контакты, группы и компьютеры как контейнеры</div>
    <div class="dropdown-item disabled">Дополнительные функции...</div>
    <div class="dropdown-item disabled">Параметры фильтров...</div>
    <div class="dropdown-item disabled">Настроить вид...</div>
</md-dropdown-menu> 

<md-dropdown-menu #searchMenu>
    <app-search-panel [ldapRoots]="ldapRoots"></app-search-panel>
</md-dropdown-menu> 