<md-datagrid
  #grid
  name="table-view"
  [rows]="rows"
  [columns]="columns"
  (selectionChanged)="onRowSelect()"
  emptyMessage="{{ 'grid.no-data' | transloco }}"
></md-datagrid>
<div class="flex w-full justify-between pt-10 pb-2">
  <div class="flex pb-2">
    <md-button (click)="edit()">
      {{ 'change' | transloco }}
    </md-button>
    <md-button (click)="add()" class="flex pl-2">
      {{ 'add' | transloco }}
    </md-button>
  </div>
  <div>
    <md-button (click)="edit()">
      {{ 'delete' | transloco }}
    </md-button>
  </div>
</div>
