<div class="admin-settings">
    <div class="flex-row flex-space-between">
        <span class="pv-8 text-justify accented mb-16">
            To use the Multidirectory app, please, complete the initial setup process
        </span>
    </div>

    <div class="flex-row flex-space-between">
        <label>UPN</label>
        <div class="flex-column">
            <md-textbox required [(ngModel)]="setupRequest.user_principal_name" mdErrorAware [errorLabel]="loginError"></md-textbox>
            <label  class="error-message"  #loginError>&nbsp;</label>
        </div>
    </div>
    
    <div class="flex-row flex-space-between">
        <label>Display Name</label>
        <div class="flex-column">
            <md-textbox required [(ngModel)]="setupRequest.display_name" mdErrorAware [errorLabel]="displayNameError"></md-textbox>
            <label class="error-message" #displayNameError>&nbsp;</label>
        </div>
    </div>
    
    <div class="flex-row flex-space-between">
        <label>Email</label>
        <div class="flex-column">
            <md-textbox required [(ngModel)]="setupRequest.mail" mdErrorAware [errorLabel]="emailError"></md-textbox>
            <label  class="error-message"  #emailError>&#160;</label>
        </div>
    </div>   
</div>
