<div class="admin-settings">
    <div class="flex-row flex-space-between">
        <span class="pv-8 accented mb-16">
            {{ "setup.admin-settings.header" | transloco }}
            <hr>
        </span>
    </div>
    <md-form #form>
        <div class="flex-column flex-gap-20">
            <div class="flex-row flex-gap-10 flex-space-between justify-center">
                <label class="textbox-label">{{ "setup.admin-settings.admin-login-label" | transloco }}</label>
                <div class="flex-column  flex-grow-1">
                    <md-textbox appRequired  [(ngModel)]="setupRequest.username" 
                    ></md-textbox>
                </div>
            </div>
            
            <div class="flex-row flex-gap-10  flex-space-between  justify-center">
                <label  class="textbox-label">{{ "setup.admin-settings.admin-password-label" | transloco }}</label>
                <div class="flex-column  flex-grow-1">
                    <md-textbox appRequired  [password]="true" [(ngModel)]="setupRequest.password" 
                        #passwordInput></md-textbox>
                </div>
            </div>
            
            <div class="flex-row flex-gap-10  flex-space-between  justify-center">
                <label  class="textbox-label">{{ "setup.admin-settings.admin-password-repeat-label" | transloco }}</label>
                <div class="flex-column flex-grow-1">
                    <md-textbox  appRequired  [appPasswordMatch]="setupRequest.password" [password]="true" [(ngModel)]="setupRequest.repeatPassword"></md-textbox>
                </div>
            </div>   
        </div>
       
    </md-form>
</div>
