<div class="flex-row w-full justify-end pb-2 pr-2">
  <mui-button color="secondary" variant="rounded" size="sm" (clicked)="onAddDnsZone()">
    {{ 'dns-settings.add-zone' | transloco }}
  </mui-button>
</div>
@for (zone of zones; track zone; let i = $index) {
  <app-dns-zone-list-item
    (addZoneClick)="addZoneClick(zone)"
    (editRuleClick)="onEditRuleClick($event)"
    (deleteRuleClick)="onDeleteRuleClick($event)"
    (turnOffRuleClick)="onTurnOffRuleClick($event)"
    (deleteZoneClick)="onDeleteZoneClick()"
    [zone]="zone"
    [index]="i + 1"
  >
  </app-dns-zone-list-item>
}
