.grid-container {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 460px;
  max-height: 460px;
}

.grid-item {
  margin: 5px 0;
}

.passwords-logo {
  max-width: 128px;
  max-height: 256x;

  .logo-img {
    width: 100%;
  }
}

.input-selecting {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
