<div class="grid-container">
  <div class="grid-item passwords-logo">
    <img src="/assets/license.svg" class="logo-img" />
  </div>
  <div>
    <div class="grid-item">
      <p>{{ 'passwords-upload.description' | transloco }}</p>
    </div>
    <div class="grid-item input-selecting">
      <input
        type="file"
        id="passwordsFile"
        (change)="onFileChange($event)"
        accept=".txt"
        #passwordsFile
        style="display: none"
      />
      <div class="input">
        <md-button (click)="onPasswordsSelecting($event)">{{
          'passwords-upload.upload-button' | transloco
        }}</md-button>
      </div>
      @if (!!passwords?.name) {
        <div>{{ passwords?.name }}</div>
      }
    </div>
  </div>
</div>
