<div class="grid-container">
  <div class="grid-item passwords-logo">
    <img src="/assets/license.svg" class="logo-img" />
  </div>
  <div class="flex flex-col gap-3">
    <div class="grid-item">
      <p>{{ 'passwords-upload.description' | transloco }}</p>
    </div>

    <div class="grid-item input-selecting">
      <input type="file" #passwordsFile (change)="onFileChange($event)" accept=".txt" style="display: none" />
      <div class="input flex flex-row gap-4">
        <md-button [primary]="true" (click)="onPasswordsSelecting($event)">{{ 'passwords-upload.upload-button' | transloco }}</md-button>
        <md-button [disabled]="!passwords()" (click)="onPasswordsClearing()">{{ 'passwords-upload.clear' | transloco }}</md-button>
      </div>
    </div>

    @if (!!passwords()?.name) {
      <span
        >Выбранный файл: <span class="font-bold">{{ passwords()?.name }}</span></span
      >
    }
  </div>
</div>
