@if (this.accessor) {
  <form [formGroup]="contactForm" class="pt-2">
    <div class="field">
      <label for="displayName" class="col-span-1">
        {{ 'contact-create.displayName' | transloco }}
      </label>
      <md-textbox class="row-1 col-2" formControlName="displayName"></md-textbox>
    </div>
    <div class="field">
      <label for="givenName" class="col-span-1"> {{ 'contact-create.givenName' | transloco }}* </label>
      <md-textbox class="row-1 col-2" formControlName="givenName"></md-textbox>
    </div>
    <div class="field">
      <label for="surname" class="col-span-1"> {{ 'contact-create.sn' | transloco }}* </label>
      <md-textbox class="row-1 col-2" formControlName="surname"></md-textbox>
    </div>
    <div class="field">
      <label for="cn" class="col-span-1"> {{ 'contact-create.cn' | transloco }}* </label>
      <md-textbox class="row-1 col-2" formControlName="cn"></md-textbox>
    </div>
  </form>
}
