<ng-template modalInject #properties="modalInject">
  <app-properties></app-properties>
</ng-template>
<ng-template modalInject #changePasswordModal="modalInject">
  <app-change-password></app-change-password>
</ng-template>
<ng-template modalInject #createUserModal="modalInject">
  <app-user-create></app-user-create>
</ng-template>
<ng-template modalInject #createOuModal="modalInject">
  <app-ou-create></app-ou-create>
</ng-template>
<ng-template modalInject #createRuleModal="modalInject">
  <app-rule-create></app-rule-create>
</ng-template>
<ng-template modalInject #createCatalogModal="modalInject">
  <app-catalog-create></app-catalog-create>
</ng-template>
<ng-template modalInject #createGroupModal="modalInject">
  <app-group-create></app-group-create>
</ng-template>
<ng-template modalInject #createComputerModal="modalInject">
  <app-computer-create></app-computer-create>
</ng-template>
<ng-template modalInject #deleteConfirmationModal="modalInject">
  <app-delete-confirmation-modal></app-delete-confirmation-modal>
</ng-template>
<ng-template modalInject #modifyDnModal="modalInject">
  <app-modify-dn></app-modify-dn>
</ng-template>
<ng-template modalInject #entityTypeSelectorModal="modalInject">
  <app-entity-type-selector></app-entity-type-selector>
</ng-template>
<ng-template modalInject #entitySelectorModal="modalInject">
  <app-entity-selector></app-entity-selector>
</ng-template>
<ng-template modalInject #catalogSelectorModal="modalInject">
  <app-catalog-selector></app-catalog-selector>
</ng-template>
<ng-template modalInject #moveEntityDialog="modalInject">
  <app-move-entity></app-move-entity>
</ng-template>
<ng-template modalInject #confirmDialog="modalInject">
  <app-confirm-dialog></app-confirm-dialog>
</ng-template>
<ng-template modalInject #addPrincipalDialog="modalInject">
  <app-add-principal-dialog></app-add-principal-dialog>
</ng-template>
<ng-template modalInject #setupKerberosDialog="modalInject">
  <app-setup-kerberos-dialog></app-setup-kerberos-dialog>
</ng-template>
<ng-template modalInject #dnsRuleDialog="modalInject">
  <app-dns-rule-dialog></app-dns-rule-dialog>
</ng-template>
<ng-template modalInject #dnsSetupDialog="modalInject">
  <app-dns-setup-dialog></app-dns-setup-dialog>
</ng-template>
<ng-template modalInject #propertyEditor="modalInject">
  <app-property-editor></app-property-editor>
</ng-template>
