<ng-template modalInject #properties="modalInject">
    <app-properties #properties></app-properties>
</ng-template>
<ng-template modalInject #changePasswordModal="modalInject">
    <app-change-password></app-change-password>
</ng-template>    
<ng-template modalInject #createUserModal="modalInject">
    <app-user-create></app-user-create>
</ng-template>
<ng-template modalInject #createOuModal="modalInject">
    <app-ou-create #createOuModal></app-ou-create>
</ng-template>
<ng-template modalInject #createGroupModal="modalInject">
    <app-group-create></app-group-create>
</ng-template>
<ng-template modalInject #createComputerModal="modalInject">
    <app-computer-create></app-computer-create>
</ng-template>
<ng-template modalInject #deleteConfirmationModal="modalInject">
    <app-delete-confirmation-modal></app-delete-confirmation-modal>
</ng-template>
<ng-template modalInject #modifyDnModal="modalInject">
    <app-modify-dn></app-modify-dn>
</ng-template>
