<ng-container *transloco="let t">
  <div class="header-container">
    <div class="header">
      <router-outlet name="header"></router-outlet>
    </div>
    <div class="control-panel">
      @if (navigationalPanelInvisible) {
        <md-plane-button [mdDropdownContainer]="loginMenu" class="search control-button" #searchBtn>
          @if (!user?.jpegPhoto) {
            <img [src]="'assets/avatar_placeholder.svg'" style="min-width: 24px; height: 24px" />
          }
          @if (!!user?.jpegPhoto) {
            <img
              [src]="'data:image/jpg;base64,' + user?.jpegPhoto"
              style="min-width: 24px; height: 24px"
            />
          }
        </md-plane-button>
      }
      <!--md-plane-button class="search control-button" (click)="toggleNotificationPanel()">
      <img [src]="'assets/notifications.svg'" />
    </md-plane-button-->
      <md-plane-button #searchBtn [mdDropdownContainer]="searchMenu" class="search control-button">
        <img [src]="'assets/search.svg'" />
      </md-plane-button>
      <md-plane-button [mdDropdownContainer]="helpMenu" class="settings control-button">
        <img [src]="'assets/settings.svg'" />
      </md-plane-button>
      <md-plane-button (click)="showHelp()" class="settings control-button">
        <img [src]="'assets/help.svg'" />
      </md-plane-button>
      <md-plane-button (click)="closeCatalog()" class="settings control-button">
        <img [src]="'assets/close.svg'" />
      </md-plane-button>
    </div>
  </div>

  <md-radiogroup #radioGroup [(ngModel)]="contentView" />

  <md-dropdown-menu #helpMenu>
    <div class="dropdown-item hidden disabled">{{ t('header.add-remove-columns') }}</div>
    <div class="dropdown-item">
      <md-shift-checkbox (ngModelChange)="onChange($event)" [ngModel]="navigationalPanelInvisible">
        <label>{{ t('header.hide-left-panel') }}</label>
        <label>Ctrl-H</label>
      </md-shift-checkbox>
    </div>
    <div class="dropdown-item">
      <md-shift-checkbox (ngModelChange)="onDarkMode($event)" [ngModel]="darkMode">
        <label>{{ t('header.dark-mode') }}</label>
        <label>Ctrl-D</label>
      </md-shift-checkbox>
    </div>
    <div class="dropdown-item">
      <md-radiobutton [group]="radioGroup" [value]="ViewMode.SmallIcons" name="viewmode">
        <label>{{ t('header.small-icons') }}</label>
        <label>F1</label>
      </md-radiobutton>
    </div>
    <div class="dropdown-item">
      <md-radiobutton [group]="radioGroup" [value]="ViewMode.BigIcons" name="viewmode">
        <label>{{ t('header.big-icons') }}</label>
        <label>F2</label>
      </md-radiobutton>
    </div>
    <div class="dropdown-item">
      <md-radiobutton [group]="radioGroup" [value]="ViewMode.Table" name="viewmode">
        <label>{{ t('header.list') }}</label>
        <label>F3</label>
      </md-radiobutton>
    </div>
    <div class="dropdown-item hidden">
      <md-radiobutton [group]="radioGroup" [value]="ViewMode.Details" name="viewmode">
        <label>{{ t('header.details') }}</label>
        <label>F4</label>
      </md-radiobutton>
    </div>
    <div [routerLink]="['/schema']" class="dropdown-item">
      {{ t('header.schema') }}
    </div>
    <div [routerLink]="['/settings']" class="dropdown-item">
      {{ t('header.multidirectory-settings') }}
    </div>
    <div class="dropdown-item hidden disabled">{{ t('header.users-etc') }}</div>
    <div class="dropdown-item hidden disabled">{{ t('header.additional-features') }}</div>
    <div class="dropdown-item hidden disabled">{{ t('header.filter-settings') }}</div>
    <div class="dropdown-item hidden disabled">{{ t('header.view-settings') }}</div>
  </md-dropdown-menu>

  <md-dropdown-menu #searchMenu>
    <app-search-panel />
  </md-dropdown-menu>

  <md-dropdown-menu #loginMenu>
    <div (click)="loginMenu.close(); onChangePasswordClick()" class="dropdown-item">
      {{ t('header.change-password') }}
    </div>
    <div (click)="loginMenu.close(); onAccountSettingsClick()" class="dropdown-item">
      {{ t('header.account-settings') }}
    </div>
    <div (click)="onLogout()" class="dropdown-item">{{ t('header.logout') }}</div>
  </md-dropdown-menu>
</ng-container>
