.empty-list {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  text-align: center;
  color: #a5a5a5;
  padding: 30px 0;
}
.empty-list {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  text-align: center;
  color: #a5a5a5;
  padding: 30px 0;
}
