<div class="row">
  {{ 'member-of.groups' | transloco }}
</div>
<div class="flex-row w-100" style="min-height: 250px">
  <md-datagrid
    #groupList
    (doubleclick)="openGroupProperties()"
    [columns]="columns"
    [rows]="groups"
    [stretchHeight]="true"
    class="w-100"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
    fromTitle="{{ 'grid.from-title' | transloco }}"
    pagerTitle="{{ 'grid.pager-title' | transloco }}"
  >
  </md-datagrid>
</div>
<div class="flex-row button-row">
  <md-button (click)="addGroup()">{{ 'member-of.add' | transloco }}</md-button>
  <md-button (click)="deleteGroup()">{{ 'member-of.delete' | transloco }}</md-button>
</div>
<hr />
<div class="flex-row flex-gap-10">
  <div class="col-xs-4">{{ 'member-of.primary-group' | transloco }}</div>
  <div class="col-xs-4">Administrators</div>
</div>
<div class="flex-row primary-group-block">
  <div class="col-xs-4">
    <md-button [disabled]="true">{{ 'member-of.make-primary' | transloco }}</md-button>
  </div>
  <div class="col-xs-4">
    {{ 'member-of.primary-note' | transloco }}
  </div>
</div>
