<div class="flex w-full">
  {{ 'member-of.groups' | transloco }}
</div>
<div class="flex w-full" style="min-height: 250px">
  <md-datagrid
    #groupList
    (doubleclick)="openGroupProperties()"
    [columns]="columns"
    [rows]="groups"
    [stretchHeight]="true"
    class="w-full"
    emptyMessage="{{ 'grid.no-data' | transloco }}"
    fromTitle="{{ 'grid.from-title' | transloco }}"
    pagerTitle="{{ 'grid.pager-title' | transloco }}"
  >
  </md-datagrid>
</div>
<div class="flex button-row">
  <md-button (click)="addGroup()">{{ 'member-of.add' | transloco }}</md-button>
  <md-button (click)="deleteGroup()">{{ 'member-of.delete' | transloco }}</md-button>
</div>
<hr />
<div class="flex gap-1">
  <div class="grow-1">{{ 'member-of.primary-group' | transloco }}</div>
  <div class="grow-1">Administrators</div>
</div>
<div class="flex primary-group-block">
  <div class="grow-1">
    <md-button [disabled]="true">{{ 'member-of.make-primary' | transloco }}</md-button>
  </div>
  <div class="grow-1">
    {{ 'member-of.primary-note' | transloco }}
  </div>
</div>
