<div class="domain-settings">
  <div class="flex-row flex-space-between">
    <div class="pv-8 accented mb-16 w-100">
      {{ 'setup.domain-settings.header' | transloco }}
      <hr />
    </div>
  </div>
  <md-form #form>
    <div class="flex-column flex-gap-20">
      <div class="flex-row flex-space-between justify-center">
        <label class="textbox-label">
          {{ 'setup.domain-settings.domain-label' | transloco }}
        </label>

        <div class="flex-column flex-grow-1">
          <md-textbox
            appDomainFormat="^(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$"
            domainErrorMessage="{{ 'setup.domain-settings.domain-format-error' | transloco }}"
            appRequired
            appAutofocus
            [(ngModel)]="setupRequest.domain"
          ></md-textbox>
          <label class="error-message" #domainLabel></label>
        </div>
      </div>

      <div class="flex-column flex-gap-10 pt-20">
        <div class="flex-row flex-center justify-center">
          <div class="flex-column flex-grow-1">
            <md-checkbox [(ngModel)]="setupRequest.setupDns">
              {{ 'setup.domain-settings.setup-dns' | transloco }}
            </md-checkbox>
          </div>
        </div>
        <div class="flex-row flex-center justify-center">
          <div class="flex-column flex-grow-1">
            <md-checkbox [(ngModel)]="setupRequest.setupKdc">
              {{ 'setup.domain-settings.setup-kdc' | transloco }}
            </md-checkbox>
          </div>
        </div>
        <div *ngIf="setupRequest.setupKdc" class="flex-row flex-center justify-center">
          <div class="flex-column flex-grow-1">
            <md-checkbox
              [(ngModel)]="setupRequest.generateKdcPasswords"
              (ngModelChange)="onGenerateChange()"
            >
              {{ 'setup.domain-settings.generate-kdc-passwords' | transloco }}
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </md-form>
</div>
