<div class="domain-settings">
  <div class="flex justify-between">
    <div class="pv-8 accented mb-16 w-full">
      {{ 'setup.domain-settings.header' | transloco }}
      <hr />
    </div>
  </div>
  <md-form #form>
    <div class="flex flex-col gap-2">
      <div class="flex justify-between justify-center">
        <label class="textbox-label">
          {{ 'setup.domain-settings.domain-label' | transloco }}
        </label>

        <div class="flex flex-col flex-grow-1">
          <md-textbox
            appDomainFormat="^(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$"
            domainErrorMessage="{{ 'setup.domain-settings.domain-format-error' | transloco }}"
            appRequired
            appAutofocus
            [(ngModel)]="setupRequest.domain"
          ></md-textbox>
          <label class="error-message" #domainLabel></label>
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <div class="flex justify-center">
          <div class="flex flex-col flex-grow-1">
            <md-checkbox [(ngModel)]="setupRequest.setupDns">
              {{ 'setup.domain-settings.setup-dns' | transloco }}
            </md-checkbox>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="flex flex-col flex-grow-1">
            <md-checkbox [(ngModel)]="setupRequest.setupDhcp">
              {{ 'setup.domain-settings.enableDhcp' | transloco }}
            </md-checkbox>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="flex flex-col flex-grow-1">
            <md-checkbox [(ngModel)]="setupRequest.setupKdc">
              {{ 'setup.domain-settings.setup-kdc' | transloco }}
            </md-checkbox>
          </div>
        </div>
        @if (setupRequest.setupKdc) {
          <div class="flex justify-center">
            <div class="flex flex-col flex-grow-1">
              <md-checkbox
                [(ngModel)]="setupRequest.generateKdcPasswords"
                (ngModelChange)="onGenerateChange()"
              >
                {{ 'setup.domain-settings.generate-kdc-passwords' | transloco }}
              </md-checkbox>
            </div>
          </div>
        }
      </div>
    </div>
  </md-form>
</div>
