<div class="app-modal-header">
  {{ 'properties-modal.modal-header' | transloco }}
</div>

<div class="h-100">
  @switch (entityType) {
    @case (EntityTypes.User) {
      <app-user-properties class="block h-100" [accessor]="accessor"></app-user-properties>
    }
    @case (EntityTypes.Group) {
      <app-group-properties class="block h-100" [accessor]="accessor"></app-group-properties>
    }
    @case (EntityTypes.Computer) {
      <app-computer-properties class="block h-100" [accessor]="accessor"></app-computer-properties>
    }
    @default {
      <div class="block flex-row h-100">
        <app-entity-attributes [accessor]="accessor" class="w-100"></app-entity-attributes>
      </div>
    }
  }
</div>

<div class="app-modal-footer flex-row flex-end">
  <md-button class="pr-8" (click)="save()">{{ 'properties-modal.close' | transloco }}</md-button>
  <md-button [primary]="true" (click)="save(true)">{{
    'properties-modal.approve' | transloco
  }}</md-button>
</div>
