<div class="app-modal-header">
    {{ "change-password.header" | transloco}} {{ un }}
</div>
<div class="app-modal-body">
    <md-form #form>
        <div class="flex-column flex-gap-20 ">
            <div class="flex-row flex-gap-10  flex-space-between  justify-center">
                <label  class="textbox-label">{{ "change-password.password-label" | transloco }}</label>
                <div class="flex-column  flex-grow-1">
                    <md-textbox required [password]="true" [(ngModel)]="changeRequest.new_password" 
                        #passwordInput></md-textbox>
                </div>
            </div>
            
            <div class="flex-row flex-gap-10  flex-space-between  justify-center">
                <label  class="textbox-label">{{ "change-password.password-repeat-label" | transloco }}</label>
                <div class="flex-column flex-grow-1">
                    <md-textbox  required [appPasswordMatch]="changeRequest.new_password" [password]="true" [(ngModel)]="repeatPassword"></md-textbox>
                </div>
            </div>   
        </div>
        
    </md-form>
</div>
<div class="app-modal-footer">
    <div class="flex-row align-center justify-end flex-gap-10">
        <md-button (click)="close()">
            {{ "change-password.cancel" | transloco}}
        </md-button>
        <md-button [disabled]="!formValid" (click)="finish()" [primary]="true">
                {{ 'change-password.finish' | transloco }}
        </md-button>
    </div>
</div>