<div class="row align-start pv-8">
  <div class="col-xs-7 flex-column align-start flex-grow-1 flex-gap-10">
    <label for="login">{{ 'user-properties.login-label' | transloco }}</label>
    <md-textbox
      class="tall-textbox"
      appRequired
      name="login"
      *ngIf="accessor"
      [(ngModel)]="accessor.cn"
    ></md-textbox>
  </div>
  <div class="col-xs-5 flex-column align-start flex-grow-1 flex-gap-10">
    <label>{{ 'user-properties.domain-label' | transloco }}</label>
    <md-dropdown
      appRequired
      name="upnDomain"
      [options]="domains"
      [(ngModel)]="upnDomain"
    ></md-dropdown>
  </div>
</div>
<!--div class="row align-start pv-8">
    <div class="col-xs-7 flex-column align-start flex-grow-1 flex-gap-10">
        <label for="login">{{ "user-properties.legacy-login-label" | transloco }}</label>
        <md-textbox [disabled]="true" name="login"></md-textbox>
    </div>
    <div class="col-xs-5 flex-column align-start flex-grow-1 flex-gap-10">
        <label>{{ "user-properties.domain-label" | transloco }}</label>
        <md-textbox [disabled]="true" name="domain"></md-textbox>
    </div>
</div-->
<div class="flex-row flex-gap-10 align-start pv-8">
  <md-button (click)="showLogonTimeEditor()">{{
    'user-properties.login-time' | transloco
  }}</md-button>
  <md-button>{{ 'user-properties.login-resources' | transloco }}</md-button>
</div>
<div class="row align-start pv-8">
  <div class="col-xs-6 flex-column align-start flex-grow-1 flex-gap-10">
    <md-checkbox>{{ 'user-properties.unlock-account' | transloco }}</md-checkbox>
  </div>
</div>
<md-group
  title="{{ 'user-properties.password-settings-title' | transloco }}"
  class="align-start pv-8 mv-16"
>
  <div class="col-xs-12">
    <div class="flex-column" style="height: 90px; overflow-y: scroll">
      <!-- user musst change password at next logon  -->
      <md-checkbox
        name="userShouldChangePassword"
        id="userShouldChangePassword"
        [(ngModel)]="userShouldChangePassword"
      >
        {{ 'user-properties.user-should-change-password' | transloco }}
      </md-checkbox>
      <!-- user cannot change password-->
      <md-checkbox
        name="user-unable-change-password"
        id="user-unable-change-password"
        [disabled]="true"
      >
        {{ 'user-properties.user-unable-change-password' | transloco }}
      </md-checkbox>
      <md-checkbox
        name="password-never-expires"
        id="password-never-expires"
        [(ngModel)]="passwordNeverExpires"
      >
        {{ 'user-properties.password-never-expires' | transloco }}
      </md-checkbox>
      <md-checkbox name="account-disabled" id="account-disabled" [(ngModel)]="accountDisabled">
        {{ 'user-properties.account-disabled' | transloco }}
      </md-checkbox>
      <!-- Store password using reversible encryption -->
      <md-checkbox
        name="store-password-reversible"
        id="store-password-reversible"
        [(ngModel)]="storePasswordReversible"
      >
        {{ 'user-properties.store-password-reversible' | transloco }}
      </md-checkbox>
      <!-- Account is disabled -->
      <!-- Smart card is appRequired  for interactive log in -->
      <!-- Account is sensitive and cannot be delegated -->
      <!-- Use only Kerberos DES encryption types with this account  -->
      <!-- This account supports Kerberos AES 128 bit encryption -->
      <!-- This account supports Kerberos AES 256 bit encryption -->
      <!-- Do not require Kerberos preauthentication -->
    </div>
  </div>
</md-group>
<div class="row align-start pv-8">
  <md-group title="{{ 'user-properties.password-expire-title' | transloco }}" class="col-xs-12">
    <div class="flex-column">
      <md-radiogroup [(ngModel)]="accountExpires" #accountExpirationRadiogroup></md-radiogroup>
      <md-radiobutton
        [group]="accountExpirationRadiogroup"
        [value]="false"
        name="accountNeverExpires"
        id="accountNeverExpires"
      >
        {{ 'user-properties.never' | transloco }}
      </md-radiobutton>
      <div class="flex-row flex-gap-10">
        <md-radiobutton
          [group]="accountExpirationRadiogroup"
          [value]="true"
          name="accountNeverExpires"
          id="accountSometimesExpires"
        >
          <label style="padding-right: 8px">
            {{ 'user-properties.expires-label' | transloco }}
          </label>
        </md-radiobutton>
        <md-datepicker
          [disabled]="!accountExpirationRadiogroup.value"
          [(ngModel)]="accessor.accountExpires"
          #datePicker
        ></md-datepicker>
      </div>
    </div>
  </md-group>
</div>

<ng-template modalInject #editLogonTime="modalInject">
  <app-logon-time-editor></app-logon-time-editor>
</ng-template>
