<app-dialog #dialog>
  <div class="app-modal-header">{{ 'change-password.header' | transloco }} {{ un }}</div>
  <div class="app-modal-body">
    <md-form #form>
      <div class="flex flex-col gap-4">
        @if (me) {
          <div class="flex gap-4 justify-between justify-center">
            <label class="textbox-label">{{ 'change-password.old-password-label' | transloco }}</label>
            <div class="flex flex-col flex-grow-1">
              <md-textbox
                #passwordInput="ngModel"
                (focus)="openSuggest($event)"
                (blur)="closeSuggest()"
                (keyup)="checkModel()"
                [(ngModel)]="changeRequest.old_password"
                [appPasswordMatch]="repeatPasswordInput"
                [password]="true"
                appPasswordShouldBeValid
                appRequired
              ></md-textbox>
            </div>
          </div>
        }
        <div class="flex gap-4 justify-between justify-center">
          <label class="textbox-label">{{ 'change-password.password-label' | transloco }}</label>
          <div class="flex flex-col flex-grow-1">
            <md-textbox
              #passwordInput="ngModel"
              (focus)="openSuggest($event)"
              (blur)="closeSuggest()"
              (keyup)="checkModel()"
              [(ngModel)]="changeRequest.new_password"
              [appPasswordMatch]="repeatPasswordInput"
              [password]="true"
              appPasswordShouldBeValid
              appRequired
            ></md-textbox>
          </div>
        </div>
        <div class="flex gap-4 justify-between justify-center">
          <label class="textbox-label">{{
            'change-password.password-repeat-label' | transloco
          }}</label>
          <div class="flex flex-col flex-grow-1">
            <md-textbox
              #repeatPasswordInput="ngModel"
              (keyup)="checkModel()"
              [(ngModel)]="repeatPassword"
              [appPasswordMatch]="passwordInput"
              [password]="true"
              appRequired
            ></md-textbox>
          </div>
        </div>
      </div>
    </md-form>
  </div>
  <div class="app-modal-footer">
    <div class="flex align-center justify-end gap-4">
      <md-button (click)="close()">
        {{ 'change-password.cancel' | transloco }}
      </md-button>
      <md-button (click)="finish()" [disabled]="!form.valid" [primary]="true">
        {{ 'change-password.finish' | transloco }}
      </md-button>
    </div>
  </div>
</app-dialog>
