<app-dialog #dialog>
  <div class="app-modal-header">{{ 'change-password.header' | transloco }} {{ un }}</div>
  <div class="app-modal-body">
    <md-form #form>
      <div class="form-container flex gap-5">
        @if (me) {
          <div class="flex flex-column gap-1">
            <label class="textbox-label">{{ 'change-password.old-password-label' | transloco }}</label>
            <div class="flex flex-col flex-grow-1">
              <md-textbox [(ngModel)]="changeRequest.old_password" [password]="true" appRequired></md-textbox>
            </div>
          </div>
        }
        <div class="flex flex-column gap-1">
          <label class="textbox-label">{{ 'change-password.password-label' | transloco }}</label>
          <div class="flex flex-col flex-grow-1">
            <md-textbox
              #passwordInput="ngModel"
              appPasswordShouldBeValid
              appRequired
              [appPasswordMatch]="repeatPasswordInput"
              [password]="true"
              [passwordPolicy]="passwordPolicy"
              [(ngModel)]="changeRequest.new_password"
              (keyup)="checkModel()"
            ></md-textbox>
          </div>
        </div>
        <div class="flex flex-column gap-1">
          <label class="textbox-label">{{ 'change-password.password-repeat-label' | transloco }}</label>
          <div class="flex flex-col flex-grow-1">
            <md-textbox
              #repeatPasswordInput="ngModel"
              (keyup)="checkModel()"
              [(ngModel)]="repeatPassword"
              [appPasswordMatch]="passwordInput"
              [password]="true"
              appRequired
            ></md-textbox>
          </div>
        </div>

        <md-button type="button" class="requirements-button" [primary]="true" (click)="togglePasswordRequirements()">{{
          passwordRequirementsLabel()
        }}</md-button>

        <div class="password-conditions-wrapper" [class.visible]="showPasswordRequirements()">
          <app-password-conditions [policy]="passwordPolicy" [currentPassword]="password()"></app-password-conditions>
        </div>
      </div>
    </md-form>
  </div>
  <div class="app-modal-footer">
    <div class="flex align-center justify-end gap-4">
      <md-button (click)="close()">
        {{ 'change-password.cancel' | transloco }}
      </md-button>
      <md-button (click)="finish()" [disabled]="!form.valid" [primary]="true">
        {{ 'change-password.finish' | transloco }}
      </md-button>
    </div>
  </div>
</app-dialog>
