.app-modal-body {
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.password-conditions-wrapper {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.25s ease-in-out,
    margin-top 0.25s ease-in-out;
  margin: 0;
  padding: 0;
  margin-top: -1.25rem;

  &.visible {
    max-height: unset;
    margin-top: 0;
  }
}

.requirements-button {
  max-inline-size: fit-content;
}
