<div class="bg-white-neutral app-layout flex-row">
  <div
    [ngClass]="{
      'left-pane-visible': showLeftPane,
    }"
    class="left-pane"
  >
    <app-sidebar />
  </div>
  <div class="right-pane w-100 h-100">
    <app-header />
    <div class="right-pane-content">
      <router-outlet></router-outlet>
      <md-slideshift
        #notifications
        (hide)="onNotificationsHide()"
        [showSlideshift]="showNotifications"
      >
        <app-notifications />
      </md-slideshift>
    </div>
    <hotkeys-cheatsheet
      title="{{ 'home.hotkeys' | transloco }}"
      #helpcheatSheet
      (keydown)="closeCheatsheet()"
      title="{{ 'home.hotkeys' | transloco }}"
    />

    <router-outlet name="footer"></router-outlet>
  </div>
</div>
<app-windows />
