<div class="bg-white-neutral app-layout flex-row">
  <div
    class="left-pane"
    [ngClass]="{
      'left-pane-visible': showLeftPane,
    }"
  >
    <app-sidebar></app-sidebar>
  </div>
  <div class="right-pane w-100 h-100">
    <app-header></app-header>
    <div class="right-pane-content">
      <router-outlet></router-outlet>
      <md-slideshift
        #notifications
        [showSlideshift]="showNotifications"
        (hide)="onNotificationsHide()"
      >
        <app-notifications></app-notifications>
      </md-slideshift>
    </div>
    <hotkeys-cheatsheet
      title="{{ 'home.hotkeys' | transloco }}"
      #helpcheatSheet
      (keydown)="closeCheatsheet()"
    ></hotkeys-cheatsheet>

    <router-outlet name="footer"></router-outlet>
  </div>
</div>
<app-windows />
<app-context-menu />
